.contact-div {
	text-align: center;
	padding-top: 5.9vw;
	font-family: Helvetica-Light;
	font-size: 1.4vw;
  margin-bottom: 6vw;

  @media only screen and (max-width: 768px) {
    font-size: 4.2vw;
  }

	> p {
    padding-left: 18.9vw;
    padding-right: 18.9vw;
		font-family: Helvetica-Light;
		font-size: 1.6vw;


    @media only screen and (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 13px;
    }
	}
}

@media only screen and (min-width: 1200px) {
  .d-large {
    width: 1200px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-div {
    padding-top: 70.8px;
    font-size: 16.8px;
    margin-bottom: 72px;
  
    > p {
      padding-left: 0;
      padding-right: 0;
      font-size: 19.2px;
    }
  }
}