.contact-div {
	text-align: center;
	padding-top: 5.9vw;
	font-family: Helvetica-Light;
	font-size: 1.4vw;
  margin-bottom: 6vw;

  @media only screen and (max-width: 768px) {
    font-size: 4.2vw;
  }

	> p {
    padding-left: 18.9vw;
    padding-right: 18.9vw;
		font-family: Helvetica-Light;
		font-size: 1.6vw;


    @media only screen and (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 13px;
    }
	}
}

