<div class="contact_div">
  <h1>Contact</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula pharetra, mollis magna id, tristique dui. Vestibulum convallis tristique tempor. Nulla tristique pulvinar magna vitae blandit.</p>

  <form class="contact_form">
    <div class="contact_top">
      <select>
        <option selected disabled>🡫 Type</option>
        <option>Type 1</option>
        <option>Type 2</option>
        <option>Type 3</option>
      </select>

      <select>
        <option selected disabled>🡫 Subject</option>
        <option>Subject 1</option>
        <option>Subject 2</option>
        <option>Subject 3</option>
      </select>
    </div>

    <input placeholder="Can you describe you enquiry?*" required/>
    

    <div>
      <input placeholder="First Name*" reaquired/>
      <input placeholder="Last Name*" required/>
    </div>
    
    <div>
      <select palceholder="Country">
        <option selected disabled>🡫 Country</option>
        <option>Country 1</option>
        <option>Country 2</option>
        <option>Country 3</option>
      </select>
      <input placeholder="Adress"/>
    </div>

    <div>
      <input placeholder="City*" required/>
      <input placeholder="Province"/>
    </div>

    <div>
      <input placeholder="ZIP Code"/>
      <input placeholder="Email*" required/>
    </div>

    <button>Submit</button>
  </form>

</div>
