::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }

h1{
    font-family: PlacardMT-Condensed;
    font-size: 4em;
    margin-bottom: 3vh;
    text-transform: uppercase;
}

textarea{
    margin: auto;
    background-color: #F6EEDD;
    border: none;
    width: 45vw;
    outline: none;
}


.contact_div
{
    text-align: center;

    margin-bottom: 5vh;
    font-family: Atak-Regular;
    font-size: 20px;
}
.contact_div > p{
    font-family: Atak-Medium;
    font-size: 26px;
    padding-left: 275px;
    padding-right: 275px;
}
.contact_form
{
    width: 90%;
    margin: auto;
    margin-top: 4.8vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.contact_form:focus, .contact_form > input:focus, textarea:focus, select:focus
{
    outline: none;
}
.contact_form > input
{
    margin: auto;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 

    outline: none;
    border: hidden;

    width: 45vw;
    background-color: transparent;


    border: none;
    border-bottom: 1.5px solid black;

    margin-top: 1.5vw;
    padding-bottom: 0px;
}

.contact_top
{
    margin: auto;
    
    margin-right: 0px !important;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
select
{
    margin: auto;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;  

    width: 45vw;
    background-color: transparent;

    border: none;
    border-bottom: 1.5px solid black;

    margin-bottom: 1em;
    margin-top: 4vw;


    
}
.contact_form > button
{
    text-transform: uppercase;

    margin: auto;
    background-color: white;
    color: black;

    margin-top: 5.3em;
    margin-bottom: 4em;
    border: none;

    width: 20%;
}
.contact_div > div{
    width: 100vw;
    background-color: #E9D6AC;
}