<div>
  <div class="location">Home &#62; Contact</div>

  <div class="contact_div">
    <h1>Contact</h1>
    <p>Nous sommes à votre disposition pour toute demande
        d’informations complémentaires au sujet du Groupe,
        de nos services et de nos marques, contactez-nous directement
        via le formulaire ci-dessous. Nous reviendrons vers vous dans les
        plus brefs délais. </p>

    <form class="contact_form">
      <select>
        <option selected disabled>🡫 Sujet</option>
        <option>Type 1</option>
        <option>Type 2</option>
        <option>Type 3</option>
      </select>
      <br>

      <textarea placeholder="Votre message*" required></textarea>

      
        <input placeholder="First Name*" reaquired/>
        <input placeholder="Last Name*" required/>
      
        <select palceholder="Country">
          <option selected disabled>🡫 Country</option>
          <option>Country 1</option>
          <option>Country 2</option>
          <option>Country 3</option>
        </select>
        <input placeholder="Address"/>

        <input placeholder="City*" required/>
        <input placeholder="Province"/>

        <input placeholder="ZIP Code"/>
        <input placeholder="Email*" required/>

      <button>Submit</button>
    </form>

  </div>
</div>
