<div>

  <div class="contact_div">
    <h1>Contact</h1>
    <p>Nous sommes à votre disposition pour toute demande
        d’informations complémentaires au sujet du Groupe,
        de nos services et de nos marques, contactez-nous directement
        via le formulaire ci-dessous. Nous reviendrons vers vous dans les
        plus brefs délais. </p>
    
    <div>
      <form class="contact_form">
        <select>
          <option selected disabled>Sujet* 🡫</option>
          <option>Sujet 1</option>
          <option>Sujet 2</option>
          <option>Sujet 3</option>
        </select>
        <br>

        <div>
          <span>Pouvez vous preciser?</span><br>
          <textarea placeholder="Votre message*" rows="4" required></textarea>
        </div>
      
        <input placeholder="Prenom*" reaquired/>
        <input placeholder="Nom*" required/>
        <input placeholder="Societe*" required/>
        <input placeholder="Poste*" required/>
        <select id="country">
          <option selected disabled>Pays 🡫</option>
          <option *ngFor="let ctry of this.cy; let x = index" >{{cy[x].name}}</option>
        </select>
        <input placeholder="Adresse"/>
        <input placeholder="Ville*" required/>
        <input placeholder="Province"/>
        <input placeholder="Code Postal*"/>
        <input placeholder="Email*" required/>

        <br>
        <button>ENVOYER</button>
      </form>
      </div>
  </div>
</div>
