.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: lightgrey;
}
hr{
    border-width: 1px;
    border-style: solid;
}
img{
    width: 120px;
    height: 120px;
}