hr {
    border: 0.5px solid #DBBB76;
}

h5 {
    font-family: Atak-Light;
    font-size: 1.8vw;

    text-transform: uppercase;
}

/* data list from modal */
ul {
    margin-left: 10px;
    padding: 0px !important;
 }

 label {
    margin: 0px !important;
}

.nav-pills .nav-link {

    font-family: Atak-Medium;
    font-size: 1.25vw;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #DBBB76;
    background-color: white;
}

.img-button {
    width: 120px;
    height: 120px;
}

.pagination > li > a, .pagination > li > span { 
    color: #000; 
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: lightgrey;
    border-color: lightgrey;
    color:#fff;
}

.clear{
    height: 20px;
}

/* workaround to fix bootstrap`s modal bug in Angular
   Without this fix the dark background will cover the modal. */
.modal {
    background-color: rgba(0, 0, 0, 0.3);
  }

.modal-backdrop {
    position: relative;
  }

.modal-body {
    padding: 0px !important;
}

.card {
    padding: 0px !important;
}


#container {
    display:flex;
}

#static {
    flex:1;
}

#content {
    flex:3;
}

#thumbnail-container {
    padding: 0px !important;
}

#garnissage-detail {
    margin: 5px;
}