<!-- CONTAINER -->
<div id="container">
  <!--
  <div id="staticText" (click)="toggleElement()">
    <h5 *ngIf="stdText" [innerHTML]="stdText.matFin"></h5>
    <img alt="JNL Collection" src="\assets\Images\Common\mobile_arrow_down.png" class="arrow-down">
  </div>
  -->
  <br>
  <br>
  <br>
  <div id="contentMatFin" [ngClass]="(this.toggleMat) ? 'hide-item' :'show-item'">
    <div id="static">
      <div class="nav flex-column nav-pills" id="pills" role="tablist" aria-orientation="vertical" *ngIf="stdText">
        <a class="nav-link nav-position active" id="tissu-tab" data-toggle="pill" href="#tissu" role="tab"
          aria-controls="tissu" aria-selected="true" *ngIf="tissus" (click)="setCategory('tissu')">{{stdText.tissus}}</a>
        <a class="nav-link nav-position" id="cuir-tab" data-toggle="pill" href="#cuir" role="tab" aria-controls="cuir"
          aria-selected="false" *ngIf="cuirs" (click)="setCategory('cuir')">{{stdText.cuirs}}</a>
        <a class="nav-link nav-position" id="similiCuir-tab" data-toggle="pill" href="#similiCuir" role="tab"
          aria-controls="similiCuir" aria-selected="false" *ngIf="similiCuirs" (click)="setCategory('simili')">{{stdText.simili}}</a>
        <!--
        <a class="nav-link nav-position" id="bois-tab" data-toggle="pill" href="#bois" role="tab" aria-controls="bois"
          aria-selected="false" *ngIf="bois" (click)="setCategory('bois')">Bois Massif</a>
        <a class="nav-link nav-position" id="metal-tab" data-toggle="pill" href="#metal" role="tab"
          aria-controls="metal" aria-selected="false" *ngIf="metals" (click)="setCategory('metal')">M&eacute;tal</a>
        <a class="nav-link nav-position" id="abatjour-tab" data-toggle="pill" href="#abatjour" role="tab"
          aria-controls="abatjour" aria-selected="false" *ngIf="abatjours"
          (click)="setCategory('abatjour')">Abat-jour</a>
        <a class="nav-link nav-position" id="verre-tab" data-toggle="pill" href="#verre" role="tab"
          aria-controls="verre" aria-selected="false" *ngIf="verre">Verre</a>
        <a class="nav-link nav-position" id="miroir-tab" data-toggle="pill" href="#miroir" role="tab"
          aria-controls="miroir" aria-selected="false" *ngIf="miroir">Miroir</a>
        <a class="nav-link nav-position" id="pierre-tab" data-toggle="pill" href="#pierre" role="tab"
          aria-controls="pierre" aria-selected="false" *ngIf="pierre" (click)="setCategory('pierre')">Pierre</a>
        <a class="nav-link nav-position" id="placage-tab" data-toggle="pill" href="#placage" role="tab"
          aria-controls="placage" aria-selected="false" *ngIf="placages" (click)="setCategory('placage')">Placage</a>
          -->
      </div>
    </div>
    <div id="content">
      <div class="tab-content" id="tabContent">
        <br>

        <!-- TISSUS TAB------------------------->
        <div class="tab-pane fade show active" id="tissu" role="tabpanel" aria-labelledby="tissu-tab">
          <cdk-virtual-scroll-viewport itemSize="30" maxBufferPx="4000"class="example-viewport">
            <div class="scroll-container">
              <ng-container *cdkVirtualFor="let item of tissus" class="example-item">
                <div class="scroll-item" (click)="sendItemToModal(item)" data-toggle="modal"
                  data-target="#garnissageModal">
                  <a>
                    <img id="thumbnail-img" class="img-button"
                      src="assets\Images\Products\JNL Collection\Garnissage\Tissu\{{item.codeProd | uppercase }}.jpg"
                      alt="">
                  </a>
                  <div>
                    <h6>{{item.model}}</h6>
                  </div>
                  <div class="clear"></div>
                </div>
              </ng-container>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>

        <!-- CUIRS TAB------------------------->
        <div class="tab-pane fade" id="cuir" role="tabpanel" aria-labelledby="cuir-tab">
          <cdk-virtual-scroll-viewport itemSize="6" class="example-viewport">
            <div class="scroll-container">
              <ng-container *cdkVirtualFor="let item of cuirs" class="example-item">
                <div class="scroll-item">
                  <a>
                    <img id="thumbnail-img" class="img-button" data-toggle="modal" data-target="#garnissageModal"
                      src="assets\Images\Products\JNL Collection\Garnissage\Cuir\{{item.codeProd | uppercase }}.jpg"
                      alt="" (click)="sendItemToModal(item)">
                  </a>
                  <div>
                    <h6>{{item.model}}</h6>
                  </div>
                  <div class="clear"></div>
                </div>
              </ng-container>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>

        <!-- SIMILI CUIRS TAB------------------------->
        <div class="tab-pane fade" id="similiCuir" role="tabpanel" aria-labelledby="similiCuir-tab">
          <cdk-virtual-scroll-viewport itemSize="6" class="example-viewport">
            <div class="scroll-container">
              <ng-container *cdkVirtualFor="let item of similiCuirs" class="example-item">
                <div class="scroll-item">
                  <a>
                    <img id="thumbnail-img" class="img-button" data-toggle="modal" data-target="#garnissageModal"
                      src="assets\Images\Products\JNL Collection\Garnissage\simili\{{item.codeProd | uppercase }}.jpg"
                      alt="" (click)="sendItemToModal(item)">
                  </a>
                  <div>
                    <h6>{{item.model}}</h6>
                  </div>
                  <div class="clear"></div>
                </div>
              </ng-container>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>

        <!--
        <div class="tab-pane fade" id="bois" role="tabpanel" aria-labelledby="bois-tab">
          <span *ngFor="let item of bois">{{item}}, </span>
        </div>

        <div class="tab-pane fade" id="metal" role="tabpanel" aria-labelledby="metal-tab">
          <span *ngFor="let item of metals">{{item}}, </span>
        </div>

        <div class="tab-pane fade" id="abatjour" role="tabpanel" aria-labelledby="abatjour-tab">
          <span *ngFor="let item of abatjours">{{item}}, </span>
        </div>

        <div class="tab-pane fade" id="verre" role="tabpanel" aria-labelledby="verre-tab">
          <span *ngFor="let item of verre">{{item}}, </span>
        </div>

        <div class="tab-pane fade" id="miroir" role="tabpanel" aria-labelledby="miroir-tab">
          <b>---Miroir</b>
        </div>

        <div class="tab-pane fade" id="pierre" role="tabpanel" aria-labelledby="pierre-tab">
          <b>---Pierre</b>
        </div>

        <div class="tab-pane fade" id="placage" role="tabpanel" aria-labelledby="placage-tab">
          <span *ngFor="let item of placages">{{item}}, </span>
        </div>
        -->
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="garnissageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" *ngIf="material" (click)="closeModal()" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div style="width: 30px;"></div><!-- empty div for alignment purposes-->
        <div>
          <h4 class="modal-title" id="ModalLabel">{{material.model}}</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body flex-container">
        <div class="whiteSpace">
          <img class="arrow cursor-pointer" src="assets\Images\Common\arrow_left.png" (click)="navigate('previous')">
        </div>
        <div class="cardContainer">
          <div class="card">
            <img
              src="assets\Images\Products\JNL Collection\Garnissage\{{matCategory}}\Print\{{material.codeProd | uppercase }}.jpg"
              class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                <ul style="list-style-type:none">
                  <li><b>Name: </b><label>{{material.model}}</label></li>
                  <li><b>Code: </b><label>{{material.codeProd}}</label></li>
                  <li><b>Dimensions: </b><label>{{material.dimensions}}</label></li>
                  <li><b>Martindale: </b><label>{{material.martindale}}</label></li>
                  <li><b>Composition: </b></li>
                  <li><label>{{material.compositionFR}}</label></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="whiteSpace">
          <img class="arrow cursor-pointer" src="assets\Images\Common\arrow_right.png" (click)="navigate('next')">
        </div>
      </div>
    </div>
  </div>
</div>