<div id="container">
  <h5><b>Mati&egrave;res &amp; Finitions</b></h5>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-tissu-tab" data-toggle="pill" href="#v-pills-tissu" role="tab"
          aria-controls="v-pills-tissu" aria-selected="true" (click)="setDetail(0)">Tissus</a>
        <a class="nav-link" id="v-pills-cuir-tab" data-toggle="pill" href="#v-pills-cuir" role="tab" aria-controls="v-pills-cuir"
          aria-selected="false" (click)="setDetail(1)">Cuirs</a>
        <a class="nav-link" id="v-pills-metal-tab" data-toggle="pill" href="#v-pills-metal" role="tab" aria-controls="v-pills-metal"
          aria-selected="false" (click)="setDetail(2)">Metal</a>
        <a class="nav-link" id="v-pills-bois-tab" data-toggle="pill" href="#v-pills-bois" role="tab" aria-controls="v-pills-bois"
          aria-selected="false" (click)="setDetail(3)">Bois &amp; Plaquage</a>
        <a class="nav-link" id="v-pills-verre-tab" data-toggle="pill" href="#v-pills-verre" role="tab" aria-controls="v-pills-verre"
          aria-selected="false" (click)="setDetail(4)">Verre</a>
        <a class="nav-link" id="v-pills-miroir-tab" data-toggle="pill" href="#v-pills-miroir" role="tab" aria-controls="v-pills-miroir"
          aria-selected="false" (click)="setDetail(5)">Miroir</a>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-tissu" role="tabpanel" aria-labelledby="v-pills-tissu-tab">
          <b>---Tissus</b>
          <br>
          <div class="row text-center text-lg-left">
            <div class="col-lg-2 col-md-4 col-6">
              <a data-toggle="modal" data-target="#garnissageModal" class="d-block mb-4">
                <img class="img-fluid img-button" src="assets\Images\Products\JNL\Garnissage\Tissu\GA10KO02.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
              <a data-toggle="modal" data-target="#garnissageModal" class="d-block mb-4">
                <img class="img-fluid img-button" src="assets\Images\Products\JNL\Garnissage\Tissu\GA10KO02.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
              <a data-toggle="modal" data-target="#garnissageModal" class="d-block mb-4">
                <img class="img-fluid img-button" src="assets\Images\Products\JNL\Garnissage\Tissu\GA10KO02.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
              <a data-toggle="modal" data-target="#garnissageModal" class="d-block mb-4">
                <img class="img-fluid img-button" src="assets\Images\Products\JNL\Garnissage\Tissu\GA10KO02.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
              <a data-toggle="modal" data-target="#garnissageModal" class="d-block mb-4">
                <img class="img-fluid img-button" src="assets\Images\Products\JNL\Garnissage\Tissu\GA10KO02.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
              <a data-toggle="modal" data-target="#garnissageModal" class="d-block mb-4">
                <img class="img-fluid img-button" src="assets\Images\Products\JNL\Garnissage\Tissu\GA10KO02.jpg" alt="">
              </a>
            </div>

          </div>
          <nav>
            <ul class="pagination pagination-sm justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
              </li>
              <li class="page-item active">
                <a class="page-link" data-target="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" data-target="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
              </li>
            </ul>
          </nav>
        </div>


        <div class="tab-pane fade" id="v-pills-cuir" role="tabpanel" aria-labelledby="v-pills-cuir-tab">
          <b>---Cuirs</b>
        </div>
        <div class="tab-pane fade" id="v-pills-metal" role="tabpanel" aria-labelledby="v-pills-metal-tab">
          <b>---Metal</b>
        </div>
        <div class="tab-pane fade" id="v-pills-bois" role="tabpanel" aria-labelledby="v-pills-bois-tab">
          <b>---Bois &amp; Plaquage</b>
        </div>
        <div class="tab-pane fade" id="v-pills-verre" role="tabpanel" aria-labelledby="v-pills-verre-tab">
          <b>---Verre</b>
        </div>
        <div class="tab-pane fade" id="v-pills-miroir" role="tabpanel" aria-labelledby="v-pills-miroir-tab">
          <b>---Miroir</b>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div class="modal fade" id="garnissageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Kong Scarlet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" id="garnissage-detail">
          <div class="card" style="width: 25rem;">
            <img src="assets\Images\Products\JNL\Garnissage\Tissu\GA10KO02_Print.jpg" class="card-img-top" alt="...">
            <!--
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
            -->
          </div>
          <div>
            <ul style="list-style-type:none">
              <li><b>Name: </b><label>Kong Scarlet</label></li>
              <li><b>Code: </b><label>GA10KO02</label></li>
              <li><b>Dimensions: </b><label>138 cm Raccord 0</label></li>
              <li><b>Composition: </b><label>55% PA 29% PE 16% CO</label></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>