hr {
    border: 0.5px solid #DBBB76;
}

h5 {
    font-family: Atak-Light;
    font-size: 1.8vw;
    text-transform: uppercase;
}

h6 {
    font-family: Atak-Light;
    font-size: 1.2vw;
}

/* data list from modal */
ul {
    margin-left: 10px;
    padding: 0px !important;
 }

 label {
    margin: 0px !important;
}

.center {
    margin: auto;
    width: 50%;
}

.nav-pills .nav-link {
    font-family: Atak-Medium;
    font-size: 1.25vw;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #DBBB76;
    background-color: white;
}

.example-viewport {
    width: 56vw;
    height: 37vw;
  }

  .scroll-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px 10px 10px 0px;
  }

  .scroll-item {
    display: flex;
    flex-direction:column;
    width: 14.86vw;
    margin-right: 2vw;
    align-items: center;
  }

.img-button {
    width:14.86vw;
    height: 8vw;
    max-width: 380px;
    max-height: 200px;
}

.clear {
    height: 2.4vw;
}

/* workaround to fix bootstrap`s modal bug in Angular
   Without this fix the dark background will cover the modal. */
.modal {
    background-color: rgba(0, 0, 0, 0.3);
  }

.modal-backdrop {
    position: relative;
  }

.modal-dialog {
    width: 70vw !important;
    min-width: 400px;
    max-width: 700px !important;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

/* close button of modal */
.close {
    margin-left: 0px !important;
}

.modal-content {
    text-align: center; 
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.arrow {
    height: 3.5vw;
    width: 1.5vw;
    margin-top: -15vw;
}

.whiteSpace {
    flex: 1;
}

.cardContainer {
    flex: 4;
}

.card {
    margin: auto;
}

.card-body {
    padding: 0.75rem;
}

#container {
    display:flex;
    flex-wrap: wrap; 
}

#static {
    flex:1;
}

#content {
    flex:3;
}