@import '~bootstrap/dist/css/bootstrap.min.css'; /* npm install bootstrap@4.1.3 */

* {
    box-sizing: border-box;
}

:root {
    --search-bar-height: 73px;
    --left-strip-width: 0; /*5.347vw;*/
    --mobile-width: 768px;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #777;  */
    background: #121A2D;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* Scroll Bar */

body
{
    font-family: 'Century Gothic';
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #888;
    cursor: pointer;
}

/* FONTS */

@font-face {
    font-family: "Atak-Bold";
    src: url('/assets/Fonts/Atak-Bold.otf'),
    url('/assets/Fonts/Atak-Bold.otf'); /* IE */
    }

@font-face {
    font-family: "Atak-Light";
    src: url('/assets/Fonts/Atak-Light.otf'),
    url('/assets/Fonts/Atak-Light.otf'); /* IE */
    }

@font-face {
    font-family: "Atak-LightItalic";
    src: url('/assets/Fonts/Atak-LightItalic.otf'),
    url('/assets/Fonts/Atak-LightItalic.otf'); /* IE */
    }

@font-face {
    font-family: "Atak-Medium";
    src: url('/assets/Fonts/Atak-Medium.otf'),
    url('/assets/Fonts/Atak-Medium.otf'); /* IE */
    }

@font-face {
    font-family: "Atak-Regular";
    src: url('/assets/Fonts/Atak-Regular.otf'),
    url('/assets/Fonts/Atak-Regular.otf'); /* IE */
    }

@font-face {
    font-family: "PlacardMT-Condensed";
    src: url('/assets/Fonts/placard-condensed.ttf'),
    url('/assets/Fonts/placard-condensed.ttf'); /* IE */
 }

 @font-face {
    font-family: "Helvetica-Light";
    src: url('/assets/Fonts/Helvetica-Light.otf'),
    url('/assets/Fonts/Helvetica-Light.otf'); /* IE */
    }