@import '~bootstrap/dist/css/bootstrap.min.css'; /* npm install bootstrap@4.1.3 */
@import '~@angular/cdk/overlay-prebuilt.css';

* {
    box-sizing: border-box;
}

:root {
    --search-bar-height: 4.531vw; /*56px;*/
    --left-strip-width: 0; /*5.347vw;*/
    --mobile-width: 768px;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #777;  */
    background: #121A2D;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* Scroll Bar */

.material-icons {  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  scroll-behavior: smooth;
}

body
{
    font-family: 'Century Gothic';
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #888;
    cursor: pointer;
}

/* FONTS */
@font-face {
    font-family: "Helvetica-Light";
    src: url('/assets/Fonts/Helvetica-Light.otf'),
    url('/assets/Fonts/Helvetica-Light.woff') format('woff');
}

/* Buttons */
.home_links {
  font-family: Helvetica-Light;
  color: #666;
  border: 1.5px solid #666;
  padding: .15vw 1.59vw;
  font-size: 1vw;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing : 1.28px;
  transition: all .5s ease;
}

.home_links:hover {
  color: #DBBB76;
  transition: all .5s ease;
  cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
