<div class="dialog-answer">
  <h1 mat-dialog-title>{{title}}</h1>
  <div mat-dialog-content>
    <div class="content">
      <span>
        <label for="language">Language&nbsp;</label>
        <select name="language" id="language" [(ngModel)]="language">
          <option *ngFor="let lang of languages">{{lang}}</option>
        </select>
      </span>
      <span>
        <label for="tarif">Tarif&nbsp;</label>
        <select name="tarif" id="tarif" [(ngModel)]="collection">
          <option *ngFor="let col of collections">{{col}}</option>
        </select>
      </span>
    </div>
  </div>
  <div mat-dialog-actions class="dialog-action">
    <label mat-button *ngFor="let label of labels; let i=index" (click)="labelClick(label)">{{label}}</label>
  </div>
</div>
