.contact-div {
	text-align: center;
	/* padding-top: 5.9vw; */
	font-family: Helvetica-Light;
	font-size: 1.4vw;
}

.contact-form {
	background-color: #e3d9c6;
	width: 100%;
	padding-top: 2vw;
	display: flex;
	flex-direction: column;
	align-content: center;

	input {
		border-radius: 0;
	}

	textarea {
		margin: auto;
		margin-top: 1.5vw;
		background-color: #f6eedd;
		border: none;
		width: 45vw;
		outline: none;
		font-size: 1.44vw;
		border-radius: 0;
  }

  small {
    @media only screen and (max-width: 768px) {
      font-size: 8px;
      line-height: 14px;
      vertical-align: middle;
    }
  }

	select {
		margin: auto;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 45vw;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid black;
		margin: auto;
		margin-top: 1.5vw;
		font-size: 1.44vw;
		border-radius: 0;
	}

	select > .default-option {
		color: #666;
	}

	p {
		width: 45vw;
		margin: auto;
		text-align: right;
	}

	&:focus,
	& > input:focus,
	textarea:focus,
	select:focus,
	button:focus {
		outline: none;
	}

	& > input, #country {
		margin: auto;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		border: hidden;
		width: 45vw;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid black;
		margin-top: 1.5vw !important;
		margin-bottom: 0 !important;
		padding-bottom: 0;
		font-size: 1.44vw;
	}

	> input.ng-invalid {
		color: red;
	}

	.i-checkbox {
		border-bottom: none;
	}

	> button {
		text-transform: uppercase;
    margin: auto;
    margin-top: 3vw;
		margin-bottom: 4vw;
		background-color: white;
		color: black;

    border: none;
    width: 15vw;
		font-size: 1.2vw;
		transition: all 0.3s ease-out;

		&:hover:not([disabled]) {
			cursor: pointer;
			color: #444;
			background-color: #f6eedd;
			font-weight: bold;
			transition: all 0.1s ease-in;
		}
	}

	> div {
		width: 45vw;
		margin: auto;
    text-align: left;

    @media only screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 16px;
    }
	}

	.a-left {
		align-content: left;
	}

	@media only screen and (max-width: 768px) {
		> p {
      width: 90vw;
      height: 20px;
		}

		input,
		select,
		textarea {
			width: 90vw !important;
			font-size: 16px;
		}

		input[type="checkbox"],
		input[type="radio"] {
			width: initial !important;
		}

		> div {
			width: initial;
		}

		> button {
      margin-top: 3vw;
      margin-bottom: 7vw;
      font-size: 12px;
      width: 20vw;
		}

		> input {
			margin-top: 5vw;
		}
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #444;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #444;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #444;
	}
}

@media only screen and (min-width: 1200px) {
	.contact-div {
		font-size: 16.8px;
	}

	.contact-form {
		textarea, select, input {
			margin-top: 18px;
			font-size: 17.3px;
		}

		> button {
			margin-top: 36px;
			margin-bottom: 48px;
			width: 180px;
			font-size: 14.4px;
		}
	}
}
