<hr>
<div id="container">
  <div id="staticText" (click)="toggleElement()">
    <h5>DESCRIPTION &amp; <br>TECHNICAL INFO</h5>
    <img alt="JNL Collection" src="\assets\Images\Common\mobile_arrow_down.png" class="arrow">
  </div>
  <div id="description" [ngClass]="(this.toggle === false) ? 'hide-item' :'show-item'">
    <p>{{productDesc[0].descriptionFr}}</p>
    <br>
    <div id="parts" *ngFor="let part of parts"><b>{{part}}:</b>
      <div>
       <span *ngFor="let mat of getMaterials(part)">{{mat}}, </span>
      </div>
      <br>
    </div> 
  </div>
</div>