hr{
    height: 0;
    border-top: 1px solid #DBBB76;
}

h2 {
    font-size: 2.4vw;
}

h5 {
    text-transform: uppercase;
    font-size: 1.68vw;
    font-weight: 100;
    font-family: Helvetica-Light;
}

.hide-item, .show-item {
    display: block;
}

.arrow {
    display: none;
}

.parts {
    font-family: Helvetica;
    font-size: 1.1vw;
}

.materials {
    font-family: Helvetica-light;
    font-size: 1vw;
    margin-bottom: .5vw;
}

.finitions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Helvetica-light;
    font-size: .7vw;
    font-style: italic;
    cursor: default !important;
    color: initial !important;
}

.pointer:hover {
    cursor: pointer;
    color: #DBBB76;
}

.pointer {
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
}

.mat-arrow {
    height: 0.8vw;
    width: 0.8vw;
    margin-bottom: 0.2vw;
}

.fin {
    width: 4.687vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 0.52vw;
}

#fin-img {
    object-fit: cover;
    text-align: center;
}

.samples {
    width: 4.166vw;
    height: 4.166vw;
}

/* .modal-dim {
    max-width: 700px !important;
    width: 70vw !important;
    min-width: 400px;
} */

.modal-header {
    display: flex;
    justify-content: space-between;
}

/* close button of modal */
.close {
    margin-left: 0 !important;
}

/* remove the blue outline */
.close:focus, .close:active {
    outline: none !important;
    box-shadow: none !important;
}

.modal-content {
    text-align: center; 
}

.modal-arrow {
    height: 2vw;
    width: 1vw;
    margin-top: 130%;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.whiteSpace {
    flex: 1;
}

.cardContainer {
    flex: 4;
}

.card {
    margin: auto;
    border: 0px !important;
}

.card-body {
    height: 30px;
}

/* workaround to fix bootstrap`s modal bug in Angular
   Without this fix the dark background will cover the modal. */
.modal {
    background-color: rgba(127, 127, 127, 0.5); 
  }

.modal-backdrop {
    position: relative;
  }

/****************************************************************/

#container {
    /* padding-top: 30px; */
    display: flex;
}

#staticText {
    width: 30.55vw;
}

#description {
    width: 40vw;
    margin: auto;
}

#description > p {
    font-family: Helvetica-Light;
    font-size: 1.1vw;
    text-align: justify;
}

@media only screen and (max-width: 800px){

    .arrow {
        /* display: inline; */
        margin: auto;
        margin-left: 0px;
        display: block;
        width: 13px;
        height: 13px;
    }

    .hide-item {
        display: none !important;
    }

    #staticText {
        width: 88.3vw;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: baseline;
    }

    #staticText > h5 {
        font-size: 4.16vw;
        text-align: center;
        width: 75.22vw;
    }

    #container {
        flex-direction: column;
    }
}
