<div id="container">
  <div id="description" [ngClass]="(this.toggle) ? 'hide-item' :'show-item'" *ngIf="productDesc">
    <p *ngIf="description">{{description}}</p>
    <div class="parts" *ngFor="let part of parts; let i = index;"><b>{{part}}:</b>
      <div class="materials">
        <span *ngFor="let mat of getMaterials(part); let i2 = index;" (click)="toggleFin('idx'+i+'idx'+i2)"
          [ngClass]="{'pointer': hasFinitions(part, mat)}">{{mat}}
          <img *ngIf="hasFinitions(part, mat)" src="\assets\Images\Common\mobile_arrow_down.png" class="mat-arrow d-print-none">
          <div class="finitions" *ngIf="hasFinitions(part, mat)">
            <div *ngFor="let fin of getFinitions(part, mat)">
              <div *ngIf="isLevelShown('idx'+i+'idx'+i2)">
                <div class="fin" (click)="sendItemToModal(fin, getFinitions(part, mat))" data-toggle="modal"
                  data-target="#finisageModal">
                  <a>
                    <img class="samples" src="assets\Images\Products\{{brand}}\Samples\{{fin.img}}">
                  </a>
                  <span class="fin-text">{{fin.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<br>

<!-- MODAL -->
<div class="modal fade" id="finisageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" *ngIf="finisage" (click)="closeModal()" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div style="width: 30px;"></div><!-- empty div for alignment purposes-->
        <div class="modal-title">
          <h4 id="ModalLabel">
            <span>
                <i class="far fa-heart heart" (click)="addToFavorites(finisage)"></i>
            </span>
            {{finisage.material}} {{finisage.name}}</h4>
        </div>
        <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body flex-container">
        <div class="whiteSpace">
          <img class="modal-arrow cursor-pointer" src="assets\Images\Common\arrow_left.png"
            (click)="navigate('previous')" *ngIf="currentFinList.length>1">
        </div>
        <div class="cardContainer">
          <div class="card">
            <img src="assets\Images\Products\{{brand}}\Samples\Print\{{finisage.img}}" class="card-img-top" alt="...">
            <!--
            <div class="card-body">
              <p class="card-text">
                <ul style="list-style-type:none">
                  <li><b>Name: </b><label>{{material.model}}</label></li>
                  <li><b>Code: </b><label>{{material.codeProd}}</label></li>
                </ul>
            </div> -->
          </div>
        </div>
        <div class="whiteSpace">
          <img class="modal-arrow cursor-pointer" src="assets\Images\Common\arrow_right.png" (click)="navigate('next')"
            *ngIf="currentFinList.length>1">
        </div>
      </div>
    </div>
  </div>
</div>