<hr>
<div id="container">
  <div id="staticText" (click)="toggleElement()">
    <h5 *ngIf="stdText" [innerHTML]="stdText.description | uppercase"></h5>
    <img alt="JNL Collection" src="\assets\Images\Common\mobile_arrow_down.png" class="arrow">
  </div>
  <div id="description" [ngClass]="(this.toggle === false) ? 'hide-item' :'show-item'" *ngIf="productDesc">
    <p>{{productDesc[0].descriptionFr}}</p>
    <div class="parts" *ngFor="let part of parts"><b>{{part}}:</b>
      <div class="materials">
        <span *ngFor="let mat of getMaterials(part)">{{mat}} 
          <div class="finitions" *ngIf="getFinitions(part, mat)">
            <span *ngFor="let fin of getFinitions(part, mat)">-{{fin}}- </span>
          </div>
        </span>
      </div>
    </div> 
  </div>
</div>