h1{
    font-family: PlacardMT-Condensed;
    font-size: 4em;
    margin-bottom: 3vh;

    text-transform: uppercase;

    text-align: center !important;
}
h2{
    font-family: Atak-Regular;
    font-size: 50px;
}
h3{
    text-transform: uppercase;
    font-family: Atak-Regular;
    color: #DBBB76;
    font-size: 20px;

    margin-bottom: 1.5vw;
}
h4{
    margin: auto;
    font-size: 26px;

    font-family: Atak-Medium;

    margin-top: 3.3vw;
    text-align: center;
}
h6 {
    margin-top: 1.7vw;

    font-family: Atak-Bold;
    font-size: 18px;

    text-align: center;
}


.location{
    font-family: Atak-Regular;
    font-size: 17px;

    margin-bottom: 5.5vw;
}
.marques_selected{
    text-decoration: underline !important;
}

.marques-gold, .marques-gold:link, .marques-gold:visited{
    color: #DBBB76 !important;
}

.home-links-flex {
    width: 69.4vw;
    margin: auto;

    display: flex;
    justify-content: space-between;

}

.home_links
{
    border: 1.5px solid #DBBB76;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    height: auto;

    font-size: 1em;

    text-transform: uppercase;
    
    
}

.marques-image{
    width: 76vw;

    margin-top: 1.6vw;
    margin-bottom: 4.2vw;
}

.marque-main{
    text-align: center;
    display: flex;
}

.marque-main > div{
    margin: auto;
}

.location{
    text-align: center;

    font-family: Atak-Regular;
    font-size: 17px;
}

.heritage
{
    width: 100vw;
    min-height: 558px;

    background-color: white;

    display: flex;
}
.heritage > div
{
    margin: auto;
    padding-left: 245px;
    padding-right: 245px;

    text-align: center;
}
.heritage > div > p
{
    font-size: 1.6em;
    line-height: 1.24em;

    width: 55vw;
    margin: auto;

    font-family: Atak-Regular;
    font-size: 20px;

    margin-bottom: 5vw;
}
.heritage > div > p > a
{
    font-size: 0.6em;
}

.full-image {
    margin-top: 3.4vw;
    left: 0;
    width: 100vw;
    height: auto;

}


.container {
    display: flex;
    flex-direction: column;
    height: auto;
}


#marques_list{
    width: 73vw;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0px;
    justify-content: center;

    margin-bottom: 7.5vw;
}

#marques_list > a{
    margin: auto;

    font-size: 1.5em;
}

#marques_list > a:hover{
    text-decoration: underline;
}


#les_produits {
    width: 100vw;
    padding: 0px;
    height: auto;

    background-color: #D3D3D3;
    color: black;

    display: flex;
    flex-direction: row;
}

#produits_main {
    margin: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#produits_main > h1 {
    margin: auto;
    margin-top: 10px;
}

.carousel-produits {
    width: 100vw;
    height: 50vw; /*60vh;*/
    padding-top: 3.15vw; /*5vh;*/
}

.carousel-arrows {
    height: 4vw;
    width: 2vw;
    margin-top: -11vw;
}

.carousel-item-content {
    width: 80%;
}

.carousel-item-image {
    text-align: center;
    margin-right: 4vw;
    padding-left: 4vw;
}

.slide-image {
    text-align: center;
    max-width: 34vw;
    height: auto;
    max-height: 28.5vw;
    margin: auto;
    /* border: solid 1px #000; */
}

/* .marques_img {
    height: 50vh;
    float: left;
} */

.carousel-indicators {
    width: 28.5vw;
    margin: auto;

    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    margin-bottom: 5.5vw;
}

.carousel-indicators > li {
    height: 0;
    width: auto;
    text-transform: uppercase;
    text-indent: 0;
    font-size: 1.8vw;

    font-family: Atak-Light;
}

.carousel-indicators > li:hover {
    text-decoration: underline;
}

.carousel-indicators > span {
    color: #555;
}

.carousel-indicators .active > span{
    text-decoration: underline;
    color: black;
}

.produits-text
 {
     /* width: 80%; */
     padding-top: 6vw;
     height: auto;
     margin: auto;
     text-align: center;
     font-size: 1.5vw;
 }

.voir {
    margin: auto;
    margin-top: 4.1vw;
    text-align: center;
}

.flex-div {
    width: 80.1vw;
    margin: auto;
    margin-bottom: 8.1vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-div > div {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;

    width: 35.1vw;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-div > div > img{
    width: 35.1vw;
    margin-bottom: 1.7vw;
}

.flex-div > div > span{

    font-family: Atak-Light;
    font-size: 20px;
}

.flex-div > div > p {
    margin-top: 1.7vw;

    font-family: Atak-Regular;
    font-size: 16px;
}


.flex-div > div > div > span{

    font-family: Atak-Light;
    font-size: 20px;
}

.flex-div > div:nth-child(2) {
    background-color: #EAD6AD;

    align-content: space-around;
}

.flex-div > div:nth-child(2) > img{
    width: 33vw;
    margin: auto;
}

 #les_produits {
     margin-bottom: 5vw;
     height: auto;
 }

 #autres {
    width: 83vw;
    height: 6vw;
    margin: auto;

    justify-content: space-between;
 }

 #autres > p {
     background-color: #D3D3D3 !important;
     width: 27vw !important;
     text-align: center !important;

     display: flex;
 }

 #autres > p > span {
    margin: auto;

    font-family: Atak-Light;
    font-size: 26px;
}

#other-links {
    width: 82.8vw;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#other-links > div {
    width: 24.7vw;
    margin: auto;
}

#other-links > div > img {
    width: 24.7vw;
    height: auto;
}