<div class="marque-main" *ngIf="text">
  <img src="assets/Images/Marque/MK_logo_{{marque | uppercase}}.png" class="logo_marque">

  <img class="full-image" alt="{{altText[marque]['img0']['alt'][language]}}" src="assets/Images/Marque/{{altText[marque]['img0']['src']}}">

  <div id="go-up">
  <div class="heritage">
    <div>
      <h2>{{text.sectionTitle}}</h2>
      <p [innerHTML]="text.sectionText"></p>
      <div class="home-links-flex">
        <button class="jbtn" (click)="goAllProductsOfBrand(marque)">{{textG.link1}}</button>
        <button class="jbtn" (click)="download(marque, 'catalog')">{{textG.link2}}</button>
        <button class="jbtn">{{textG.link3}}</button>
      </div>
    </div>
  </div>

  <div id="les_produits" class="main_divs">
      <div id="produits_main">
          <h1>{{textG.productsTitle}}</h1>

          <div id='carousel-custom' class='carousel slide carousel-produits' data-ride='carousel' data-interval="4000">

          <!-- Indicators -->
          <ol class='carousel-indicators carousel-marque-indicators'>
              <li data-target='#carousel-custom'  *ngFor="let itemC of getIndicatorsText(); let x = index"
                [ngClass]="x == 0 ? 'active' : ''" attr.data-slide-to='{{x}}'>
                <span>{{itemC}}</span>
              </li>
          </ol>
            <div class="carousel-inner">
                <div  class='carousel-item' *ngFor="let item of text.productImages; let k = index"
                  [ngClass]="k === 0 ? 'item active' : 'item'">
                  <div class="container">
                    <div class="carousel-item-image">
                      <img src='{{item}}' alt='{{text.collectionTitle}}' class="slide-image">
                    </div>
                    <p class="voir">
                      <button class="jbtn" (click)="goProductsByCategoryOrFamily(marque, text.productCategories[k])">
						  {{textG.discover}} {{text.productCategories[k]}}
					  </button>
                    </p>
                  </div>
                </div>
            </div>

            <!-- Controls -->
            <a class='carousel-control-prev' data-target="#carousel-custom" data-slide='prev'>
                <img alt="JNL Collection" src="assets\Images\Common\arrow_left.png" class="carousel-arrows">
                <span class="sr-only">Previous</span>
            </a>
            <a class='carousel-control-next' data-target="#carousel-custom" data-slide='next'>
                <img alt="JNL Collection" src="assets\Images\Common\arrow_right.png" class="carousel-arrows">
                <span class="sr-only">Next</span>
            </a>

        </div>
      </div>
    </div>

    <div class="brand_content_cols2">
      <div>
        <img alt="{{altText[marque]['img1']['alt'][language]}}" src="assets/Images/Marque/{{altText[marque]['img1']['src']}}">
        <h4>{{text.leftTitle}}</h4>
        <p [innerHTML]="text.leftText"></p>
      </div>

      <div>
        <h4>{{text.rightTitle}}</h4>
        <img alt="{{altText[marque]['img2']['alt'][language]}}" src="assets/Images/Marque/{{altText[marque]['img2']['src']}}">
        <p [innerHTML]="text.rightText"></p>
      </div>
    </div>

    <div class="other_brands">
      <h4 class="other_brands_title">{{textG.autres}}</h4>

      <div class="other_brands_links" *ngIf="othersLink">
        <button *ngFor="let i of [0, 1]" (click)="navigateToMarque(othersLink[getOthers(i)])">
          {{othersText[getOthers(i)] | uppercase}}
        </button>
      </div>
    </div>

      <div class="other_links">
        <div (click)="navigateTo('jnlGroup')">
          <img  alt="{{altText[marque]['img3']['alt'][language]}}" src="assets/Images/Marque/{{altText[marque]['img3']['src']}}">
          <h4>{{textG.groupe}}</h4>
        </div>
        <div  (click)="navigateTo('savoirFaire')">
          <img  alt="{{altText[marque]['img4']['alt'][language]}}" src="assets/Images/Marque/{{altText[marque]['img4']['src']}}">
          <h4>{{textG.savoir}}</h4>
        </div>
        <div  (click)="navigateTo('services')">
          <img  alt="{{altText[marque]['img5']['alt'][language]}}" src="assets/Images/Marque/{{altText[marque]['img5']['src']}}">
          <h4>{{textG.services}}</h4>
        </div>
      </div>
    </div>
</div>