<div>
  <h1>VANHAMME</h1>

  <img class="full-image" alt="JNL Collection" src="assets/Images/Marque_V/MKV_pic1.jpg">

  <div class="heritage">
    <div>
      <h2>L’héritage en étendard</h2><br>
      <p>Véritable explorateur de l’assise, la marque Van Hamme rejoint le groupe JNL en
        2007. C’est pourtant en 1895, à Bruxelles, que cet atelier a vu le jour sous l’égide de
        l’exigent Jean Van Hamme. Le talent de ses artisans belges a, au fil du temps,
        suscité l’intérêt des plus grandes familles ainsi que des architectes et décorateurs
        de renom, notamment attirés par l’excellence de son service sur mesure. Fort de
        cette réputation acquise durant cinq générations, la marque exporte désormais
        dans le monde entier son sens inné de l’artisanat et du confortable.</p>
      <div class="home-links-flex">
        <a class="home_links">VOIR TOUS LES PRODUITS</a>
        <a class="home_links">TÉLÉCHARGER LE CATALOGUE</a>
        <a class="home_links">DEMANDER LA LISTE DE PRIX</a>
      </div>
    </div>
  </div>
</div>

<div id="les_produits" class="main_divs">
    <div id="produits_main">
        <h1>LES PRODUITS</h1>
        <div id='carousel-custom' class='carousel slide carousel-produits' data-ride='carousel'>
          <div class="carousel-inner">
              <div class='carousel-item active'>
                <div class="container">
                  <div class="carousel-item-image">
                    <img src='/assets/Images/Marque_V/MKV_pic2.png' alt='JNL Collection' class="slide-image">
                  </div>
                  <p class="produits-text">
                      <a class="home_links" (click)="navigateTo('marques', 'jnl')">VOIR TOUS LES ASSISES </a>
                  </p>
                </div>
              </div>
  
              <div class='carousel-item' active="setActiveSlide(1)">
                <div class="container">
                  <div class="carousel-item-image">
                    <img src='/assets/Images/Home/HM_VANHAMME.png' alt='Vanhamme Collection' class="slide-image">
                  </div>
                  <p class="produits-text">
                    <a class="home_links" (click)="navigateTo('marques', 'vanhamme')">VOIR TOUS LES ASSISES </a>
                  </p>
                </div>
              </div>
              <div class='carousel-item'>
                <div class="container">
                  <div class="carousel-item-image">
                    <img src='/assets/Images/Home/HM_UNGARO.png' alt='Emanuel Ungaro Home Collection' class="slide-image">
                  </div>
                  <p class="produits-text">
                    <a class="home_links" (click)="navigateTo('marques', 'ungaro')">VOIR TOUS LES ASSISES </a>
                  </p>
                </div>
              </div>
              <div class='carousel-item'>
                <div class="container">
                  <div class="carousel-item-image">
                    <img src='/assets/Images/Home/HM_LUZ.png' alt='LUZ-INTERIORS Collectionn' class="slide-image">
                  </div>
                  <p class="produits-text">
                    <a class="home_links" (click)="navigateTo('marques', 'luz')">VOIR TOUS LES ASSISES </a>
                  </p>
                </div>
              </div>
          </div>
          
          <!-- Controls -->
          <a class='carousel-control-prev' data-target="#carousel-custom" data-slide='prev'>
              <img alt="JNL Collection" src="assets\Images\Common\arrow_left.png" class="carousel-arrows">
              <span class="sr-only">Previous</span>
          </a>
          <a class='carousel-control-next' data-target="#carousel-custom" data-slide='next'>
              <img alt="JNL Collection" src="assets\Images\Common\arrow_right.png" class="carousel-arrows">
              <span class="sr-only">Next</span>
          </a>
        
        <!-- Indicators -->
        <ol class='carousel-indicators'>
            <li data-target='#carousel-custom' data-slide-to='0' class='active'><span>CANAPÉS</span></li>
            <li data-target='#carousel-custom' data-slide-to='1'><span>FAUTEUILS</span></li>
            <li data-target='#carousel-custom' data-slide-to='2'><span>CHAISES</span></li>
        </ol>
      </div>
    </div>
  </div>