<div>
  <h1>{{text.collectionTitle | uppercase}}</h1>

  <div id="first_picture">
      <div>
    <img class="full-image" alt="JNL Collection" src="assets/Images/Marque_V/MKV_pic1.jpg">
      </div>
  </div>
  
  <div id="go-up">
  <div class="heritage" id="heritage">
    <div>
      <h2>L’héritage en étendard</h2><br>
      <p>Véritable explorateur de l’assise, la marque Van Hamme rejoint le groupe JNL en
        2007. C’est pourtant en 1895, à Bruxelles, que cet atelier a vu le jour sous l’égide de
        l’exigent Jean Van Hamme. Le talent de ses artisans belges a, au fil du temps,
        suscité l’intérêt des plus grandes familles ainsi que des architectes et décorateurs
        de renom, notamment attirés par l’excellence de son service sur mesure. Fort de
        cette réputation acquise durant cinq générations, la marque exporte désormais
        dans le monde entier son sens inné de l’artisanat et du confortable.</p>
      <div class="home-links-flex">
        <a class="home_links">VOIR TOUS LES PRODUITS</a>
        <a class="home_links">TÉLÉCHARGER LE CATALOGUE</a>
        <a class="home_links">DEMANDER LA LISTE DE PRIX</a>
      </div>
    </div>
  </div>

<div id="les_produits" class="main_divs">
    <div id="produits_main">
        <h1>LES PRODUITS</h1>
        <div id='carousel-custom' class='carousel slide carousel-produits' data-ride='carousel'>
          
        <!-- Indicators -->
        <ol class='carousel-indicators'>
            <li data-target='#carousel-custom' data-slide-to='0' class='active'><span>CANAPÉS</span></li>
            <li data-target='#carousel-custom' data-slide-to='1'><span>FAUTEUILS</span></li>
            <li data-target='#carousel-custom' data-slide-to='2'><span>CHAISES</span></li>
        </ol>
          <div class="carousel-inner">
              <div class='carousel-item active'>
                <div class="container">
                  <div class="carousel-item-image">
                    <img src='/assets/Images/Marque_V/MKV_pic2.png' alt='JNL Collection' class="slide-image">
                  </div>
                </div>
              </div>
  
              <div class='carousel-item' active="setActiveSlide(1)">
                <div class="container">
                  <div class="carousel-item-image">
                    <img src='/assets/Images/Home/HM_VANHAMME.png' alt='Vanhamme Collection' class="slide-image">
                  </div>
                </div>
              </div>
              <div class='carousel-item'>
                <div class="container">
                  <div class="carousel-item-image">
                    <img src='/assets/Images/Home/HM_UNGARO.png' alt='Emanuel Ungaro Home Collection' class="slide-image">
                  </div>
                </div>
              </div>
          </div>
          
          <!-- Controls -->
          <a class='carousel-control-prev' data-target="#carousel-custom" data-slide='prev'>
              <img alt="JNL Collection" src="assets\Images\Common\arrow_left.png" class="carousel-arrows">
              <span class="sr-only">Previous</span>
          </a>
          <a class='carousel-control-next' data-target="#carousel-custom" data-slide='next'>
              <img alt="JNL Collection" src="assets\Images\Common\arrow_right.png" class="carousel-arrows">
              <span class="sr-only">Next</span>
          </a>
          
          <p class="voir">
            <a class="home_links" (click)="navigateTo('marques', 'jnl')">VOIR TOUS LES ASSISES </a>
          </p>
      </div>
    </div>
  </div>

  <div class="flex-div">
    <div>
      <img alt="JNL Collection" src="assets\Images\Marque_V\MKV_pic3.jpg">
      <span> L’ART DE S’ASSOIR</span>
      <p>
          Encore conçues dans les ateliers originels, les créations Van Hamme interpellent 
          de premier abord par l’extrême qualité de leur fabrication. La passion palpable 
          de ses artisans – menuisiers, garnisseurs ou couturiers – fait toute la force de 
          la collection. L’incroyable travail de l’homme sur le confort de l’assise, le galbe 
          délicieux du dossier, ou la délicatesse de l’accoudoir est une ode au confort et à 
          l’art de s’assoir. La signature Van Hamme transparait à travers le choix subtil et 
          audacieux de ses matières et finitions qui font la part belle aux velours palatine, 
          laiton patiné et autres bois nobles à l’instar du chêne et de l’érable. 
      </p>
    </div>

    <div>
      <div>
        <h6>ICONIQUE</h6>
        <span>L'EXCESSIF</span>
      </div>
      <img alt="JNL Collection" src="assets\Images\Marque_V\MKV_pic4.png">
      <p>
          Comme son nom l’indique, ce fauteuil joue la carte de la sur-dimension.<br> 
          116 centimètres de sophistication sur 140 d’artisanat, tel est son exquis 
          format, imaginé dans un design si robuste qu’il paraît comme taillé dans la 
          pierre. A leur façon, ses revêtements imposent également un style hors-norme, 
          à l’image de l’effet marbré très actuel de l’un, et des dessins radicalement 
          abstraits de l’autre.
      </p>
    </div>
  </div>

    <h6>DÉCOUVREZ LES AUTRES MARQUES</h6>
    <div class="flex-div" id="autres">
      <p><span>JNL COLLECTION</span></p>
      <p><span>LUZ INTERIORS</span></p>
      <p><span>EMANUEL UNGARO HOME</span></p>
    </div>


    
    <div id="other-links">
      <div (click)="navigateTo('jnlGroup')">
        <img  alt="JNL Collection" src="assets/Images/Common/GP_link.jpg">
        <h4>LE GROUPE</h4>
      </div>
      <div  (click)="navigateTo('savoirFaire')">
        <img  alt="JNL Collection" src="assets/Images/Common/SF_link.jpg">
        <h4>LE SAVOIR-FAIRE</h4>
      </div>
      <div  (click)="navigateTo('savoirFaire')">
        <img  alt="JNL Collection" src="assets/Images/Common/SV_link.jpg">
        <h4>LES SERVICES</h4>
      </div>
    </div>
  </div>
</div>
