<nav class="bottom_nav">
  <div id="bottom_nav_links">
      <div>
          <p>Les Produits</p>
          <a>Chercher</a><br>
          <a>Telecharger</a>
      </div>
      
      <div>
          <p>Les Marques</p>
          <a>JNL Collection</a><br>
          <a>Vanhamme</a><br>
          <a>Emanuel Ungaro Home</a><br>
          <a>Luz Interiors</a><br>
      </div>
      
      <div>
          <p>Le Savoir-Faire</p>
          <a>L'Atelier</a><br>
          <a>La Fabrication</a><br>
      </div>

      <div>
           <p>Les Services</p>
          <a>L'Expertise</a><br>
          <a>Le Sur Mesure</a><br>
          <a>Votre Projet</a><br>
      </div>

      <div>
          <p>Le Groupe</p>
          <a>L'Histoire</a><br>
          <a>L'Equipe</a><br>
          <a>L'Engagement</a><br>
          <a>Les Archives</a><br>
          <a>Les references</a><br>
      </div>
      
      <div>
          <p>Presse</p>
          <a>Banque Images</a><br>
          <a>Catalogues</a><br>
          <a>Press Kit</a><br>
          <a>Parutions</a><br>
      </div>

      <div>
          <p>Nous Suivre</p>
          <a><img alt="In" src="assets/Images/Common/InstagramIcon.png" height="50vh"></a>
          <a><img alt="Fb" src="assets/Images/Common/FacebookIcon.png" height="50vh"></a><br>
          <p>Newsletter</p><br>

          <input type="email" placeholder="Enter your email"/>
          <button>></button>
          <br>
      </div>
  </div>

  <div id="bottom_line">
      <br>
      <a>Mentions Legales</a>
      <a>Politique de Confidentialite</a>
      <a>Credits</a>
  </div>
</nav>
