<nav class="bottom_nav d-print-none" *ngIf="text && !isMobile">
  <div id="bottom-inline">
    <div id="bottom_nav_links">
        <div>
          <p class="columnHead">
            <a (click)="NavigateTo('product/productSearch')">{{text.produits}}</a>
          </p>
          <a (click)="NavigateTo('product/productSearch')">{{text.chercher}}</a><br>
          <!--<a (click)="NavigateTo('products')">{{text.telecharger}}</a>-->
        </div>

        <div>
          <p class="columnHead">
            <a (click)="NavigateTo('marques')">{{text.marques}}</a>
          </p>
          <a (click)="NavigateTo('marques', 'jnl')">JNL Collection</a><br>
          <a (click)="NavigateTo('marques', 'vanhamme')">Vanhamme</a><br>
          <a (click)="NavigateTo('marques', 'ungaro')">Emanuel Ungaro<br>Home</a><br>
          <a (click)="NavigateTo('marques', 'studio')">JNL Studio</a><br>
        </div>

        <div>
          <p class="columnHead">
            <a (click)="NavigateTo('savoirFaire')">{{text.savoir}}</a>
          </p>
          <a (click)="NavigateTo('savoirFaire', 'atelier')">{{text.atelier}}</a><br>
          <a (click)="NavigateTo('savoirFaire', 'fabrication')">{{text.fabrication}}</a><br>
        </div>

        <div>
          <p class="columnHead">
            <a (click)="NavigateTo('services')">{{text.services}}</a>
          </p>
          <a (click)="NavigateTo('services', 'expertise')">{{text.expertise}}</a><br>
          <a (click)="NavigateTo('services', 'surMesure')" [innerHTML]="text.surmesureBottom"></a><br>
          <a (click)="NavigateTo('services', 'votreProjet')">{{text.votreprojet}}</a><br>
        </div>

        <div>
          <p class="columnHead">
            <a (click)="NavigateTo('jnlGroup')">{{text.groupe}}</a>
          </p>
          <a (click)="NavigateTo('jnlGroup', 'histoire')">{{text.histoire}}</a><br>
          <a (click)="NavigateTo('jnlGroup', 'equipe')">{{text.equipe}}</a><br>
          <a (click)="NavigateTo('jnlGroup', 'engagement')">{{text.engagement}}</a><br>
          <a (click)="NavigateTo('jnlGroup', 'projets')">{{text.projets}}</a><br>
          <a (click)="NavigateTo('jnlGroup', 'archives')">{{text.archives}}</a><br>

        </div>

        <div>
          <p class="columnHead">
            <a (click)="NavigateTo('press')">{{text.presse}}</a>
          </p>
          <a (click)="NavigateTo('press', 'catalogues')">{{text.catalogues}}</a><br>
          <a (click)="NavigateTo('press', 'banqueImages')">{{text.banque}}</a><br>
          <!-- <a (click)="NavigateTo('press', 'parutions')">{{text.parutions}}</a><br> -->
        </div>
      </div>

      <div id="fb_in">
        <p class="columnHead">{{text.suivre}}</p>
        <a href="https://www.instagram.com/jnl_design/" target="_blank" rel="noreferrer">
          <img alt="JNL Collection Instagram" src="assets/Images/Common/InstagramIcon.png" height="30vh">
        </a>&nbsp;&nbsp;
        <a href="https://www.facebook.com/JNLcollections/" target="_blank" rel="noreferrer">
          <img alt="JNL Collection Facebook" src="assets/Images/Common/FacebookIcon.png" height="30vh">
        </a>&nbsp;&nbsp;
        <a href="https://www.pinterest.com/jnl_design/" target="_blank" rel="noreferrer">
          <img alt="JNL Collection Pinterest" src="assets/Images/Common/PinterestIcon.png" height="30vh"><br>
        </a>
        <br>

        <!-- <p class="columnHead">{{text.newsletter}}</p>
        <form id="newsletter">
          <span class="email-placeholder">
            <input type="email" name="email" [formControl]="email" placeholder="{{text.email}}"/>
          </span>
          <span class="news-button" (click)="registerForNewsletter()">
            <i class="fas fa-angle-right"></i>
          </span>
        </form>
        <br> -->
      </div>
  </div>

  <div id="bottom_line">
      <br>
      <a (click)="NavigateTo('extras/legal')">{{text.mentions}}</a>
      <a (click)="NavigateTo('extras/gdpr')">{{text.politique}}</a>
      <a (click)="NavigateTo('extras/credits')">{{text.credits}}</a>
  </div>
</nav>

<!--Mobile only-->
<nav class="bottom-nav-mob" *ngIf="text && isMobile">
  <div class="mob-2flex">
    <div>
      <div>
        <p class="columnHead">{{text.suivre}}</p>
        <div id="mobile-social">
          <a href="https://www.instagram.com/jnl_design/" target="_blank" rel="noreferrer">
            <img alt="JNL Collection Instagram" src="assets/Images/Common/InstagramIcon.png" height="40vw">
          </a>&nbsp;&nbsp;
          <a href="https://www.facebook.com/JNLcollections/" target="_blank" rel="noreferrer">
            <img alt="JNL Collection Facebook" src="assets/Images/Common/FacebookIcon.png" height="40vw"><br>
          </a>&nbsp;&nbsp;
          <a href="https://www.pinterest.com/jnl_design/" target="_blank" rel="noreferrer">
            <img alt="JNL Collection Pinterest" src="assets/Images/Common/PinterestIcon.png" height="40vw"><br>
          </a>
        </div>
      </div>
    </div>
    <!-- <div>
      <div>
        <p class="columnHead">{{text.newsletter}}</p>
        <form id="newsletter">
            <input type="email" placeholder="{{text.email}}"/>
            <span class="news-button"><i class="fas fa-angle-right"></i></span>
        </form>
      </div>
    </div> -->
  </div>
  <div class="mob-links">
      <a (click)="NavigateTo('extras/legal')">{{text.mentions}}</a>
      <a (click)="NavigateTo('extras/gdpr')">{{text.politique}}</a>
      <a (click)="NavigateTo('extras/credits')">{{text.credits}}</a>
  </div>
</nav>
