<nav class="bottom_nav">
  <div id="bottom-inline">
  <div id="bottom_nav_links">
      <div>
        <p class="columnHead">
          <a (click)="NavigateTo('products')">Les Produits</a>
        </p>
        <a (click)="NavigateTo('products')">Chercher</a><br>
        <a (click)="NavigateTo('products')">Telecharger</a>
      </div>
      
      <div>
        <p class="columnHead">
          <a (click)="NavigateTo('marques')">Les Marques</a>
        </p>
        <a (click)="NavigateTo('marques', 'jnl')">JNL Collection</a><br>
        <a (click)="NavigateTo('marques', 'vanhamme')">Vanhamme</a><br>
        <a (click)="NavigateTo('marques', 'ungaro')">Emanuel Ungaro<br>Home</a><br>
        <a (click)="NavigateTo('marques', 'luz')">Luz Interiors</a><br>
      </div>
      
      <div>
        <p class="columnHead">
          <a (click)="NavigateTo('savoirFaire')">Le Savoir-Faire</a>
        </p>
        <a (click)="NavigateTo('savoirFaire', 'atelier')">L'Atelier</a><br>
        <a (click)="NavigateTo('savoirFaire', 'fabrication')">La Fabrication</a><br>
      </div>

      <div>
        <p class="columnHead">
          <a (click)="NavigateTo('services')">Les Services</a>
        </p>
        <a (click)="NavigateTo('services', 'expertise')">L'Expertise</a><br>
        <a (click)="NavigateTo('services', 'surMesure')">Le Sur Mesure</a><br>
        <a (click)="NavigateTo('services', 'votreProjet')">Votre Projet</a><br>
      </div>

      <div>
        <p class="columnHead">
          <a (click)="NavigateTo('jnlGroup')">Le Groupe</a>
        </p>
        <a (click)="NavigateTo('jnlGroup', 'histoire')">L'Histoire</a><br>
        <a (click)="NavigateTo('jnlGroup', 'equipe')">L'Equipe</a><br>
        <a (click)="NavigateTo('jnlGroup', 'engagement')">L'Engagement</a><br>
        <a (click)="NavigateTo('jnlGroup', 'projets')">Les Projets</a><br>
        <a (click)="NavigateTo('jnlGroup', 'archives')">Les Archives</a><br>
        
      </div>
      
      <div>
        <p class="columnHead">
          <a (click)="NavigateTo('press')">Presse</a>
        </p>
        <a (click)="NavigateTo('press', 'banqueImages')">Banque Images</a><br>
        <a (click)="NavigateTo('press', 'catalogues')">Catalogues</a><br>
        <a (click)="NavigateTo('press', 'pressKit')">Press Kit</a><br>
        <a (click)="NavigateTo('press', 'parutions')">Parutions</a><br>
      </div>
    </div>

      <div id="fb_in">
        <p class="columnHead">Nous Suivre</p>
        <a href="https://www.instagram.com/jnl_design/" target="_blank">
          <img alt="JNL Collection Instagram" src="assets/Images/Common/InstagramIcon.png" height="30vh">
        </a>&nbsp;&nbsp;
        <a href="https://www.facebook.com/JNLCollectionWorldwilde/" target="_blank">
          <img alt="JNL Collection Facebook" src="assets/Images/Common/FacebookIcon.png" height="30vh"><br>
        </a>
        <br>

        <p class="columnHead">Newsletter</p>
        <form id="news_letter">
            <input type="email" placeholder="Enter your email"/>
            <button>&#10095;</button>
        </form>
        <br>
      </div>
  </div>

  <div id="bottom_line">
      <br>
      <a (click)="NavigateTo('legal')">Mentions Legales</a>
      <a (click)="NavigateTo('gdpr')">Politique de Confidentialite</a>
      <a (click)="NavigateTo('credits')">Credits</a>
  </div>
</nav>
