<div class="container-main">
  <div class="search-bar">
    <app-search></app-search>
  </div>

  <div class="content">

    <div class="menu">
      <app-menu></app-menu>
    </div>

    <div class="main">
      <app-alert></app-alert>
      <div class="router-outlet">
        <router-outlet></router-outlet>
      </div>

      <div class="menu-bottom d-print-none">
        <app-menu-bottom></app-menu-bottom>
      </div>
        <span class="button-go-top d-print-none" (click)="scrollTop()">
          <img [ngClass]="{'active': scrollTopVisible}" alt="arrow_up" src="assets\Images\Common\arrow_up3.png">
        </span>
    </div>

  </div>
</div>
