<div>
  <div class="search-bar">
    <app-search (toggleNavBar)="toggleNav()"></app-search>
  </div>

  <div style="position: relative; background-color: #121A2D;">

    <div class="content">

      <div class="menu">
        <app-menu [toggleNavBar]="toggleNavBar"></app-menu>
      </div>

      <div class="main">
        <app-alert></app-alert>
        <div class="router-outlet">
          <router-outlet></router-outlet>
        </div>

        <div class="menu-bottom">
          <app-menu-bottom></app-menu-bottom>
        </div>

      </div>

    </div>
  </div>
</div>