.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-strip {
    position: fixed;
    top: 0;
    left: 0;
    min-width: var(--left-strip-width);
    width: var(--left-strip-width);
    min-height: 100vh;
    /* background-color: red; */
    z-index: 1002; /* bigger than .menu, to preserve the close button, 
                      same color to trick the menu presence in full*/
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.container-main {
    position: relative;
    width: calc(100vw - var(--left-strip-width));
    margin-left: var(--left-strip-width);
}

.search-bar {
    position: absolute;
    top: 0;
    min-height: var(--search-bar-height);
    max-height: var(--search-bar-height);
    /* background: rgba(255, 255, 255, 0.5); */
    background: transparent;
    z-index: 1000;
}

.content {
    background-color: #fff; 
    /* margin-left: 5.347vw; */
    top: 0;
    z-index: 801;
}

.main {
    position: absolute;
    top: 0;
    display: block;
    z-index: 800;
}

.router-outlet {
    min-height: 57.5vh;
}


@media only screen and (max-width: 768px){
    .content {
        margin-left: 0px !important;
        margin-top: 60px !important;
    }

    .search-bar {
        background-color: transparent;
        left: 0;
    }

    .left-strip {
        display: none;
    }
}