#garnissage-container {
	display: flex;
	flex-direction: column;

	h4 {
    font-size: 1.5vw;

    @media only screen and (max-width: 768px) {
      font-size: 22px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 18px;
    }
	}

	ul {
		list-style-type: none;
		padding: 0 !important;
		margin: 10px;
    font-size: 0.9vw;

    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 12px;
    }
	}

	label {
		margin: 0 !important;
		font-family: Helvetica-Light;
	}

	img {
		object-fit: cover;
		width: 100%;
		height: auto;
	}

	#dialog-header {
		// width: parent;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 1vw;
		span {
			float: left;
			i {
				@media only screen and (min-width: 769px) {
					transition: all .3s ease;
					&:hover {
							color: #dbbb76;
							cursor: pointer;
							transition: all .3s ease;
					}
				}
			}
		}

    @media only screen and (min-width: 577px) and (max-width: 768px) {
      margin-bottom: 3vw;
		}

		@media only screen and (max-width: 768px) {
      width: 90%;
		}
		
		.empty {
			width: 16px;
		}
	}

	.whiteSpace {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 10%;
	}

	.imgContainer {
		width: 80%;
		@media only screen and (max-width: 768px) {
      width: 90%;
		}
	}

	#dialog-footer {
		width: parent;
		text-align: center;
	}

	.arrow {
		height: 2.4vw;
		width: 1.2vw;
	}
}
