<div id="garnissage-container">
  <div id="dialog-header">
    <h4>
      <span>
        <i class="far fa-heart heart" (click)="addToFavorites(data.dialogData)"></i>
      </span>
      {{getTitle()}}
    </h4>
  </div>
  <div class="flex-container">
    <div class="whiteSpace d-none">
      <img class="arrow cursor-pointer" src="assets\Images\Common\arrow_left.png" (click)="navigate('previous')">
    </div>
    <div class="imgContainer">
      <img src="{{getImage()}}" alt="...">
    </div>
    <div class="whiteSpace d-none">
      <img class="arrow cursor-pointer" src="assets\Images\Common\arrow_right.png" (click)="navigate('next')">
    </div>
  </div>
  <div id="dialog-footer">
    <ul *ngIf="data.type === 'ga'">
      <li><b>Code: </b><label>{{data.dialogData.codeProd}}</label></li>
      <li><b>Brand: </b><label>{{data.dialogData.brand}}</label></li>
      <li><b>Material: </b><label>{{data.dialogData.material}}</label></li>
      <li><b>Dimensions: </b><label>{{data.dialogData.dimensions}}</label></li>
      <li><b>Martindale: </b><label>{{data.dialogData.martindale}}</label></li>
      <li><b>Composition: </b><label>{{data.dialogData.composition}}</label></li>
      <li><b>Type: </b><label>{{data.dialogData.type}}</label></li>
    </ul>
  </div>
</div>
