<div id="garnissage-container">
  <div id="dialog-header">
    <h4>{{garnData.model}}</h4>
  </div>
  <div class="flex-container">
    <div class="whiteSpace d-none">
      <img class="arrow cursor-pointer" src="assets\Images\Common\arrow_left.png" (click)="navigate('previous')">
    </div>
    <div class="imgContainer">
      <img src="assets\Images\Products\Garnissages\Print\{{garnData.codeProd | uppercase }}.jpg" alt="...">
    </div>
    <div class="whiteSpace d-none">
      <img class="arrow cursor-pointer" src="assets\Images\Common\arrow_right.png" (click)="navigate('next')">
    </div>
  </div>
  <div id="dialog-footer">
    <ul>
      <li><b>Code: </b><label>{{garnData.codeProd}}</label></li>
      <li><b>Brand: </b><label>{{garnData.brand}}</label></li>
      <li><b>Material: </b><label>{{garnData.material}}</label></li>
      <li><b>Dimensions: </b><label>{{garnData.dimensions}}</label></li>
      <li><b>Martindale: </b><label>{{garnData.martindale}}</label></li>
      <li><b>Composition: </b><label>{{garnData.composition}}</label></li>
      <li><b>Type: </b><label>{{garnData.type}}</label></li>
    </ul>
    <!--addToFavorites(garnData)-->
  </div>
</div>
