label {
    margin: 0px !important;
}

ul {
    list-style-type: none;
    padding: 0!important;
    margin: 10px;
}
 img {
    object-fit: cover;
    width: 100%;
    height: auto;
 }

#garnissage-container {
    display:flex;
    flex-direction:column;
}

#dialog-header {
    width: parent;
    text-align: center;
    margin-bottom: 1vw;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.whiteSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%
}

.imgContainer {
    width: 70%;
}

#dialog-footer {
    width: parent;
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.arrow {
    height: 2.4vw;
    width: 1.2vw;
}

