hr{
    border: 0.5px solid #DBBB76;
}

h5 {
    font-family: Atak-Light;
    font-size: 1.8vw;

    text-transform: uppercase;
}

.btn-envoyer
{
    background-color: white;
    padding: 0.2em;
    padding-left: 1.35vw;
    padding-right: 1.35vw;
    font-size: 1.35vw; /*1em;*/
    width: 30vw;
}

#container {
    /* padding-top: 30px; */
    display: flex;
}

#staticText {
    width: 30.55vw;
}

#info-form {
    display: flex;
    width: 100vw;
    background-color: #DBBB76;
    justify-content: center;
    padding:5vw;
}