hr{
    border: 0.5px solid #DBBB76;
}

h5 {
    font-family: Atak-Light;
    font-size: 1.8vw;

    text-transform: uppercase;
}

.hide-item, .show-item {
    display: block;
}

.arrow {
    display: none;
}

#container {
    /* padding-top: 30px; */
    display: flex;
}

#staticText {
    width: 30.55vw;
}


@media only screen and (max-width: 800px){

    .arrow {
        /* display: inline; */
        margin: auto;
        margin-left: 0px;
        display: block;
        width: 13px;
        height: 13px;
    }

    .hide-item {
        display: none !important;
    }

    #staticText {
        width: 88.3vw;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: baseline;
    }

    #staticText > h5 {
        font-size: 4.16vw;
        text-align: center;

        width: 75.22vw;
    }

    #container {
        flex-direction: column;
    }
}