<div id="bar">
   <div id="top-bar">
       <div id="menu-button">
            <img class="menu-button-img" src="{{navBarButtonSrc}}" 
                (click)="toggleNav()" (mouseover)="toggleNav()">
            <!-- <p class="menu-text" (click)="toggleNav()" (mouseover)="toggleNav()">{{navBarButtonText}}</p> -->
        </div>
        <div id="menu-logo">
            <div id="menu-logo-img" *ngIf="!isHome">
                <img class="image-link" id="logo"
                    alt="JNL Logo" src="assets/Images/Common/JNLLogoB.png"
                    (click)="goHome()"/>
            </div>
            <div>&nbsp;</div>
       </div>

       <div id="top_buttons" *ngIf="text" (mouseleave)="closeLangSelection()"
        [ngStyle]="isHome ? {'color': '#666666'} : {'color': 'black'}">
           <span>
               <a (click)="navigateTo('favorites')" class="top-button">
                   <i class="far fa-heart"></i>
                   <!--<img alt="JNL Collection" src="/assets/Images/Common/fav_icon.png" height="16px">-->
                </a>
           </span>&#8213;
           <!-- <span class="top-button">&nbsp;&#8213;&nbsp;</span> -->
           <span>
               <a class="top-button" *ngIf="!searchMode" 
                (click)="goSearchMode()">{{text.search}}</a>
               <input type="search" class="searchInput" placeholder="{{text.search}}..." autofocus="autofocus" *ngIf="searchMode"
                (blur)="doSearch($event.target.value)" (keyup.enter)="$event.target.blur()">
           </span>&#8213;
           <!-- <span class="top-button">&nbsp;&#8213;&nbsp;</span> -->
           <span>
               <a (click)="navigateTo('contact')" class="top-button">{{text.contact}}</a>
           </span>&#8213;
           <!-- <span class="top-button">&nbsp;&#8213;&nbsp;</span> -->
           <!--(mouseleave)="closeLangSelection()"-->
           <ul *ngIf="isLangSelectMode">
               <li *ngFor="let l of otherLanguages">
                   <span class="top-button" (click)="onChangeLanguage(l)">{{l}}</span>
               </li>
           </ul>
           <span class="top-button">
                <span style="margin-right: 2px" (click)="toggleLangStatus()">
                        {{language}}
                </span>
                <span (click)="toggleLangStatus()">
                    <i class="fa fa-sort-down fa-1"></i>
                </span>
            </span>

           <!--<span>
                <select #l [value]="language" (change)="onChangeLanguage(l.value)" class="select-lang">
                    <option *ngFor="let lang of languages" [ngValue]="lang">{{lang}}</option>
                </select>
           </span>-->
       </div>
   </div>
</div>

<!--MOBILE VERSION-->
<div id="mob-searchbar"> 
    <span id="menu-button" (click)="toggleNav()" [innerHTML]="getNavbarButton()"></span>
    <img class="image-link" id="logo" alt="JNL Logo" src="assets/Images/Common/JNLLogo_white.png" (click)="goHome()"/>
    <span>
        <i class="fa fa-search" aria-hidden="true" id="loupe"></i>
        <a class="top-button" *ngIf="!searchMode" 
            (click)="goSearchMode()"></a>
        <input type="search" class="searchInput" placeholder="{{text.search}}..." autofocus="autofocus" *ngIf="searchMode"
            (blur)="doSearch($event.target.value)" (keyup.enter)="$event.target.blur()">
    </span>
</div>
