<div class="search-bar">
  <div id="bar" class="d-print-none">
    <div id="top-bar">
      <div class="menu-button">
        <div class="menu-button-flex">
            <img class="menu-button-img" src="{{navBarButtonSrc}}"
              (click)="toggleNav()" (mouseover)="toggleNav()" alt="menu button">
              <!-- [ngClass]="navBarStatus ? 'menu-button-img-active' : ''" -->
            <!-- <p class="menu-text" (click)="toggleNav()" (mouseover)="toggleNav()">{{navBarButtonText}}</p> -->
          </div>
        </div>
        <div id="menu-logo">
          <div class="menu-logo-img" *ngIf="!isHome">
            <img class="image-link" id="logo"
              alt="JNL Logo" src="assets/Images/Common/JNLLogoB.png"
              (click)="goHome()"/>
          </div>
          <!-- <div class="space">&nbsp;</div> -->
      </div>

      <div id="top_buttons" *ngIf="text" (mouseleave)="closeLangSelection()"
        [ngStyle]="isHome ? {'color': '#666'} : {'color': 'black'}">
        <span *ngIf="userType==='A'">
          <a (click)="navigateTo('register')" class="top-button">register</a>
        </span>
        <span class="dash" *ngIf="userType==='A'">&#8213;</span>
        <span>
          <a (click)="navigateTo('product/favorites/0')" class="top-button">
            <i class="far fa-heart heart"></i>
          </a>
        </span>
        <span class="dash">&#8213;</span>
        <span>
          <a class="top-button" *ngIf="!searchMode"
            (click)="goSearchMode()">
            <i class="material-icons magnifier">search</i>
          </a>
          <input type="search" class="searchInput" placeholder="{{text.search}}..." autofocus="autofocus" *ngIf="searchMode"
            (blur)="doSearch($event.target.value)" (keyup.enter)="$event.target.blur()">
        </span>
        <span class="dash">&#8213;</span>
        <span>
          <a (click)="navigateTo('contact')" class="top-button">{{text.contact}}</a>
        </span>
        <span class="dash">&#8213;</span>
        <span>
          <ul *ngIf="isLangSelectMode">
            <li *ngFor="let l of otherLanguages">
            <span class="top-button" (click)="onChangeLanguage(l)">{{l}}</span>
            </li>
          </ul>
        </span>
        <span class="top-button">
          <span style="margin-right: 2px" (click)="toggleLangStatus()">
              {{language}}
          </span>
          <span (click)="toggleLangStatus()">
            <i class="fa fa-sort-down fa-1 m-right"></i>
          </span>
        </span>
        <!--<span>
          <select #l [value]="language" (change)="onChangeLanguage(l.value)" class="select-lang">
            <option *ngFor="let lang of languages" [ngValue]="lang">{{lang}}</option>
          </select>
        </span>-->
      </div>
    </div>
  </div>

  <!--MOBILE VERSION-->
  <div id="mob-searchbar">
    <span class="menu-button" (click)="toggleNav()" [innerHTML]="getNavbarButton()">
      <i class="material-icons">menu</i>
    </span>
    <span class="menu-logo-img">
      <img class="image-link" id="logo" alt="JNL Logo" src="assets/Images/Common/JNLLogo_white.png" (click)="goHome()"/>
    </span>
    <span>
      <a class="top-button" *ngIf="!searchMode" (click)="goSearchMode()">
        <i class="fa fa-search" aria-hidden="true" id="loupe"></i>
      </a>
      <input type="search" class="searchInput" placeholder="{{text.search}}..." autofocus="autofocus"
        *ngIf="searchMode" (blur)="doSearch($event.target.value)" (keyup.enter)="$event.target.blur()">
    </span>
  </div>
</div>
