@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slidein {
	0% {
		margin-left: -100vw;
	}
	1% {
		margin-left: -34vw;
	}
	100% {
		margin-left: 0vw;
	}
}

@keyframes slideout {
	0% {
		margin-left: 0vw;
	}
	99% {
		margin-left: -34vw;
	}
	100% {
		margin-left: -100vw;
	}
}