.jbtn {
	display: inline-block;
	font-family: Helvetica-Light;
	background: $color_white;
	color: $color_gray;
	border: 1.5px solid $color_gray;
	padding: 10px 15px;
	font-size: 15px;
	font-weight: bold;
	line-height: 11px;
	letter-spacing: 1.28px;
	text-transform: uppercase;
	transition: all 250ms ease;

	&:hover {
		// color: $color_or;
		border-color: $color_or;
	}
}