h1 {
    font-family: Helvetica;
    font-size: 3vw;
    margin-bottom: 3vh;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: Helvetica;
    font-size: 3.5vw;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-family: Helvetica-Light;
    color: #DBBB76;
    font-size: 1.1vw;
    /* margin-bottom: 1.5vw; */
}

h4 {
    margin: auto;
    font-size: 1.8vw;
    font-family: Helvetica-Light;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 3vw;
}

textarea{
    margin: auto;
    background-color: #F6EEDD;
    border: none;
    width: 100%;
    outline: none;
    font-family: Helvetica-Light;
    font-size: 1.4vw;
}

i {
    outline: none;
}

input, select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    outline: none;
    width: auto;
    background-color: transparent;
    font-family: Helvetica-Light;
    font-size: 1.4vw;
    border: 1px solid black;
    margin-top: .5vw;
    padding-bottom: 0px;
}

button {
    text-transform: uppercase;
    margin: auto;
    background-color: white;
    color: black;
    margin-top: 5.3em;
    margin-bottom: 4em;
    border: none;
}

li, ul {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;   
    list-style-type: none;
    padding: 0px !important;
}

.content {
    width: calc(99vw - var(--left-strip-width));
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    width: 27vw;
    padding-left: 2vw;
    padding-right: 5vw;
}

.search-by-text {
    text-align: left;
}

.search-textbox {
    width: 100%;
    font-size: 1.1vw;
    color: #444;
    padding-left: .3vw;
}

cdk-virtual-scroll-viewport {
    width: auto;
    margin: auto;
    height: 52.3vw;
    overflow-x: hidden;
}

/* cdk-virtual-scroll-viewport::-webkit-scrollbar {
    display: none;
} */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.list {
    margin-top: 1vw;
}

.remove-item, .hide-item {
    display: none;
}

.non-remove, .show-item {
    display: block;
}

.search-main {
    margin: auto;
    /* text-align: center; */
    padding-top: 5.9vw;;
}

.option-label {
    font-family: Helvetica-Light;
    font-size: 1.4vw;
}

.option-label:hover {
    cursor: default;
}

.products {
    width: 73vw;
}

/* .products-group {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 75.7vw;
    flex-wrap: wrap;
}

.products-group > li {
    margin: auto;
    margin-bottom: 4.5vw;
    width: 17.8vw;
} */

li {
    width: 21vw;
    margin: auto;
    display: inline-block;
    margin-bottom: 3vh;
}

.header-filter {
    font-family: Helvetica-Light;
    font-size: 1.4vw;
    text-transform: uppercase;
    color: #DBBB76;
    margin-bottom: 0;
}

.single-filter {
    margin-bottom: 0px;
    font-family: Helvetica-Light;
    font-size: 1.3vw;
}

li > div {
    font-family: Helvetica-Light;
    font-size: 1.2vw;
    text-align: left;
}

.flex-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: left;
    float: left;
    width: 64vw;
}

.arrow {
    width: 1.7vw; 
    height: auto;
    float: right;
    text-align: right;
    padding-top: .2vw;
    cursor: pointer;
}

.header-arrow {
    width: auto;
    margin-top: 1.7vw;
    margin-bottom: 1vw;
    justify-content: baseline;
}

.filters > ul > li {
    margin-bottom: 0px;
}

.non-remove > div > span {
    font-family: Helvetica-Light;
    font-size: 1.2vw;
    text-align: left;
    float: left;
    margin-top: 1.1vw;
}

.search-img {
    max-width: 19vw;
    max-height: 19vw;  
    padding: 0px;
    margin: auto;
}

/* .fav-button {
    text-align: right;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    height: 15px;
}

.fav-button:hover {
    background-image: url("/assets/Images/Common/fav_icon_filled.png");
    background-size: contain;
    transition: all .3s ease;
} */

.pic-frame {
    width: 21vw;
    height: 21vw;  
    background-color: white;
    border: 0.88px solid transparent;
    transition: all .3s ease;
}

.pic-frame:hover {
    border: 0.88px solid #DBBB76;
    transition: all .3s ease;
}

.product-name {
    max-width: 19.45vw;
}

.product-name > span > i {
    padding-right: .7vw;
}

.center-product {
    width: 17.2vw;
    height: 17.2vw;  
    margin-bottom: 0;
    position: relative;
    display: flex;
}

.filters {
    margin-top: 1vw;
    text-align: left;
}

.filter-type {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.prod-name {
    display: block;
    width: auto;
    font-family: Helvetica-Light;
    font-size: 1.2vw;
    line-height: 1.4vw;
    text-align: left;
    margin-top: 0;
    margin-bottom: .5vw;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    transition: all .3s ease;
}

.prod-name:hover, .card-product:hover {
    color: #DBBB76;
    transition: all .3s ease;
}

.card-product {
    cursor: pointer;
}

.cdk-virtual-scroll-content-wrapper {
    display: flex !important;
    flex-direction: row;
    width: auto; /* 75.7vw;*/
    flex-wrap: wrap !important;
}

#expertise, #surMesure, #votreProjet {
    margin-bottom: 60px;
    padding-top: 60px;
}

#details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3.5vw;
}

#services {
    margin: auto;
    width: 87.3vw;
    height: 55vw;
    display: flex;
    color: white;
}

#services > div:first-child {
    margin: auto;
    width: 87vw;
    height: 48.5vw;
    display: flex;
    flex-direction: column;
}

#checks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 5.1vw;
}

#checks > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#send {
    width: 16.5vw;
    margin-top: 4.3vw;
    font-family : Helvetica-Light;
    font-size : 1.4vw;
    letter-spacing : 1.28px;
    text-transform : uppercase;
}

#remove-download {
    margin: auto;
    width: 39.9vw;
    display: flex;
    flex-direction: row;
}

#remove-download > div {
    margin: auto;
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 800px){

    h1 {
        font-size: 9.7vw;
    }

    h2 {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        word-wrap: normal;
        font-size: 5.6vw !important;
    }

    h4 {
        width: 80vw;
    }

    button {
        margin-top: 0px;
    }

    input {
        margin-top: 20px;
    }

    .sur-flex {
        flex-direction: column;
        width: 80vw;
    }

    .sur-flex > div {
        width: 80vw;
        justify-content: space-between;
    }
    
    .sur-flex > div:last-child {
        flex-direction: column-reverse;
    }

    .sur-flex > div > div > img {
        width: 80vw;
    }

    h2 {
        font-size: 5.6vw;
    }
    
    h4 {
        font-size: 4.2vw;
    }
    
    .sur-flex > div > div {
        font-size: 4.5vw;
    } 
    .sur-flex > div > div > span {
        font-size: 4.4vw;
    
    } 
    
    .sur-flex > div:nth-child(2) > div:first-child {
        font-size: 4.5vw; 
    } 
    .fav_div
    {
        font-size: 4.5vw;
        
    }
    
   
    .fav_div > div > p {
        font-size: 4.5vw;
    }

    #services_list > a {
        margin: 0px;
    }
}