
<div class="search-main">
  <h1>Product Finder</h1>
  
  <div class="content">
    <!-- SEARCH -->
    <div class="search">
      <!-- <h4>FILTERS</h4> -->
      <div class="search-by-text">
        <p class="header-filter">SEARCH</p>
        <input class="search-textbox" name="productName" type="text" [(ngModel)]="product"><br>
      </div>

      <div class="filters">
        <ul>
          <li *ngFor="let c of filterBy; let i=index">
            <div class="header-arrow"  (click)="toggleFilters(i)">
                <span class="header-filter">{{c}}</span>
                <img class="arrow" [src]="getArrow(i)">
            </div>
            <ul id="filter-{{c}}" *ngIf="toggle[i]">
              <li class="single-filter" *ngFor="let d of getFilters(c); let i2=index">
                  <span (click)="selectFilter()">
                    <i [ngClass]="(this.selected[k]===1) ? 'fas fa-square' :'far fa-square'"></i>
                    &nbsp;{{d}}
                  </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- PRODUCTS -->
    <div class="products">
      <span class="prod-name">&nbsp;Products found – {{productsFiltered.length}}</span>
      <ul class="list">
        <cdk-virtual-scroll-viewport itemSize="30">
          <div class="flex-div">
          <ng-container *cdkVirtualFor="let n of productsFiltered">
            <li> 
              <!-- [ngClass]="(this.removed[n]===1) ? 'remove-item' :'non-remove'" -->
              <div class="card-product">
                <div class="pic-frame" (click)="goToProduct(n)">
                  <figure class="center-product">
                    <img class="search-img" [src]="getProductImage(n)" alt="{{n.brand}} {{n.familyFr}} {{n.model}}">
                  </figure>
                </div>

                <p class="product-name">
                  <span>
                      <i class="far fa-heart heart" (click)="addToFavorites('product')"></i>
                  </span>
                  <span (click)="goToProduct(n)">
                    {{getProductName(n)}}
                  </span>
                </p>
              </div>
            </li>
          </ng-container>
          
          <li *ngFor="let m of [0]"> 
            <!-- , 1, 2 -->
            <!--  [ngClass]="(m  >= 4 - this.total % 4 || this.total % 4 == 0) ? 'remove-item' :'non-remove'" -->
            <div>
              <div class="pic-frame">
                <div>
                  <img alt="JNL Collection" src="\assets\Images\Favorites\F_none.png" class="fav-button">
                </div>
                <div class="center-product">
                  <img alt="JNL Collection" src="\assets\Images\Favorites\F_none.png" class="search-img">
                </div>
              </div>
              <span>&nbsp;</span>
            </div>
          </li>
        </div>
        </cdk-virtual-scroll-viewport>
      </ul>
    </div>
    
  </div>
</div>
