#store-container {
	padding-top: var(--search-bar-height);
	// margin: auto;
	// padding-top: 5.9vw;
	
	h1 {
		@media only screen and (max-width: 768px) {
			font-size: 32px;
		}
	
		@media only screen and (max-width: 576px) {
			font-size: 20px;
		}
	}

	h3 {
		text-transform: uppercase;
		font-family: Helvetica-Light;
		color: #dbbb76;
		font-size: 26px;
		/* margin-bottom: 1.5vw; */
	}

	h4 {
		margin: auto;
		font-size: 1.8vw;
		font-family: Helvetica-Light;
		margin-top: 0;
		text-align: left;
		margin-bottom: 3vw;
	}

	textarea {
		margin: auto;
		background-color: #f6eedd;
		border: none;
		width: 100%;
		outline: none;
		font-family: Helvetica-Light;
		font-size: 1.4vw;
	}

	i {
		outline: none;
	}

	button {
		text-transform: uppercase;
		margin: auto;
		background-color: white;
		color: black;
		margin-top: 5.3em;
		margin-bottom: 4em;
		border: none;
	}

	li,
	ul {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		list-style-type: none;
		padding: 0 !important;
		/* line-height: 1.8vw; */
	}

	.content {
		display: flex;
		flex-direction: row;
    justify-content: space-between;
    padding-top: 3vw;
    width: 99vw;

		@media only screen and (max-width: 768px) {
      flex-direction: column;
      padding-top: 0;
		}
	}

	.search {
		margin-right: 4vw;
		padding-left: 2vw;
		padding-right: 1vw;
    width: 24vw;
		height: auto;
		// overflow-y: auto;
		overflow-x: hidden;

		@media only screen and (max-width: 768px) {
      margin-bottom: 20px;
      padding-left: 5px;
      padding-right: 5px;
			width: 100vw;
			height: auto;

		}
	}

	.search-by-text {
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		text-align: left;

		@media only screen and (max-width: 768px) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.search-textbox {
    margin-top: 0.2vw;
    padding-left: .3vw;
    width: 100%;
		font-family: Helvetica-Light;
    font-size: 1.1vw;
		appearance: none;
		outline: none;
		background-color: transparent;
		color: #444;
    border: 1px solid black;

    @media only screen and (max-width: 768px) {
      margin-left: 5px;
      margin-right: 5px;
      width: 98%;
      font-size: 14px;
    }
	}

	cdk-virtual-scroll-viewport {
		width: auto;
		margin: auto;
		height: 72.3vw;
		overflow-x: hidden;
	}

	.cdk-virtual-scroll-content-wrapper {
		display: flex !important;
		flex-direction: row;
		width: auto;
		flex-wrap: wrap !important;
		padding-right: 1.2vw;
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: black;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: black;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: black;
	}

	.list {
		margin-top: 1vw;
	}

	.remove-item,
	.hide-item {
		display: none;
	}

	.non-remove,
	.show-item {
		display: block;
	}

	.option-label {
		font-family: Helvetica-Light;
		font-size: 1.4vw;
	}

	.option-label:hover {
		cursor: default;
	}

	.products {
		width: 73vw;

		@media only screen and (max-width: 768px) {
			width: 100%;
		}
	}

	.search-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.reset-filter {
    padding: 0 0.2vw;
    margin-bottom: 0;
    float: right;
		font-family: Helvetica-Light;
		font-size: 1.4vw;
		text-align: right;
		white-space: nowrap;
    cursor: pointer;

    @media only screen and (min-width: 769px) {
      transition: all .3s ease-in;
    }

    @media only screen and (max-width: 768px) {
      margin-right: 5px;
      font-size: 22px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 16px;
    }
	}

	.reset-filter:hover {
		background-color: #eee;
		font-weight: bold;
		@media only screen and (min-width: 769px) {
      transition: all .3s ease-out
    }
	}

	.single-filter {
		margin-bottom: 0;
		font-family: Helvetica-Light;
		font-size: 1.3vw;
		line-height: 1.5vw;

		@media only screen and (max-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
			font-size: 14px;
			line-height: 16px;
		}

    > span {
      font-size: 1.4vw;
			line-height: 2vw;

			@media only screen and (max-width: 768px) {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}

	.products-container {
      // height: 99vh;
      height: auto;
      // overflow-y: scroll;
      // -webkit-overflow-scrolling: touch;
	}

	.family-container {
		display: flex;
		flex-direction: column;
	}

	.family-name {
    display: block;
    margin-top: 1vw;
		width: auto;
		font-family: Helvetica-Light;
		font-size: 1.7vw;
		line-height: 2.1vw;
		text-align: left;
		word-wrap: break-word;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
    color: black;

    @media only screen and (max-width: 768px) {
      font-size: 22px;
      line-height: 28px;
    }
    @media only screen and (max-width: 576px) {
      font-size: 14px;
      line-height: 16px;
    }
	}

	.flex-div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: left;
		float: left;
		padding-top: 2.2vw;
		/* from cdk */
		width: auto;
		margin: auto;
		/* height: 72.3vw; */
		overflow-x: hidden;
	}

	.flex-div > li {
		width: 20vw;
		margin: auto;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		display: inline-block;
		margin-bottom: 5.5vh/* 3vh */;

		@media only screen and (max-width: 768px) {
			width: 50%;
			margin: 0;
			padding: 10px !important;
		}
	}

	.header-filter {
    margin-bottom: 0;
    float: left;
		font-family: Helvetica-Light;
		font-size: 1.4vw;
		text-transform: uppercase;
		color: #dbbb76;

    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 14px;
    }
	}

	.header-arrow {
		width: auto;
		margin-top: 1.7vw;
		margin-bottom: 1vw;
		justify-content: baseline;
		font-family: Helvetica-Light;
		font-size: 1.2vw;
		text-align: left;

		@media only screen and (max-width: 768px) {

		}

		.header-filter {
			@media only screen and (max-width: 768px) {
				float: none;
			}
		}

		.arrow {
			width: 1.7vw;
			height: auto;
			float: right;
			text-align: right;
			padding-top: 0.2vw;
			cursor: pointer;

			@media only screen and (max-width: 768px) {
				width: 14px;
				margin-right: 10px;
			}
		}
	}

	.filters > ul > li {
		width: 17vw;
		margin: auto;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		display: inline-block;

		@media only screen and (max-width: 768px) {
			display: block;
			width: 100%;
			margin: 0;
		}
	}

	.subfilters {
		line-height: 1.83vw;
    display: none;

    @media only screen and (max-width: 768px) {
      line-height: 22px;
    }

		&.active {
      display: block;

      @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
		}


    .single-filter {
      display: inline-block;
			margin: auto 1.5vw auto 1vw;
      margin-bottom: 0;
      width: 17vw;
      font-family: Helvetica-Light;
      font-size: 1.3vw;
      line-height: 1.5vw;

      @media only screen and (max-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        width: 45vw;
        font-size: 14px;
        line-height: 16px;
      }

      > span {
        font-size: 1.4vw;
        line-height: 2vw;

        @media only screen and (max-width: 768px) {
          font-size: 24px;
          line-height: 30px;
        }

        @media only screen and (max-width: 576px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .left {
    @media only screen and (max-width: 768px) {
      flex-direction: row;
      text-align: right;
    }
	}

	.right {
    @media only screen and (max-width: 768px) {
      flex-direction: row-reverse;
      text-align: left;
    }
	}

	.non-remove > div > span {
		font-family: Helvetica-Light;
		font-size: 1.2vw;
		text-align: left;
		float: left;
		margin-top: 1.1vw;
	}

	.filters {
		margin-top: 1vw;
		text-align: left;
	}

	.filter-type {
		text-align: left;
		display: flex;
		flex-direction: column;
	}

	.prod-name {
    display: block;
    margin-top: 0;
		margin-bottom: 0.5vw;
    width: auto;
		font-family: Helvetica-Light;
		font-size: 1.2vw;
		line-height: 1.4vw;
		text-align: left;
		word-wrap: break-word;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
    color: black;

    @media only screen and (min-width: 769px) {
      transition: all .3s ease;
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 2vw;
      font-size: 22px;
      line-height: 28px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 12px;
      line-height: 16px;
    }
	}

	#expertise,
	#surMesure,
	#votreProjet {
		margin-bottom: 60px;
		padding-top: 60px;
	}

	#details {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 3.5vw;
	}

	#services {
		margin: auto;
		width: 87.3vw;
		height: 55vw;
		display: flex;
		color: white;
	}

	#services > div:first-child {
		margin: auto;
		width: 87vw;
		height: 48.5vw;
		display: flex;
		flex-direction: column;
	}

	#checks {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
		margin-bottom: 5.1vw;
	}

	#checks > div {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}

	#send {
		width: 16.5vw;
		margin-top: 4.3vw;
		font-family: Helvetica-Light;
		font-size: 1.4vw;
		letter-spacing: 1.28px;
		text-transform: uppercase;
	}

	#remove-download {
		margin: auto;
		width: 39.9vw;
		display: flex;
		flex-direction: row;
	}

	#remove-download > div {
		margin: auto;
		display: flex;
		flex-direction: row;
	}

	@media only screen and (max-width: 768px) {
		h2 {
			margin-left: auto;
			margin-right: auto;
			width: 80vw;
			word-wrap: normal;
			font-size: 5.6vw !important;
		}

		h4 {
			width: 80vw;
			font-size: 4.2vw;
		}

		button {
			margin-top: 0;
		}

		.sur-flex {
			flex-direction: column;
			width: 80vw;
		}

		.sur-flex > div {
			width: 80vw;
			justify-content: space-between;
		}

		.sur-flex > div:last-child {
			flex-direction: column-reverse;
		}

		.sur-flex > div > div > img {
			width: 80vw;
		}

		.sur-flex > div > div {
			font-size: 4.5vw;
		}
		.sur-flex > div > div > span {
			font-size: 4.4vw;
		}

		.sur-flex > div:nth-child(2) > div:first-child {
			font-size: 4.5vw;
		}
		.fav_div {
			font-size: 4.5vw;
		}

		.fav_div > div > p {
			font-size: 4.5vw;
		}
	}
}

.card-product {
	// width: 21vw;
	cursor: pointer;
	color: black;
	font-family: Helvetica-Light;
	text-align: left;

	.pic-frame {
		position: relative;
    background-color: white;
    border: 0.88px solid transparent;

    @media only screen and (min-width: 769px) {
      width: 21vw;
      height: 20vw;
    }

		figure.center-product {
			margin: auto;
			margin-bottom: 0;
      vertical-align: middle;
      display: flex;
			overflow: visible;

			.search-img {
        max-width: 19vw;
        max-height: 19vw;
        padding: 0;
        vertical-align: middle;
        margin: auto;
        object-fit: contain;

        @media only screen and (min-width: 769px) {
          transition: .5s;
        }

        @media only screen and (max-width: 768px) {
          max-width: 36vw;
          max-height: 36vw;
        }

        @media only screen and (max-width: 576px) {
          max-width: 33vw;
          max-height: 33vw;
        }

				&:hover {
          @media only screen and (min-width: 769px) {
            transform: scale(1.3);
          }
				}
			}
		}
	}

	.product-name {
    margin-bottom: 0;
    min-height: 1.5vw;
    text-align: center;
    line-height: 1.6vw;

    @media only screen and (min-width: 769px) {
      max-width: 19.45vw;
    }

		@media only screen and (max-width: 768px) {
			font-size: 16px;
		}

		> span > i {
			padding-right: 0.6vw;
      font-size: 1vw;

      @media only screen and (min-width: 769px) {
        transition: all .3s ease;
      }

      @media only screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 22px;
      }

      @media only screen and (max-width: 576px) {
        font-size: 12px;
        line-height: 16px;
      }

			&:hover {
        @media only screen and (min-width: 769px) {
          color: #dbbb76;
          transition: all .3s ease;
        }
			}
		}

		.product-name-text {
      font-family: Helvetica-Light;
      font-size: 1.2vw;
      text-align: left;

      @media only screen and (min-width: 769px) {
        transition: all 0.3s ease;
      }

      @media only screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
      }

      @media only screen and (max-width: 576px) {
        font-size: 12px;
        line-height: 16px;
      }

			&:hover {
        @media only screen and (min-width: 769px) {
          color: #dbbb76;
          transition: all 0.3s ease;
        }
			}
		}
	}

	.product-brand-text {
		font-size: 1vw;

    @media only screen and (min-width: 769px) {
      transition: all 0.3s ease;
    }

		@media only screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 22px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 10px;
      line-height: 15px;
		}

		&:hover {
      @media only screen and (min-width: 769px) {
        color: #dbbb76;
        transition: all 0.3s ease;
      }
		}
	}
}

@media only screen and (min-width: 1200px) {
	.d-large {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	#store-container {
		padding-top: 70.8px;

		.products {
			width: 876px;
		}

		.content {
			width: 1188px;
			padding-top: 36px;
			margin-left: auto;
			margin-right: auto;
		}

		.search {
			width: 288px;
			padding-left: 0px;
			padding-right: 12px;
			margin-right: 48px;
			height: 100%;
		}

		.header-filter, .reset-filter {
			font-size: 16.8px;
		}

		.search-by-text {
			margin-left: 18px;
			margin-right: 18px;
		}

		.search-textbox {
			font-size: 13.2px;
			margin-top: 2.4px;
			padding-left: 3.6px;
		}

		.header-arrow {
			margin-top: 20.4px;
			margin-bottom: 12px;
			font-size: 14.4px;
			.arrow {
				width: 20.4px;
				padding-top: 2.4px;
			}
		}

		.filters {
			margin-top: 12px;
		}

		.filters > ul > li {
			width: 204px;
			margin-left: 18px;
			margin-right: 18px;
		}

		.subfilters {
			line-height: 22px;

			.single-filter {
				font-size: 15.6px;
				line-height: 18px;
	
				> span {
					font-size: 16.8px;
					line-height: 24px;
					i {
						line-height: 16.8px;
					}
				}
			}

			> li {
				width: 204px;
				margin: auto 18px auto 12px;
			}
		}

		.flex-div {
			padding-top: 26.4px;
		}

		.flex-div > li {
			width: 240px;
			margin-left: 18px;
			margin-right: 18px;
			margin-bottom: 66px;
		}

		.prod-name {
			font-size: 14.4px;
			line-height: 16.8px;
			margin-bottom: 6px;
		}

		.family-name {
			font-size: 20.5px;
			line-height: 25.2px;
			margin-top: 12px;
		}

		.card-product {
			width: 252px;
			.pic-frame {
    		width: 252px;
				height: 240px;
			}
			figure.center-product {
				.search-img {
					max-width: 228px;
					max-height: 228px;
				}
			}
			.product-name {
				max-width: 233.5px;
				min-height: 18px;
				line-height: 19.2px;
				> span > i {
					padding-right: 7.2px;
					font-size: 12px;
				}
				.product-price-text {
					font-size: 18px;
			  }
				.product-name-text {
					font-size: 14.4px;
				}
				.product-brand-text {
					  font-size: 12px;
				}
			}
		}
	}
}