<div class="gdpr d-large">
    <div id="gdpr-en" *ngIf="language==='EN'">
        <h1>Privacy Policy</h1>
        <p>JNL SA, with its registered office at 8, AVENUE EDISON 1300 Wavre, Belgium, and company number
            0459.979.641 (hereinafter referred to as "JNL", "we" or "us") collects and processes personal data
            via its website, http://www.jnl.be. </p>
        <p>This privacy policy describes how and why we process your personal data.</p>
        <p>The General Data Protection Regulation ("GDPR") of 27 April 2016 defines "personal data" as any information
            relating to an identified or directly or indirectly identifiable natural person (such as an individual's
            first or last name, date of birth, etc.)
            (the "Personal Data"). JNL is considered a data controller for purposes of the GDPR.</p>

        <ol>
            <li>
                <span>PERSONAL DATA COLLECTED BY US</span>
                <ol>
                    <li>Information you provide to us
                        <p>You may provide us with information about yourself when you fill in forms on our website
                            (http://www.jnl.be)
                            or when you communicate with us via phone, email or otherwise. You may also provide us with
                            information about yourself
                            when you create a user account on our website, subscribe to our newsletters or place an
                            order
                            via the website.
                            This information may include your name, address, phone number, email address and credit or
                            debit
                            card information
                            (should you place an order via the website).</p>
                    </li>
                    <li>Information we collect about you
                        <p>During each visit to our website, the following data may be collected automatically by us:
                        </p>
                        <ul>
                            <li>
                                <p>technical data, including the IP address of your computer, your connection data,
                                    browser
                                    and browser version,
                                    time zone, the types of extensions used by your browser and the version thereof, the
                                    operating system and platform;</p>
                            </li>
                            <li>
                                <p>information about your visit, including all uniform resource locators (URLs) visited
                                    before, during or after your visit
                                    to our website (with the date and time), products that you looked at or looked up,
                                    the
                                    loading time of pages, download errors,
                                    the time spent on certain pages and your actions on these pages (such as scrolling,
                                    clicking and mouse movements)
                                    as well as how you left the page, and all phone numbers used to contact our customer
                                    service department.</p>
                            </li>
                        </ul>
                    </li>
                </ol>
            </li>
            <li><span>COOKIES</span>
                <p>Our website doesn’t use cookies to distinguish you from other users of our services. </p>
            </li>
            <li><span>LEGAL BASIS FOR THE PROCESSING OF PERSONAL DATA</span>
                <p>We process your Personal Data because it is necessary for the execution of the contract, and more
                    specifically to create
                    and maintain your account on our website and fill your order(s).</p>
                <p>We process your Personal Data only insofar as necessary to pursue our legitimate interest (direct
                    marketing) or if you have
                    consented to receive our newsletters. Each newsletter sent to you, shall provide the possibility to
                    unsubscribe from our newsletters. </p>
            </li>
            <li><span>PURPOSES FOR WHICH PERSONAL DATA ARE PROCESSED</span>
                <p>We process your Personal Data for the following purposes:</p>
                <ul>
                    <li>
                        <p>Management of our website: the information you provide to us enables us to follow up on your
                            order and
                            ensure that it is delivered on time and keep your account up to date.</p>
                    </li>
                    <li>
                        <p>Customer service: we ask you to provide us with your contact details, in particular your
                            email address and phone number,
                            in order to respond to questions you might have regarding the use of our website and to keep
                            you informed of the status of your order.</p>
                    </li>
                    <li>
                        <p>Direct marketing: we wish to keep you informed of our latest collections and to invite you
                            to our events.</p>
                    </li>
                    <li>
                        <p>Performance of a contract with the data subject: we collect and process Personal Data in
                            order to enter into and execute contracts
                            concluded with you and to provide our services and products to you and adapt them to your
                            requirements and wishes.</p>
                    </li>
                </ul>
            </li>
            <li><span>CATEGORIES OF RECIPIENTS OF PERSONAL DATA</span>
                <p>We work closely with third parties, such as cloud providers, IT providers, payment service providers,
                    etc.
                    The Personal Data we may transfer to these recipients include credit or debit card information,
                    contact details, the names and contact
                    details of other persons when an order is to be delivered to a different address, and your purchase
                    history.
                </p>
            </li>
            <li><span>PROTECTION OF PERSONAL DATA</span>
                <p>We take technical and organizational measures to protect your Personal Data against any form of
                    destruction, loss, alteration or damage,
                    including accidental or unlawful. </p>
            </li>
            <li><span>TRANSFER OF PERSONAL DATA</span>
                <p>Your Personal Data may be transferred to and stored in other countries. Since the level of personal
                    data protection may differ
                    from one country to another, it is possible that some countries offer a lower level of protection
                    than your country of residence.
                    In that case, we will take reasonable measures to ensure that your Personal Data are protected and
                    processed in accordance with
                    the applicable legislation and this privacy statement.</p>
            </li>
            <li><span>DATA SUBJECT RIGHTS</span>
                <p>Pursuant to the GDPR, you have the right to access your Personal Data collected by us and to request
                    the rectification of any inaccuracies
                    in these Personal Data. You also have the right to object to the processing of your Personal Data.
                </p>
                <p>Right to erasure: any request to erase or remove your Personal Data, including information which has
                    been posted online,
                    should be sent to <a href="mailto:info@jnl.be">info@jnl.be</a></p>
                <p>Right to data portability: should you wish to access the Personal Data you have provided to us or to
                    request that these Personal Data
                    be transferred to a third party, please contact <a href="mailto:info@jnl.be">info@jnl.be</a>.</p>
                <p>You have the right to withdraw your consent at any time. The withdrawal of consent does not affect
                    the legitimacy of the processing activities
                    based on consent given prior thereto.</p>
                <p>You have the right to file a complaint with the data protection authority
                    (www.dataprotectionauthority.be).</p>
            </li>
            <li><span>PERSONAL DATA RETENTION</span>
                <p>Retention policy: we store your Personal Data no longer than necessary for the purposes for which
                    they were collected or the statutorily
                    applicable period, i.e. approximately seven years. URLs are deleted automatically after 15 days.</p>
            </li>
            <li><span>AMENDMENT OF THIS PRIVACY POLICY</span>
                <p>This privacy policy was last updated on 05/09/2019. We reserve the right to amend this privacy policy
                    from time to time and to make
                    the necessary changes hereto. We therefore ask you to consult this policy regularly. You will be
                    informed of any substantial modifications.</p>
            </li>
            <li><span>CONTACT</span>
                <p>Any questions, comments or requests regarding this privacy policy should be sent to <a href="mailto:info@jnl.be">info@jnl.be</a>.</p>
            </li>
        </ol>
    </div>
    <div id="gdpr-fr" *ngIf="language==='FR'">
        <h1>Politique de confidentialité</h1>
        <p>JNL Collection SA, dont le siège social est 8, AVENUE EDISON 1300 Wavre, Belgique avec numéro d'entreprise:
            0459.979.641,
            (ci-après « JNL » « nous » ou « notre ») collecte et traite les données à caractère personnel via le Site
            Internet: http://www.jnl.be </p>
        <p>Notre politique de confidentialité définit la façon dont les données à caractère personnel que nous
            collectons
            auprès de vous seront traitées par nos services.</p>
        <p>Aux fins de Règlement Général sur la Protection des Données du 27 avril 2016 (Le
            « RGPD »), le terme « données à caractère personnel » désigne toute information relative à une personne
            physique identifiée ou qui
            peut être identifiée, directement ou indirectement (par exemple un nom et un prénom, une date de naissance,
            etc.)
            (les « Données à caractère personnel ») et le responsable du traitement est JNL.
        </p>

        <ol>
            <li>
                <span>LES INFORMATIONS QUE NOUS COLLECTONS AUPRÈS DE VOUS</span>
                <ol>
                    <li>Les informations que vous nous transmettez.</li>
                    <p>Vous êtes susceptible de nous transmettre des informations vous concernant en remplissant des
                        formulaires sur notre Site Internet http://www.JNL.be ou en correspondant avec nous par
                        téléphone, courrier électronique ou autre. Cela inclut des informations que vous nous
                        transmettez lorsque vous créez un compte afin d'utiliser notre Site Internet, de vous abonner à
                        notre newsletter ou de passer commande via notre Site Internet. Ces informations peuvent inclure
                        votre nom, adresse, numéro de téléphone, adresse électronique et les renseignements concernant
                        des cartes de crédit ou de débit (si vous souhaitez passer commande via notre Site Internet).
                    </p>
                    <li>Les informations que nous collectons à votre égard.</li>
                    <p>Lors de chacune de vos visites, nous sommes susceptibles de collecter automatiquement les données
                        suivantes :</p>
                    <ul>
                        <li>
                            <p>des données techniques, y compris l'adresse IP (Internet Protocol) utilisée pour
                                connecter votre ordinateur à Internet, vos informations de connexion, le type de
                                navigateur et sa version, votre fuseau horaire, les types d'extensions de votre
                                navigateur et leurs versions, le système d'exploitation et la plate-forme ;</p>
                        </li>
                        <li>
                            <p>des données concernant votre visite, y compris l'intégralité des URL (Uniform Resource
                                Locator) consultées avant, pendant et après notre Site Internet (y compris la date et
                                l'heure) ; les produits que vous avez consultés ou recherchés ; les délais de réponse
                                des pages, les erreurs de téléchargement, la durée des visites de certaines pages, les
                                interactions avec ces pages (telles que le défilement, les clics et le parcours de votre
                                souris) ainsi que les méthodes utilisées pour quitter cette page et tous les numéros de
                                téléphone utilisés pour contacter notre service clients.</p>
                        </li>
                    </ul>
                </ol>
            </li>
            <li><span>COOKIES</span>
                <p>Notre Site Internet n’utilise pas de cookies afin de vous distinguer des autres utilisateurs de nos
                    services. </p>
            </li>
            <li><span>LA BASE JURIDIQUE DU TRAITEMENT</span>
                <p>Nous utilisons vos Données à caractère personnel car elles sont nécessaires pour l'exécution du
                    contrat et notamment pour créer et maintenir votre compte sur notre Site Internet et pour livrer
                    votre commande.</p>
                <p>Nous utilisons vos Données à caractère personnel parce que nous avons un intérêt légitime (direct
                    marketing) ou si vous y avez consenti et notamment pour vous envoyer des newsletters. </p>
            </li>
            <li><span>L’UTILISATION QUI EST FAITE DE VOS DONNÉES À CARACTÈRE PERSONNEL</span>
                <p>Nous utilisons des Données à caractère personnel vous concernant aux fins suivantes :</p>
                <ul>
                    <li>
                        <p>Administration de notre Site Internet : les informations que vous nous transmettez nous
                            permettent d’honorer votre commande, nous assurer que votre commande est bien livrée et
                            tenir votre compte à jour.</p>
                    </li>
                    <li>
                        <p>Service Clients : nous vous demandons vos coordonnées, notamment votre adresse électronique
                            et votre numéro de téléphone, afin de répondre aux questions que vous pourriez vous poser
                            concernant l’utilisation de notre Site Internet et de vous communiquer le statut de votre
                            commande.</p>
                    </li>
                    <li>
                        <p>Marketing direct : nous voulons vous tenir au courant de nos dernières collections et vous
                            inviter à nos événements.</p>
                    </li>
                    <li>
                        <p>L'exécution d'un contrat auquel la personne concernée est partie nous collectons et
                            traitons des données à caractère personnel pour la conclusion et l’exécution d’un contrat
                            passé avec vous et pour vous fournir les services et produits, et les adapter à vos besoins
                            et desiderata.</p>
                    </li>
                </ul>
            </li>
            <li><span>LES CATÉGORIES DE DESTINATAIRES DES DONNÉES À CARACTÈRE PERSONNEL</span>
                <p>Nous collaborons étroitement avec des tierces parties. Y compris, par exemple, fournisseur de
                    services cloud, fournisseur de services informatiques, prestataire de services de paiement, etc.
                    Les Données à caractère personnel que nous pouvons transférer à ces catégories de destinataires,
                    incluent les renseignements concernant des cartes de crédit ou de paiement, vos coordonnées, les
                    autres noms et les autres coordonnées que vous fournissez lorsque vous passez commande et souhaitez
                    qu’elle soit livrée à une autre adresse ainsi que l’historique de vos achats.
                </p>
            </li>
            <li><span>LA SÉCURITÉ DES DONNÉES À CARACTÈRE PERSONNEL</span>
                <p>Nous prenons des mesures techniques et organisationnelles pour protéger vos informations personnelles
                    contre toute destruction, perte, modification ou dégradation, d'origine accidentelle ou frauduleuse.
                    Plus d'informations sur notre politique de sécurité peuvent être demandées: <a href="mailto:info@jnl.be">info@jnl.be</a></p>
            </li>
            <li><span>LES TRANSFERT DES DONNÉES À CARACTÈRE PERSONNEL</span>
                <p>Vos Données à caractère personnel peuvent être transférées et stockées dans des pays qui ne relèvent
                    pas de votre juridiction. Les niveaux de protection juridique des Données à caractère personnel
                    étant différents selon les pays, vous pouvez être moins protégé dans certains pays que dans le pays
                    de votre lieu de résidence. Dans ce cas, nous prendrons toutes les mesures raisonnables pour que vos
                    Données à caractère personnel soient sécurisées et traitées conformément à la loi en vigueur et aux
                    termes de la présente charte.</p>
            </li>
            <li><span>LES DROITS DES PERSONNES CONCERNÉES</span>
                <p>Le RGPD vous autorise à accéder aux Données à caractère personnel que nous détenons à votre égard et
                    à les modifier si elles sont erronées. Vous avez le droit, à des fins légitimes, de nous interdire
                    de procéder au traitement de vos Données à caractère personnel. Si vous souhaitez exercer ce droit,
                    rendez-vous dans la rubrique « Mon compte » ou contactez-nous par courrier électronique à
                    <a href="mailto:info@jnl.be">info@jnl.be</a> ou à l'adresse suivante : JNL 8, AVENUE EDISON, 1300 Wavre, Belgique.
                </p>
                <p>Droit à l’effacement : toute demande de suppression ou de retrait de vos Données à caractère
                    personnel, y compris les informations publiées en ligne, doit être adressée à INFO@JNL.BE</p>
                <p>Droit à la portabilité : si vous souhaitez accéder aux Données à caractère personnel que vous nous
                    avez communiquées sous forme électronique, ou si vous souhaitez que ces Données soient transférées à
                    un tiers, veuillez adresser votre demande à <a href="mailto:info@jnl.be">info@jnl.be</a></p>
                <p>Vous avez le droit de retirer vos consentements à tout moment. Le retrait du consentement ne
                    compromet pas la licéité du traitement fondé sur le consentement effectué avant ce retrait.</p>
                <p>Vous avez aussi le droit de déposer une plainte auprès l'autorité de protection des données
                    (www.dataprotectionauthority.be).</p>
            </li>
            <li><span>LA DURÉE DE CONSERVATION DES DONNÉES À CARACTÈRE PERSONNEL</span>
                <p>Politique relative au stockage des Données à caractère personnel: nous ne stockerons pas vos Données
                    à caractère personnel plus longtemps qu’il ne le faut aux fins pour lesquelles elles ont été
                    collectées ou que cela n’est requis par la loi, c’est-à-dire une durée de plus ou moins 7 ans. Les
                    URL sont stockées pendant 15 jours et puis effacées automatiquement.</p>
            </li>
            <li><span>MODIFICATION DE LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ</span>
                <p>La présente politique de confidentialité a été actualisée pour la dernière fois le 05/09/2019. Nous
                    nous réservons le droit de revoir cette politique de confidentialité de temps en temps et de faire
                    les ajustements nécessaires. Nous vous invitons donc à la consulter régulièrement. Tout changement
                    substantiel sera porté à votre connaissance.</p>
            </li>
            <li><span>CONTACT</span>0
                <p>Toutes les questions, remarques et demandes concernant la présente politique de confidentialité
                    doivent être adressées à <a href="mailto:info@jnl.be">info@jnl.be</a></p>
            </li>
        </ol>
    </div>
</div>