.presse-main {
	margin: auto;
	width: 100%;
	padding-top: 5.9vw;
  text-align: center;

  .submenu {
    width: 26vw;
  }

	h2 {
    margin-bottom: 3.45vw;
    font-size: 3.5vw;
	}

	h4 {
		margin: auto;
		width: 58.3vw;
		font-size: 24px;
		font-family: Helvetica-Light;
		margin-top: 3.3vw;
		text-align: center;
	}

	.first-image {
		width: 100%;
		left: 0;
		margin-top: 3.81vw;
		margin-bottom: 3.01vw;
	}

	.logo {
		align-self: center;
		height: auto;
		width: 12vw !important;
	}

	.bloc-four-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 67.9vw;
		margin: auto;

		@media only screen and (max-width: 768px) {
			flex-direction: column;
		}
	}

	.elements {
		margin: auto;
		width: 15.47vw;
		display: flex;
		flex-direction: column;

		@media only screen and (max-width: 768px) {
			width: 100%;
			margin-bottom: 30px;
		}

		> img {
			width: 100%;
			margin-bottom: 15px;
		}

		.jbtn {
			width: 100%;
			margin-bottom: 0.6vw;

			@media only screen and (min-width: 769px) and (max-width: 991px) {
				font-size: 10px;
			}
		}
	}

	#catalogues,
	#banqueImages  {
		padding-top: 5.9vw;
	}

	@media only screen and (max-width: 768px) {

		h4 {
			font-size: 7.2vw;
		}

		.four-flex {
			width: 80vw;
			justify-content: center;
		}

		.four-flex > div {
			flex-direction: column;
		}

		.four-flex > div > div {
			width: 30vw;
		}

		.four-flex > div > div > img {
			width: 30vw;
		}

		.four-flex > div > div > span {
			width: auto;
			font-size: 2.5vw;
		}
	}
}
