h1 {
    font-family: PlacardMT-Condensed;
    font-size: 5.03vw;
    margin-bottom: 3vh;

    text-align: center;
}

h2 {
    /* margin-top: 5.9vw; */
    margin-bottom: 5.6vw;
    font-family: Atak-Light;
    font-size: 3.5vw;

    text-align: center;
}

h4 {
    margin: auto;
    width: 58.3vw;
    font-size: 1.8vw;

    font-family: Atak-Medium;

    margin-top: 3.3vw;
    text-align: center;
}


.presse-main {
    margin: auto;
    width: 100vw;
}

.presse-main > div {
    margin: auto;
    left: 0;
    width: 100vw;

    text-align: center;
}


.home_links {
    border: 1.5px solid #DBBB76;
    padding: .38vw; /*0.3em;*/
    padding-left: 1.25vw; /*1em;*/
    padding-right: 1.25vw; /*1em;*/

    font-size: 1.25vw;
    text-transform: uppercase;

    margin-bottom: 10px;
}


#presse_list {
    margin: auto;
    font-family: Atak-Light;
    font-size: 1em;
    width: 50vw;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0px;
    justify-content: center;

    margin-bottom: 4vw;
    text-align: center;
}

#presse_list > a {
    margin: auto;

    font-size: 1.5em;
    margin-right: 20px;
    left: 0;

    text-transform: uppercase;
}

#presse_list > a:first-child {
    margin-left: 0px;
}

#presse_list > a:last-child {
    margin-right: 0px;
}

#presse_list > a:hover {
    text-decoration: underline;
}


.first-image {
    width: 100vw;

    left: 0;
    margin-top: 1.6vw;
    margin-bottom: 4.2vw;
}


.four-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 67.9vw;
    margin: auto;
}

.four-flex > div {
    margin: auto;
    width: 15.8vw;
    display: flex;
    flex-direction: column;
}

.four-flex > div > img {
    width: 15.8vw;
    margin-bottom: 1.9vw;
}

.four-flex > div > span {
    font-family: Atak-Light;
    font-size: 1.8vw;

    width: 15.8vw;
    word-wrap: normal;

    height: 6.5vw;
}




.carousel-inner {

    margin: auto;

    width: 60vw;
    height: 70vh;

    display: flex;
}

#blogCarousel {
    height: 60vw;
    margin: auto;
}

.row {
    margin: auto;
}
.slide-image {

    margin: auto;
    width: 100%;
    height: 90%;

    object-fit: cover;


    text-align: left;
    float: left;
    
    position: relative;
}
.carousel-marques {
    width: 100%;

    margin: auto;

}

.carousel-control-prev, .carousel-control-next {
    display: flex;
    width: 5vw !important;
}

.carousel-arrows {
    height: 4vw;
    width: 2vw;
    margin: auto;
}


.carousel-arrows {
    margin-top: auto;
}

.carousel-item-content {
    width: 23.7vw;
}

.carousel-item-image {
    float: left;
    padding-left: 0px;

    width: 60vw;

    display: flex;

}


/* .marques_img {
    height: 50vh;
    float: left;
} */

.carousel-indicators {
    width: auto;
    margin: auto;
    margin-bottom: 2.8vw;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 1vw;

    position: relative;
}

.carousel-indicators > li {
    height: 0;
    width: auto;
    text-transform: uppercase;
    text-indent: 0;
    font-size: 1.88vw;
}

.carousel-indicators > span {
    color: #555;
}

.carousel-indicators .active > span{
    background-color: #555;
}

.carousel-indicators .active {
    background-color: rgb(46, 46, 46);
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    height: 15px;
    width: 15px;

    border: none;
    border-radius: 100%;

    cursor: pointer;
    display: inline-block;

    margin-right: 0.5em;
    outline: none;

    background-color: #BFBFBF;
}

.container {
    padding: 0px;

    font-family: Atak-Regular;
    font-size: 16px;

    display: flex;
    height: 70vh;
}

#parutions {
    margin-bottom: 5vw;
}

.parutions-text {

    width: 23.7vw;

    padding-top: 3vw;

    font-family: Atak-Regular;
    font-size: 1.4vw;

    text-align: left;
    text-transform: uppercase;
    
}

.parutions-text > div {
    margin: auto;
}

.parutions-text > div > span {
    
    font-family: Atak-Light;
    font-size: 1.8vw;
    text-transform: uppercase;
}

.modal-backdrop {
    position: relative;
  }

.modal-body {
    padding: 0px !important;
}

.modal-dialog {
    width: 80vw;
    max-width: 1440px;
    min-height: 0px;
    margin-top: 60px;
}

#catalogues, #banqueImages, #pressKit, #parutions {
    margin-bottom: 60px;
    padding-top: 60px;
}




@media only screen and (max-width: 800px) {
    .parutions-text {
        width: 80vw;
        height: 40vw;
        position: relative;
        top:0;
    }

    h2 {
        font-size: 7.6vw;
    }

    h4 {
        font-size: 7.2vw;
    }


    .parutions-text {
        font-size: 5.5vw;
    }

    .parutions-text > div > span {
        font-size: 7.2vw;
    }

    #presse_list > a {
        margin: 0px;
    }
}