.presse-main {
	margin: auto;
	margin-bottom: 6vw;
  padding-top: 5.9vw;
  width: 100%;
  text-align: center;

  @media only screen and (max-width: 768px) {
    margin-bottom: 3vw;
  }

  .submenu {
    width: 26vw;
  }

  h1 {
    @media only screen and (min-width: 577px) and (max-width: 768px) {
      font-size: 30px;
    }
  }

	h2 {
    margin-bottom: 3.45vw;
    font-size: 3.5vw;
	}

	h4 {
		margin: auto;
		width: 58.3vw;
		font-size: 24px;
		font-family: Helvetica-Light;
		margin-top: 3.3vw;
		text-align: center;
	}

	.first-image {
		width: 100%;
		left: 0;
		margin-top: 3.81vw;
		margin-bottom: 3.01vw;
	}

	.logo {
		align-self: center;
		height: auto;
		width: 12vw !important;
	}

	.bloc-four-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 67.9vw;
		margin: auto;

		@media only screen and (max-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
		}
	}

	.elements {
		margin: auto;
		width: 15.47vw;
		display: flex;
		flex-direction: column;

		@media only screen and (max-width: 768px) {
			width: 32vw;
			margin-bottom: 30px;
		}

		> img {
			width: 100%;
      margin-bottom: 15px;

      @media only screen and (max-width: 768px) {
        margin-bottom: 10px;
      }
		}

		.jbtn {
			width: 100%;
			margin-bottom: 0.6vw;

			@media only screen and (min-width: 769px) and (max-width: 991px) {
				font-size: 10px;
			}
		}
	}

	#catalogues,
	#banqueImages  {
    padding-top: 5.9vw;

    @media only screen and (max-width: 768px) {
      padding-top: 1vw;
    }
	}

	@media only screen and (max-width: 768px) {

		h4 {
			font-size: 7.2vw;
		}

		.four-flex {
			width: 80vw;
			justify-content: center;
		}

		.four-flex > div {
			flex-direction: column;
		}

		.four-flex > div > div {
			width: 30vw;
		}

		.four-flex > div > div > img {
			width: 30vw;
		}

		.four-flex > div > div > span {
			width: auto;
			font-size: 2.5vw;
		}
	}

	@media only screen and (min-width: 1200px) {
		h2 {
			margin-bottom: 41.5px;
			font-size: 42px;
		}

		#catalogues,
		#banqueImages  {
    		padding-top: 70.8px;
		}

		.bloc-four-flex {
			width: 814.8px;
		}

		.elements {
			width: 185.64px;
			.jbtn {
				margin-bottom: 7.2px;
			}
		}

		.logo {
			width: 144px !important;
		}
	}
}
