<div class="presse-main" *ngIf="text && altText">
  <h1>{{text.press}}</h1>

  <div class="submenu d-none d-sm-flex hide-mobile">
    <a (click)="navigateTo('press', 'catalogues')">{{text.catalog}}</a>
    <a (click)="navigateTo('press', 'banqueImages')">{{text.bank}}</a>
  </div>

  <div>
    <img class="first-image" alt="{{altText['img0']['alt'][language]}}"
      src="{{text.imgLocation}}{{altText['img0']['src']}}">
  </div>

  <div id="catalogues">
    <h2>{{text.catalog}}</h2>
    <div class="bloc-four-flex">
      <div class="elements" *ngFor="let c of textCatalog">
        <img alt="{{c[3]}}" src="{{text.imgLocation}}{{c[2]}}">
        <button class="jbtn" (click)="download(c[1], 'catalog')">{{text.download}}</button>
      </div>
    </div>
  </div>

  <div id="banqueImages">
    <h2>{{text.bank}}</h2>
    <div class="bloc-four-flex">
      <div class="elements" *ngFor="let i of textInspiration">
        <img alt="{{i[3]}}" src="{{text.imgLocation}}{{i[2]}}">
        <img class="logo" alt="{{i[5]}}" src="{{text.imgLocation}}{{i[4]}}">
        <button class="jbtn" (click)="goAllProductsOfBrand(i[1])">{{text.products}}</button>
      </div>
    </div>
  </div>
</div>
