.wrapper_garnissage {
	width: 80vw;
	margin: auto;
	padding-top: 6vw;
	padding-bottom: 4vw;
	display: flex;
  flex-direction: row;

  @media only screen and (max-width: 768px) {
    width: 98%;
  }

	li,
	ul {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		list-style-type: none;
		padding: 0 !important;
	}

	i {
		outline: none;
	}

	.filters {
		text-align: left;
		width: 24vw;
		padding-left: 2vw;
		padding-right: 1vw;
		margin-right: 4vw;
		height: auto;
		// overflow-y: auto;
    // overflow-x: hidden;


    @media only screen and (max-width: 768px) {
      width: 30vw;
    }
	}

	.filters > ul > li {
		display: block;
	}

	.products {
		width: 73vw;
		height: auto;
    // overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;


    @media only screen and (max-width: 768px) {
      width: 68vw;
    }
	}

	.scroll-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		padding: 10px 10px 10px 0;
	}

	.scroll-item {
		display: flex;
		flex-direction: column;
		width: 14.86vw;
		margin-right: 2vw;
    align-items: center;


    @media only screen and (max-width: 768px) {
      width: 28vw;
    }
	}

	.img-button {
		width: 14.5vw;
		height: 7.63vw;
		max-width: 380px;
    max-height: 200px;


    @media only screen and (max-width: 768px) {
      width: 25vw;
      height: auto;
    }
	}

	.product-name {
		font-family: Helvetica-Light;
    font-size: 1.1vw;

    @media only screen and (max-width: 768px) {
      margin-top: 4px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 10px;
      line-height: 14px;
    }
	}

	div > ul > li {
		display: block;
		list-style-type: none;
		cursor: pointer;
	}

	.header-arrow {
		display: flex;
		flex-direction: column;
		width: auto;
		margin-top: 1.7vw;
		margin-bottom: 1vw;
		justify-content: baseline;
	}

	.header-filter {
		font-family: Helvetica-Light;
		font-size: 1.4vw;
		text-transform: uppercase;
		color: #dbbb76;
		margin-bottom: 0;
    float: left;

    @media only screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 12px;
      line-height: 16px;
    }
	}

	.arrow {
		width: 1.7vw;
		height: auto;
		float: right;
		text-align: right;
		padding-top: 0.2vw;
    cursor: pointer;

    @media only screen and (max-width: 768px) {
      width: 12px;
    }
	}

	.subfilters {
		line-height: 1.83vw;

		> li {
			width: 17vw;
			margin: auto;
			margin-left: 1vw;
			margin-right: 1.5vw;
      display: inline-block;

      @media only screen and (max-width: 768px) {
        width: 25vw;
      }
		}
	}

	.single-filter {
		margin-bottom: 0;
		font-family: Helvetica-Light;
		font-size: 1.3vw;
    line-height: 1.6vw;

    @media only screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 11px;
      line-height: 16px;
    }

    > span > i {
      line-height: 1.4vw;
      font-size: 1vw;

      @media only screen and (max-width: 768px) {
        font-size: 11px;
        line-height: 16px;
      }
    }
	}


@media only screen and (min-width: 1200px) {
	// .wrapper_garnissage {
		width: 960px;
		padding-top: 72px;
		padding-bottom: 48px;

		.filters {
			width: 288px;
			padding-left: 24px;
			padding-right: 12px;
			margin-right: 48px;
			height:1128px;
		}

		.products {
			width: 876px;
			height: 1128px;
		}

		.scroll-item {
			width: 178.3px;
			margin-right: 24px;
		}

		.img-button {
			width: 174px;
			height: 91.6px;
		}

		.product-name {
			font-size: 13.2px;
		}

		.header-arrow {
			margin-top: 20.4px;
			margin-bottom: 12px;
		}

		.header-filter {
			font-size: 16.8px;
		}

		.arrow {
			width: 20.4px;
			padding-top: 2.4px;
		}

		.subfilters {
			line-height: 22px;

			> li {
				width: 204px;
				margin-left: 12px;
        margin-right: 18px;
			}
		}

		.single-filter {
			font-size: 15.6px;
			line-height: 19.2px;
		}

		.single-filter > span > i {
			line-height: 16.8px;
			font-size: 12px;
		}
	}
}
// }
