<div class="fav-main">
  <h1>{{text.title}}</h1>
  <div class="content">
    <div class="fav-list">
      <div class="filters">
        <ul>
          <li *ngFor="let favItem of favoritesList; let i=index">
            {{favItem.listName}}
          </li>
        </ul>
      </div>
    </div>

    <div class="products">
      <div id="remove-download">
        <div (click)="removeAllItems()">
          <img alt="JNL Collection" src="/assets/Images/Common/remove_all_fav_icon.png"  height="16px">
          <h3>&nbsp;&nbsp;{{text.remove}}</h3>
        </div>

        <h3>&nbsp;&nbsp;&#8213;&nbsp;&nbsp;</h3>

        <div>
            <img alt="JNL Collection" src="/assets/Images/Common/download_icon.png" height="16px">
            <h3>&nbsp;&nbsp;{{text.download}}</h3>
          </div>
      </div>

      <div [ngClass]="(this.removeAll===true) ? 'remove-item' :'products'">
        <ul class="list">
          <cdk-virtual-scroll-viewport itemSize="30">
            <div class="flex-div">
            <ng-container *cdkVirtualFor="let n of numbers">
              <li [ngClass]="(this.removed[n]===1) ? 'remove-item' :'non-remove'">
                <div>
                  <div class="pic-frame">
                    <div>
                      <img alt="JNL Collection" src="\assets\Images\Common\remove_fav_icon.png" class="remover" (click)="removeItem(n)">
                    </div>
                    <div class="center-product">
                      <img alt="JNL Collection" src="\assets\Images\Favorites\F_example{{n}}.png" class="fav-img">
                    </div>
                  </div>
                  <span>Product Name</span>
                </div>
              </li>
            </ng-container>
            
            <li *ngFor="let m of [0, 1, 2]" [ngClass]="(m  >= 4 - this.total % 4 || this.total % 4 == 0) ? 'remove-item' :'non-remove'">
              <div>
                <div class="pic-frame">
                  <div>
                    <img alt="JNL Collection" src="\assets\Images\Favorites\F_none.png" class="remover">
                  </div>
                  <div class="center-product">
                    <img alt="JNL Collection" src="\assets\Images\Favorites\F_none.png" class="fav-img">
                  </div>
                </div>
                <span>&nbsp;</span>
              </div>
            </li>
          </div>
          </cdk-virtual-scroll-viewport>
        </ul>
      </div>
    </div>
  </div>
    <div class="fav_div">
      <h2>{{text.infoTitle}}</h2>
      <app-request-form [requestType]='5'></app-request-form>
    </div>
</div>