.dialog-answer {
  h1 {
    font-size: 1.5vw;
  }

  > div > p {
    font-size: 1.2vw;
    line-height: 1.4vw;
  }

  .dialog-action {
    text-align: center;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }
}

.fav-main {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;

  h2 {
    @media only screen and (max-width: 768px) {
			margin-left: auto;
			margin-right: auto;
			width: 80vw;
			word-wrap: normal;
			font-size: 5.6vw !important;
		}
  }

	h3 {
		text-transform: uppercase;
		text-align: center;
		font-family: Helvetica-Light;
		color: #dbbb76;
		font-size: 1.6vw; /*20px;*/
		margin: 1.5vw 0;
	}

  > div {
		margin: auto;
		left: 0;
		width: 100%;
    text-align: center;

    &.share-list {
      font-family: Helvetica-Light;
      font-size: 1.5vw;

      > p {
        margin-bottom: 1vw;
        cursor: pointer;
      }

      > p:nth-child(2), > p:nth-child(3) {
        font-size: 1.3vw;

        > i {
          color: #dbbb76;
        }
      }
    }
  }

	i {
		outline: none;
	}

	ul {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		list-style-type: none;
		padding: 0 !important;
	}

	.content {
		width: 99vw;
		padding-top: 3vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.fav-list {
		width: 24vw;
		padding-left: 2vw;
		padding-right: 1vw;
		margin-right: 4vw;
		height: auto;
    overflow-x: hidden;

    > p {
      margin-top: 3.5vw;
      font-size: 1.6vw;
      text-align: left;
      text-transform: uppercase;
      color: #dbbb76;
    }
	}

	.products {
		width: 73vw;
		display: flex;
		flex-direction: column;
	}

	.products-container {
		height: auto;
		overflow-x: hidden;
		margin: 1vw 0 5vw;
	}

	.list {
		margin-top: 1vw;
	}

	.filters {
		margin-top: 3vw;
		text-align: left;
	}

	.filters > ul > li {
    display: inline-block;
		margin: auto;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
    width: 17vw;
    font-size: 1.5vw;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	.filters > ul > li:hover {
		color: #dbbb76;
		transition: all 0.3s ease;
	}

	.single-filter {
		margin-bottom: 0;
		font-family: Helvetica-Light;
		font-size: 1.3vw;
		line-height: 1.5vw;
	}

	.single-filter > span > i {
		line-height: 1.4vw;
		font-size: 1vw;
	}

	.fav-div {
    margin-top: 7.5vw !important;
    padding-top: 3.7vw;
		left: 0;
		width: 100%;
		text-align: center;
		font-family: Helvetica-Light;
		font-size: 20px;
    background-color: #e3d9c6;

    @media only screen and (max-width: 768px) {
        font-size: 4.5vw;
      }
	}

	.fav-div > h2 {
		margin-top: 0;
	}

	li {
		width: 17.8vw;
		margin: auto;
		display: inline-block;
		margin-bottom: 5vh;
	}

	li > div {
		font-family: Helvetica-Light;
		font-size: 1.2vw;
		text-align: left;
	}

	.flex-div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: left;
		float: left;
		width: auto;
		margin: auto;
		overflow-x: hidden;
		width: 73vw;
	}

	.flex-div > li {
		width: 20vw;
		margin: auto;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		display: inline-block;
		margin-bottom: 3vh;
	}

	.card-product {
    position: relative;
		width: 21vw;
		cursor: pointer;
		color: black;
	}

	.pic-frame {
		width: 21vw;
		height: 20vw;
		background-color: white;
		border: 0.88px solid transparent;
	}

	.center-product {
		margin: auto;
		margin-bottom: 0;
		vertical-align: middle;
		display: flex;
		overflow: visible;
	}

	.search-img {
		max-width: 19vw;
		max-height: 19vw;
		padding: 0;
		vertical-align: middle;
		margin: auto;
		object-fit: contain;
		transition: 0.5s;
	}

	.search-img:hover {
		transform: scale(1.2);
	}

	.product-name {
		max-width: 19.45vw;
		text-align: center;
		margin-bottom: 0;
		min-height: 1.5vw;
	}

	.product-name > span > i {
		padding-right: 0.6vw;
		font-size: 1vw;
		transition: all 0.3s ease;
	}

	.product-name > span > i:hover {
		color: #dbbb76;
		transition: all 0.3s ease;
	}

	.product-name > span > img {
		height: 14px;
		padding-bottom: 2px;
	}

	.product-name > span > img:hover {
		transform: scale(1.2);
	}

	.product-name-text {
		transition: all 0.3s ease;
	}

	.product-name-text:hover {
		color: #dbbb76;
		transition: all 0.3s ease;
	}

	.product-brand-text {
		font-size: 1vw;
		/* line-height: 1.2vw; */
		transition: all 0.3s ease;
	}

	.product-brand-text:hover {
		color: #dbbb76;
		transition: all 0.3s ease;
	}
}
