<div class="fav-main" *ngIf="currentFavoriteList">
  <h1>{{text.title}}</h1>
  <h3>{{currentFavoriteList.listName}}</h3>

  <div class="share-list">
    <p (click)="shareFavoritesList(currentFavoriteList)">Share this Favorites List</p>
    <p *ngIf="sharedFavoritesListLink" [copy-clipboard]="sharedFavoritesListLink" (copied)="notify($event)">
      Copy the link:
      &nbsp;
      <i class="far fa-copy gold"></i>
      &nbsp;
      Then paste it in the document or message you would like to send.
    </p>
    <p *ngIf="sharedFavoritesListLink"></p>
  </div>

  <div class="content" *ngIf="favoritesList">
    <div class="fav-list">
      <p>Favorites Lists</p>
      <div class="filters">
        <ul>
          <li *ngFor="let favItem of favoritesList; let i=index" class="single-filters"
            (click)="setFavoriteList(favItem.id)">
            {{favItem.listName}}
          </li>
        </ul>
      </div>
    </div>

    <div class="products">
      <div class="products-container">
        <ul class="list">
          <div class="flex-div" *ngIf="favoritesProductsDetails">
            <li *ngFor="let f of favoritesProducts">
              <div class="card-product">
                <div class="pic-frame" (click)="goToProduct(f)">
                  <figure class="center-product">
                    <img class="search-img" [src]="getProductImage(f)" alt="getAltText(f)">
                  </figure>
                </div>
                <div style="position: relative">
                  <p class="product-name">
                    <span>
                      <img src="/assets/Images/Common/remove_all_fav_icon.png" height="14px"
                        (click)="remove(f)">
                    </span>
                    <span class="product-name-text" (click)="goToProduct(f)">
                      {{getProductName(f)}}
                    </span>
                  </p>
                  <p class="product-name">
                    <span class="product-brand-text" (click)="goToProduct(f)">
                      {{f.productBrand}}
                    </span>
                  </p>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="fav-div">
    <h2>{{text.infoTitle}}</h2>
    <app-request-form [requestType]='5'></app-request-form>
  </div>
</div>
