<div class="fav-main">
  <h1>{{text.title}}</h1>

  <div id="favs">
    <div id="remove-download">
      <div>
        <img alt="JNL Collection" src="/assets/Images/Common/remove_all_fav_icon.png" class="icon">
        <h3>&nbsp;&nbsp;{{text.remove}}</h3>
      </div>

      <h3>&nbsp;&nbsp;&#8213;&nbsp;&nbsp;</h3>

      <div>
          <img alt="JNL Collection" src="/assets/Images/Common/download_icon.png" class="icon">
          <h3>&nbsp;&nbsp;{{text.download}}</h3>
        </div>
    </div>

    <div class="products">
      <ul class="list">
        <cdk-virtual-scroll-viewport  style="height: 500px" itemSize="30" >
          <ng-container *cdkVirtualFor="let n of numbers">
            <li> {{n}} </li>
          </ng-container>
        </cdk-virtual-scroll-viewport>
      </ul>
    </div>


  </div>


  
    
  <div class="fav_div">
    <h2>{{text.infoTitle}}</h2>
    <form class="fav_form">
      <div id="checks">
        <div *ngFor="let item of text.infoOptions; let k = index" (click)="selectMarque(k)">
            <span><i [ngClass]="(this.selected[k]===1) ? 'fas fa-square' :'far fa-square'"></i></span>
            <span class="option-label">&nbsp;&nbsp;{{item}}</span>
        </div>
      </div>
  
      <div>
        <textarea placeholder={{text.specifyText}} rows="6" required maxlength="500"></textarea>
      </div>

      <div id="details">
        <input placeholder="Prenom*" reaquired/>
        <input placeholder="Nom*" required/>
        <input placeholder="Société*" required/>
        <input placeholder="Poste*" required/>
        <select>
            <option selected disabled>{{text.country}} 🡫</option>
            <option>Sujet 1</option>
            <option>Sujet 2</option>
            <option>Sujet 3</option>
          </select>
        <input placeholder="Adresse"/>
        <input placeholder="Ville*" required/>
        <input placeholder="Province"/>
        <input placeholder="Code Postal*"/>
        <input placeholder="Email*" required/>
      </div>

      <br>

      <button id="send">ENVOYER</button>
    </form>
  </div>

</div>