h1 {
    font-family: PlacardMT-Condensed;
    font-size: 5.03vw;
    margin-bottom: 3vh;

    text-align: center;

    text-transform: uppercase;
}

h2 {
    /* margin-top: 5.9vw; */
    font-family: Atak-Light;
    font-size: 3.5vw;

    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-family: Atak-Regular;
    color: #DBBB76;
    font-size: 1.6vw; /*20px;*/

    margin-bottom: 1.5vw;
}

h4 {
    margin: auto;
    width: 58.3vw;
    font-size: 1.8vw;

    font-family: Atak-Medium;

    margin-top: 3.3vw;
    text-align: center;
}

textarea{
    margin: auto;
    background-color: #F6EEDD;
    border: none;
    width: 100%;
    outline: none;
}

i {
    outline: none;
}

input, select
{
    /* margin: auto; */
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 

    outline: none;
    border: hidden;

    width: 21vw;
    background-color: transparent;


    border: none;
    border-bottom: 1.5px solid black;

    margin-top: 1.5vw;
    padding-bottom: 0px;
}

button
{
    text-transform: uppercase;

    margin: auto;
    background-color: white;
    color: black;

    margin-top: 5.3em;
    margin-bottom: 4em;
    border: none;

    /*width: 20%;*/
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}




.fav-main {
    margin: auto;
    /* width: 100vw; */

    display: flex;
    flex-direction: column;
}

.fav-main > div {
    margin: auto;
    left: 0;
    width: calc(100vw - 77px);

    text-align: center;
}

.fav_div
{
    background-color: #E9D6AC;
    width: calc(100vw - 77px);
    left: 0;

    text-align: center;

    margin-bottom: 5vh;

    font-family: Atak-Regular;
    font-size: 20px;
    padding-top: 3.7vw;
    
}

.fav_div > h2 {
    margin-top: 0;
}

.fav_form
{
    width: 44vw;
    margin: auto;
    margin-top: 4.8vw;
    display: flex;
    flex-direction: column;
    align-content: center;

    text-align: left;
}

.fav_form:focus, input:focus, textarea:focus, select:focus, button:focus
{
    outline: none;
}

.fav_form > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

    width: 44vw;
    margin: auto;
}

.fav_form > div > div{
    width: 44vw;
    margin-top: 0px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.option-label:hover {
    cursor: default;
}

#expertise, #surMesure, #votreProjet {
    margin-bottom: 60px;
    padding-top: 60px;
}

#details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 3.5vw;
}

#services {
    margin: auto;
    width: 87.3vw;
    height: 55vw;
    display: flex;

    color: white;
}

#services > div:first-child {
    margin: auto;
    width: 87vw;
    /*width: 1255px;*/

    height: 48.5vw;

    display: flex;
    flex-direction: column;
}


#checks {
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-content: center;

    margin-bottom: 5.1vw;
}

#checks > div {
    display: flex;
    flex-direction: row;
}

#send {
    width: 16.5vw;
    margin-top: 4.3vw;
}


@media only screen and (max-width: 800px){
    .fav_div > p{
        font-size: 1em;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 9.7vw;
    }

    h2 {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        word-wrap: normal;
        font-size: 5.6vw !important;
    }

    h4 {
        width: 80vw;
    }

    button {
        margin-top: 0px;
    }

    input {
        margin-top: 20px;
    }

    .sur-flex {
        flex-direction: column;
        width: 80vw;
    }

    .sur-flex > div {
        width: 80vw;
        justify-content: space-between;
    }
    
    .sur-flex > div:last-child {
        flex-direction: column-reverse;
    }

    .sur-flex > div > div > img {
        width: 80vw;
    }

    .fav_form {
        width: 100vw;
    }

    .fav_form > div {
        flex-direction: column;
        width: 80vw;
    }

    .fav_form > div > div {
        width: 80vw !important;
    }

    
    .fav_form > div > div:first-child {
        margin-bottom: 5vw;
    }







    h2 {
        font-size: 5.6vw;
    }
    
    h4 {
        font-size: 4.2vw;
    }
    
    
    .quote-bar > p {
        font-family: Atak-LightItalic;
        font-size: 4.2vw;
    }
    
    .quote-bar > h4 {
        font-size: 3.9vw;
    }
    
    .sur-flex > div > div {
        font-size: 4.5vw;
    } 
    .sur-flex > div > div > span {
        font-size: 4.4vw;
    
    } 
    
    .sur-flex > div:nth-child(2) > div:first-child {
        font-size: 4.5vw; 
    } 
    
    
    
    
    
    
   
    .fav_div
    {
        font-size: 4.5vw;
        
    }
    
   
    .fav_div > div > p {
        font-size: 4.5vw;
    }

    #services_list > a {
        margin: 0px;
    }

   
}