::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }

.contact_div
{
    text-align: center;

    width: 60vw;
    margin: auto;
    margin-bottom: 5vh;
}
.contact_form
{
    width: 90%;
    margin: auto;
}
.contact_form:focus, .contact_form > input:focus
{
    outline: none;
}
.contact_form > input
{ 
    width: 100%;

    background-color: white;

    border: none;
    border-bottom: 1.5px solid black;

    margin-right: 3em;
    
    margin-top: 1.7em;
    padding-bottom: 0.7em;

}
.contact_form > div > input,  .contact_form > div > select:nth-child(n+1)
{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 

    outline: none;
    border: hidden;

    width: 45%;

    background-color: white;

    border: none;
    border-bottom: 1.5px solid black;

    margin-right: 10%;
    margin-top: 1.7em;
    padding-bottom: 0.7em;
}
.contact_form > div > input:nth-child(2)
{
    margin-right: 0px; 
}
.contact_top
{
    margin: auto;
    
    margin-right: 0px !important;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.contact_top > select
{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;  

    

    width: 20% !important;

    background-color: white;

    border: none;
    border-bottom: 1.5px solid black;

    margin-right: 10% !important;
    margin-bottom: 1em;


    
}
.contact_top > select:nth-child(2)
{
    margin-right: 0px !important; 
}
.contact_form > button
{
    background-color: black;
    color: white;

    margin-top: 3em;
    border: none;

    width: 20%;
}