.les-services-main {
	margin: auto;
	display: flex;
	flex-direction: column;
  padding-top: 5.9vw;

  .submenu {
    width: 38vw;
    margin: auto auto 4vw;
  }

	> div {
		margin: auto;
		left: 0;
		text-align: center;
  }

  h2 {
    font-size: 3.5vw;
  }

	h4 {
		margin: auto;
		width: 58.3vw;
		font-size: 1.8vw;
		font-family: Helvetica-Light;
		margin-top: 3.3vw;
		text-align: center;
	}

	video {
		width: 72.63vw;
		height: 51.5vw;
		margin: auto;
	}

	.first-image {
		width: 76vw;
		margin: auto;
		margin-top: 1.6vw;
		margin-bottom: 4.2vw;
	}

	.sur-flex {
		width: 76vw;
		margin: auto;
		margin-top: 5.2vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    text-align: left;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
			width: 80vw;
    }

    > div {
      width: 31.2vw;
      margin: auto;
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media only screen and (max-width: 768px) {
        width: 80vw;
      }

      > div {
        font-family: Helvetica-Light;
        font-size: 1.4vw;
        line-height: 2vw;

        @media only screen and (max-width: 768px) {
          margin-bottom: 4vw;
          text-align: center;
          font-size: 13px;
          line-height: 18px;
        }

        > img {
          width: 31.2vw;
          margin: 0;

          @media only screen and (max-width: 768px) {
            width: 80vw;
          }
        }
      }
    }

    > div:nth-child(2) > div:first-child {
      margin-top: 0 !important;
      margin-bottom: 1.5vw;
      font-family: Helvetica-Light;
      font-size: 15px;
      line-height: 24px;
      text-align: left;

      @media only screen and (max-width: 768px) {
        margin-bottom: 3vw;
      }
    }

    // > div:last-child {
    //   @media only screen and (max-width: 768px) {
    //     flex-direction: column-reverse;
    //   }
		// }
	}

	#services {
		margin: auto;
		width: 80vw;
		// display: flex;
		color: white;
		margin-top: 30px;

		@media only screen and (max-width: 768px) {
			margin-top: 0;
		}

		> img {
			width: 100%;
			object-fit: contain;
		}
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: black;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: black;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: black;
	}

	textarea {
		margin: auto;
		background-color: #f6eedd;
		border: none;
		width: 100%;
		outline: none;
	}

	i {
		outline: none;
	}

	.services-your-project {
		width: 100%;
		background-color: #e3d9c6;
		left: 0;
		text-align: center;
		font-family: Helvetica-Light;
		font-size: 1.4vw;
		padding-top: 3.7vw;

		> p {
			width: 45vw;
			margin: auto;
			font-size: 1.4vw;
			line-height: 2vw;

			@media only screen and (max-width: 768px) {
        width: 80vw;
        font-size: 13px;
        line-height: 18px;
			}
		}
	}

	#expertise,
	#surMesure,
	#votreProjet {
		padding-top: 5.9vw;
	}

	#expertise {
		margin-top: 2.57vw;
	}

	#expertise > h4,
	#surMesure > h4,
	#votreProjet > h4 {
		font-size: 1.8vw;
    line-height: 2.2vw;
    @media only screen and (max-width: 768px) {
      font-size: 13px;
      line-height: 18px;
    }
	}

	#surMesure {
		margin-top: 5.75vw;
		margin-bottom: 5.48vw;
    width: 80vw;
    @media only screen and (max-width: 768px) {
      margin-top: 3vw;;
    }
	}

	@media only screen and (max-width: 768px) {
		.contact-div > p {
			width: 80vw;
			margin-left: auto;
			margin-right: auto;
		}

		h4 {
			width: 80vw;
		}

		button {
			margin-top: 0;
		}

		input {
			margin-top: 20px;
		}

		.quote-bar > p {
			font-family: Helvetica-Light;
		}
	}


	@media only screen and (min-width: 1200px) {
		h2 {
			font-size: 42px;
		}

		#expertise,
		#surMesure,
		#votreProjet {
			padding-top: 70.8px;
		}

		#expertise {
			margin-top: 31px;
		}

		#expertise > h4,
		#surMesure > h4,
		#votreProjet > h4 {
			font-size: 21.6px;
			line-height: 26.4px;
		}

		.sur-flex > div > div {
			font-size: 16.8px;
			line-height: 24px;
		}

		.services-your-project {
			p {
				font-size: 16.8px;
				line-height: 24px;
			}
		}
	}
}
