<div class="les-services-main" *ngIf="text">
  <h1>{{text.services}}</h1>

  <div class="submenu d-none d-sm-flex">
    <a (click)="navigateTo('services', 'expertise')">{{text.expertise}}</a>
    <a (click)="navigateTo('services', 'surMesure')">{{text.surMesure}}</a>
    <a (click)="navigateTo('services', 'votreProjet')">{{text.project}}</a>
  </div>

  <div id="services">
      <img  alt="{{altText['img0']['alt'][language]}}" src="assets/Images/Services/{{altText['img0']['src']}}">
  </div>
  <div>
    <div  id="expertise">
      <h2>{{text.expertiseTitle}}</h2>
      <h4>
        {{text.expertiseText}}
      </h4>
    </div>
  </div>

  <div id="surMesure">
    <h2>{{text.consultingTitle}}</h2>
      <div class="sur-flex">
        <div>
            <div>{{text.consultingText1}}
              <br><br>
            </div>
            <div>
                <img alt="{{altText['img1']['alt'][language]}}" src="assets/Images/Services/{{altText['img1']['src']}}">
            </div>
        </div>
        <div>
            <div>
                <img alt="{{altText['img2']['alt'][language]}}" src="assets/Images/Services/{{altText['img2']['src']}}">
            </div>
            <div>
              {{text.consultingText2}}
            </div>
        </div>
    </div>
  </div>

  <div class="services-your-project" id="votreProjet">
    <h2>{{text.projectTitle}}</h2>
    <p>{{text.projectText}}</p>
    <app-request-form [requestType]='3'></app-request-form>
  </div>
</div>
