/*  BOTTOM CAROUSEL ------------------- */

.carousel-arrows {
    height: 2vw;
    width: 1vw;
}

@media (min-width: 768px) {
    #carouselGallery > .gallery-carousel-inner {
        height: 23vw !important;
    }

    .carousel-item {margin-right: auto !important;}

    /* show 3 items */
    .gallery-carousel-inner .active,
    .gallery-carousel-inner .active + .carousel-item,
    .gallery-carousel-inner .active + .carousel-item + .carousel-item,
    .gallery-carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .gallery-carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .gallery-carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .gallery-carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .gallery-carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .gallery-carousel-inner .carousel-item-next,
    .gallery-carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .gallery-carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .gallery-carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    .panel {
        border: 1px solid black;
        padding: 0px 5px;
    }
}

#carousel-title {
    text-align: center;
}

#carousel-title > p {
    font-family: Helvetica;
    font-size: 3vw;
}

#carousel-title > p > span {
    font-family: Helvetica;
    font-size: 3vw;
    text-transform: uppercase;
}

.clear {
    height: 5vw;
}