<div class="les-marques-main" *ngIf="text">
    <div>
        <h1>{{text.title}}</h1>


        <div id="marques_list">
        <a routerLink="/savoirFaire" fragment="atelier">{{text.ateliers}}</a>
        <a routerLink="/savoirFaire" fragment="fabrication">{{text.fabrication}}</a>
        </div>

        <div id="savoir">
            <video width="87.3vw" height="33.3vw" autoplay muted loop playsinline>
                <source src="assets/Video/JNL_video.mp4" type="video/mp4">
            </video>
        </div>

        <div id="atelier">
            <h2>{{text.ateliers}}</h2>
            <h3>{{text.subText}}</h3>
            <h4>{{text.firstText}}</h4>
        </div>
        <img class="full-image" alt="JNL Collection" src="assets/Images/Savoir/SF_pic4.jpg" style="margin-top: 0px;">

        <div class="ateliers-flex">
            <div>
                <div>
                    <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic6.jpg">

                    <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
                </div>

                <div>« Nous avons la profonde conviction que l’artisanat du luxe ne doit pas être réservé à une élite.<br> 
                    Il est crucial pour l’avenir qu’il se développe et que tous nos efforts soient tournés 
                    vers la transmission du beau et du bien fait » 
                    <br>
                    <span>DOMINIQUE WAXMANN, CEO</span>
                </div>

            </div>

            <div>
                <div>
                    Qu’ils soient <strong>garnisseurs, ébénistes, sculpteurs, ferronniers ou techniciens</strong>, ses artisans 
                    perpétuent un art ancestral qui confère un cachet unique à chacune des créations. <br><br>
                    Guidés par le sens de l’innovation, ils n’hésitent cependant pas à <strong>s’éloigner des schémas traditionnels.</strong> 
                    Cette confrontation entre l’héritage de savoir-faire séculaires et les nouvelles technologies permet 
                    d’éditer des collections très abouties et dans l’aire du temps.
                </div>

                <div>
                    <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic1.jpg">
                    <h5>Lorem ipsum dolor sit amet.</h5>
                </div>
            </div>
        </div>

        
        <div class="ateliers-flex" id="af1">
            <div>
                <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic9.jpg">

                <h5>Lorem ipsum dolor sit amet.</h5>
            </div>   
            <div>
                <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic10.jpg">

                <h5>Lorem ipsum dolor sit amet.</h5>
            </div>
        </div>

        <img class="full-image" alt="JNL Collection" src="assets/Images/Savoir/SF_pic2.jpg">

        <div class="ateliers-flex" id="af2">
            <div>
                <div>
                    <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic5.jpg">
                    <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
                </div>
            </div>
            <div>
                <div>
                    <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic3.jpg">
                    <h5>Lorem ipsum dolor sit amet.</h5>
                </div>
            </div>
        </div>

    <div id="fabrication">
        <h2>{{text.fabrication}}</h2>
        <h3>{{text.steps}}</h3>

        
        <!--CAROUSEL-->
        <div id='carousel-steps' class='carousel slide carousel-marques' data-ride='carousel'>
                <div class="carousel-inner">
                    <div class='carousel-item active'>
                    <div class="container">
                        <div class="carousel-item-image">
                            <img src='/assets/Images/Savoir/SF_pic21.jpg' alt='JNL Collection' class="slide-image">
                        </div>
                        <div class="steps-text">
                            <div>
                                1<br>
                                <span>{{text.step1Title}}</span><br><br>
                                {{text.step1Text}}
                            </div>  
                        </div>
                    </div>
                    </div>
        
                    <div class='carousel-item' active="setActiveSlide(1)">
                        <div class="container">
                            <div class="carousel-item-image">
                                <img src='/assets/Images/Savoir/SF_pic22.jpg' alt='JNL Collection' class="slide-image">
                            </div>
                            <div class="steps-text">
                                <div>
                                    2<br>
                                    <span>{{text.step2Title}}</span><br><br>
                                    {{text.step2Text}}
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div class='carousel-item'>
                        <div class="container">
                            <div class="carousel-item-image">
                                <img src='/assets/Images/Savoir/SF_pic23.jpg' alt='JNL Collection' class="slide-image">
                            </div>
                            <div class="steps-text">
                                <div>
                                    3<br>
                                    <span>{{text.step3Title}}</span><br><br>
                                    {{text.step3Text}}
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class='carousel-item'>
                        <div class="container">
                            <div class="carousel-item-image">
                                <img src='/assets/Images/Savoir/SF_pic24.jpg' alt='JNL Collection' class="slide-image">
                            </div>
                            <div class="steps-text">
                                <div>
                                    4<br>
                                    <span>{{text.step4Title}}</span><br><br>
                                    {{text.step4Text}}
                                </div> 
                            </div>
                            </div>
                    </div>
                    <div class='carousel-item'>
                        <div class="container">
                            <div class="carousel-item-image">
                                <img src='/assets/Images/Savoir/SF_pic25.jpg' alt='JNL Collection' class="slide-image">
                            </div>
                            <div class="steps-text">
                                <div>
                                    5<br>
                                    <span>{{text.step5Title}}</span><br><br>
                                    {{text.step5Text}}
                                </div>  
                            </div>
                            </div>
                    </div>
                </div>
                
                <!-- Controls 
                <a class='carousel-control-prev' data-target="#carousel-custom" data-slide='prev'>
                    <img alt="JNL Collection" src="assets\Images\Common\arrow_left.png" class="carousel-arrows">
                    <span class="sr-only">Previous</span>
                </a>
                <a class='carousel-control-next' data-target="#carousel-custom" data-slide='next'>
                    <img alt="JNL Collection" src="assets\Images\Common\arrow_right.png" class="carousel-arrows">
                    <span class="sr-only">Next</span>
                </a>-->

                
            <div class='carousel-indicators'>
                <input type="radio" name="ind-steps" data-target='#carousel-steps' data-slide-to='0' class='active'>
                <input type="radio" name="ind-steps" data-target='#carousel-steps' data-slide-to='1'>
                <input type="radio" name="ind-steps" data-target='#carousel-steps' data-slide-to='2'>
                <input type="radio" name="ind-steps" data-target='#carousel-steps' data-slide-to='3'>
                <input type="radio" name="ind-steps" data-target='#carousel-steps' data-slide-to='4'>
                </div>
            </div>
            <!--CAROUSEL-->

            <h4>{{text.stepsText}}</h4>

        <div id="services">
            <img  alt="JNL Collection" src="assets/Images/Savoir/SF_pic11.jpg" (click)="navigateTo('services')">
            <h4>LES SERVICES</h4>
        </div>
        </div>
    </div>
</div>