<div class="les-marques-main">
    <div>
      <h1>LE SAVOIR-FAIRE</h1>


      <div id="marques_list">
        <a routerLink="/savoirFaire" fragment="atelier">LES ATELIERS</a>
        <a routerLink="/savoirFaire" fragment="fabrication">LA FABRICATION</a>
      </div>

      <div id="video">
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Savoir/SF_video_img.jpg">
    </div>


<div id="atelier">
    <h2>Les ateliers</h2>
    <h3>Entre tradition et innovation : une histoire de création.</h3>
    <h4>Au cœur de ses propres ateliers européens, le groupe JNL a insufflé 
        un vent d’exclusivité sur son processus de fabrication et a su séduire
         les grands noms de l’architecture grâce à son talent du sur mesure 
        et la réalisation de pièces uniques. </h4>
    <img class="full-image" alt="JNL Collection" src="assets/Images/Savoir/SF_pic4.jpg">

    <div class="ateliers-flex">
        <div>
            <div>
                <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic6.jpg">

                <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
            </div>

            <div>« Nous avons la profonde conviction que l’artisanat du luxe ne doit pas être réservé à une élite.<br> 
                Il est crucial pour l’avenir qu’il se développe et que tous nos efforts soient tournés 
                vers la transmission du beau et du bien fait » 
                <br>
                <span>Dominique Waxmann, CEO</span>
            </div>

            <div>
                <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic9.jpg">

                <h5>Lorem ipsum dolor sit amet.</h5>
            </div>
        </div>

        <div>
            <div>
                Qu’ils soient garnisseurs, ébénistes, sculpteurs, ferronniers ou techniciens, ses artisans 
                perpétuent un art ancestral qui confère un cachet unique à chacune des créations. <br><br>
                Guidés par le sens de l’innovation, ils n’hésitent cependant pas à s’éloigner des schémas traditionnels.<br> 
                Cette confrontation entre l’héritage de savoir-faire séculaires et les nouvelles technologies permet 
                d’éditer des collections très abouties et dans l’aire du temps.
            </div>

            <div>
                <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic1.jpg">
                <h5>Lorem ipsum dolor sit amet.</h5>
            </div>
            
            <div>
                <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic10.jpg">

                <h5>Lorem ipsum dolor sit amet.</h5>
            </div>
        </div>
    </div>

    <img class="full-image" alt="JNL Collection" src="assets/Images/Savoir/SF_pic2.jpg">

    <div class="ateliers-flex">
        <div>
            <div>
                <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic5.jpg">
                <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
            </div>
        </div>
        <div>
            <div>
                <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic3.jpg">
                <h5>Lorem ipsum dolor sit amet.</h5>
            </div>
        </div>
    </div>

</div>
<div id="fabrication">
    <h2>La fabrication</h2>
    <h3>EN 5 étapes</h3>
    
    <div class="gallery-flex">
        <div class="equipe-card">
            <img alt="JNL Collection" src="assets/Images/Savoir/SF_pic8.jpg">
            
            <div>
                <p>
                    1<br>
                    <span>LE DESSIN</span><br><br>
                    
                    Les premières lignes du projet se définissent avec votre accord 
                    et posent les bases du processus créatif.
                </p>   
            </div>

        </div>
        <div class="equipe-radio">
            <input type="radio" name="five-steps">
            <input type="radio" name="five-steps">
            <input type="radio" name="five-steps">
            <input type="radio" name="five-steps">
            <input type="radio" name="five-steps">
        </div>
    </div>

    <div id="services">
        <h4>Chaque étape de la fabrication peut être soumise à une demande de 
            personnalisation pour un résultat sur mesure.
        </h4>
        <img  alt="JNL Collection" src="assets/Images/Savoir/SF_pic11.jpg">
        <h4>LES SERVICES</h4>
    </div>
    
</div>
