
.presse-main {
	margin: auto;
	width: 100%;
	padding-top: 5.9vw;
	text-align: center;

	h2 {
		margin-bottom: 3.45vw;
	}

	h4 {
		margin: auto;
		width: 58.3vw;
		font-size: 24px;
		font-family: Helvetica-Light;
		margin-top: 3.3vw;
		text-align: center;
	}

	.first-image {
		width: 100%;
		left: 0;
		margin-top: 3.81vw;
		margin-bottom: 3.01vw;
	}

	.logo {
		align-self: center;
		height: auto;
		width: 12vw !important;
	}

	.bloc-four-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 67.9vw;
		margin: auto;

		@media only screen and (max-width: 768px) {
			flex-direction: column;
		}
	}

	.elements {
		margin: auto;
		width: 15.47vw;
		display: flex;
		flex-direction: column;
		margin-right: 1vw;

		@media only screen and (max-width: 768px) {
			width: 100%;
			margin-bottom: 30px;
		}

		> img {
			width: 100%;
			margin-bottom: 15px;
		}

		> span {
			width: 100%;
			margin-bottom: 0.6vw;
		}
	}

	.row {
		margin: auto;
	}

	.container {
		padding: 0px;
		font-family: Helvetica-Light;
		font-size: 16px;
		display: flex;
		height: 70vh;
	}

	#parutions {
		margin-bottom: 5vw;
	}

	#catalogues,
	#banqueImages,
	#pressKit,
	#parutions {
		padding-top: 5.9vw;
	}

	@media only screen and (max-width: 768px) {
		.parutions-text {
			width: 80vw;
			height: 40vw;
			position: relative;
			top: 0;
		}

		h4 {
			font-size: 7.2vw;
		}

		.parutions-text {
			font-size: 5.5vw;
		}

		.parutions-text > div > span {
			font-size: 7.2vw;
		}

		.four-flex {
			width: 80vw;
			justify-content: center;
		}

		.four-flex > div {
			flex-direction: column;
		}

		.four-flex > div > div {
			width: 30vw;
		}

		.four-flex > div > div > img {
			width: 30vw;
		}

		.four-flex > div > div > span {
			width: auto;
			font-size: 2.5vw;
		}
	}
}