.contact_div.request_div {
	text-align: center;
	/* padding-top: 5.9vw; */
	font-family: Helvetica-Light;
	font-size: 15px;

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #444;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #444;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #444;
	}

	textarea {
		margin: auto;
		margin-top: 1.5vw;
		background-color: #f6eedd;
		border: none;
		width: 45vw;
		outline: none;
		font-size: 15px;
	}

	select {
		margin: auto;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 45vw;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid black;
		margin: auto;
		margin-top: 1.5vw;
		text-transform: capitalize;
		font-size: 15px;
	}

	select > .default-option {
		color: #666;
	}

	p {
		width: 45vw;
		margin: auto;
		text-align: right;
	}

	p {
		font-size: 15px;
	}

	> p {
		font-family: Helvetica-Light;
		font-size: 15px;
		padding-left: 18.9vw;
		padding-right: 18.9vw;
	}

	.contact_form {
		width: 100%;
		padding-top: 2vw;
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.contact_form:focus,
	.contact_form > input:focus,
	textarea:focus,
	select:focus,
	button:focus {
		outline: none;
	}

	.contact_form > input,
	#country {
		margin: auto;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		border: hidden;
		width: 45vw;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid black;
		margin-top: 1.5vw !important;
		margin-bottom: 0px !important;
		padding-bottom: 0px;
		font-size: 15px;
	}

	.contact_form > input.ng-invalid {
		color: red;
	}

	.i-checkbox {
		border-bottom: none;
	}

	.contact_top {
		margin: auto;
		margin-right: 0px !important;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}

	.contact_form > button {
		text-transform: uppercase;
		margin: auto;
		background-color: white;
		color: black;
		margin-top: 3vw;
		margin-bottom: 4vw;
		border: none;
		width: 15vw;
		font-size: 15px;
		transition: all 0.3s ease-out;
	}

	.contact_form > button:hover:not([disabled]) {
		cursor: pointer;
		color: #444;
		background-color: #f6eedd;
		font-weight: bold;
		transition: all 0.1s ease-in;
	}

	> div {
		width: 100vw;
		background-color: #e3d9c6;
	}

	.contact_form > div {
		width: 45vw;
		margin: auto;
		text-align: left;
	}

	.a-left {
		align-content: left;
	}

	@media only screen and (max-width: 800px) {
		> p {
			font-size: 4.4vw;
			padding-left: 10px;
			padding-right: 10px;
		}

		input,
		select,
		textarea {
			width: 90vw !important;
			font-size: 3.5vw;
		}

		input[type="checkbox"],
		input[type="radio"] {
			width: initial !important;
		}

		font-size: 4.2vw;

		> p {
			font-size: 4.2vw;
		}

		.contact_form > div {
			width: initial;
		}

		.contact_form > button {
			margin-top: 0px;
		}

		.contact_form > input {
			margin-top: 5vw;
		}
	}
}
