.contact_div.request_div {
	text-align: center;
	/* padding-top: 5.9vw; */
	font-family: Helvetica-Light;
	font-size: 15px;
}

.contact_form {
	background-color: #e3d9c6;
	width: 100%;
	padding-top: 2vw;
	display: flex;
	flex-direction: column;
	align-content: center;

	textarea {
		margin: auto;
		margin-top: 1.5vw;
		background-color: #f6eedd;
		border: none;
		width: 45vw;
		outline: none;
		font-size: 15px;
	}

	select {
		margin: auto;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 45vw;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid black;
		margin: auto;
		margin-top: 1.5vw;
		font-size: 15px;
	}

	select > .default-option {
		color: #666;
	}

	p {
		width: 45vw;
		margin: auto;
		text-align: right;
	}

	&:focus,
	& > input:focus,
	textarea:focus,
	select:focus,
	button:focus {
		outline: none;
	}

	& > input, #country {
		margin: auto;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		border: hidden;
		width: 45vw;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid black;
		margin-top: 1.5vw !important;
		margin-bottom: 0px !important;
		padding-bottom: 0px;
		font-size: 15px;
	}

	> input.ng-invalid {
		color: red;
	}

	.i-checkbox {
		border-bottom: none;
	}

	.contact_top {
		margin: auto;
		margin-right: 0px !important;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}

	> button {
		text-transform: uppercase;
		margin: auto;
		background-color: white;
		color: black;
		margin-top: 3vw;
		margin-bottom: 4vw;
		border: none;
		font-size: 15px;
		padding: 15px 50px;
		line-height: 12px;
		transition: all 0.3s ease-out;

		&:hover:not([disabled]) {
			cursor: pointer;
			color: #444;
			background-color: #f6eedd;
			font-weight: bold;
			transition: all 0.1s ease-in;
		}
	}

	> div {
		width: 100vw;
		background-color: #e3d9c6;
	}

	> div {
		width: 45vw;
		margin: auto;
		text-align: left;
	}

	.a-left {
		align-content: left;
	}

	@media only screen and (max-width: 768px) {
		> p {
			font-size: 4.4vw;
			padding-left: 10px;
			padding-right: 10px;
			width: 100%;
		}

		input,
		select,
		textarea {
			width: 90vw !important;
			font-size: 16px;
		}

		input[type="checkbox"],
		input[type="radio"] {
			width: initial !important;
		}

		font-size: 4.2vw;

		> p {
			font-size: 4.2vw;
		}

		> div {
			width: initial;
		}

		> button {
			margin-top: 0px;
		}

		> input {
			margin-top: 5vw;
		}
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #444;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #444;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #444;
	}
}