<div class="login-wrapper">
	<h2 mat-dialog-title>Login</h2>
	<div mat-dialog-content>
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" formControlName="username" class="form-control textbox"
					[ngClass]="{ 'is-invalid': submitted && f.username.errors }"
					autocomplete="on"/>
				<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
					<div *ngIf="f.username.errors.required">Username is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" formControlName="password" class="form-control textbox"
					[ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
				<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
					<div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        <!-- <label class="forgot-password" (click)="forgotPassword()">Forgot password</label> -->
      </div>
		</form>
	</div>
  <div mat-dialog-actions class="dialog-action">
    <label mat-button (click)="onSubmit()">Login</label>
    &nbsp;
    <label mat-button (click)="close()">Cancel</label>
	</div>
</div>
