html *
{
   font-family: Atak-Regular !important;
}

hr {
    border-width: 1px;
    border-style: solid;
}

h1 {
    font-family: PlacardMT-Condensed;
    text-transform: uppercase;
}

.gold {
    color: #DBBB76;
}

.clear {
    height: 20px;
}

#container {
    padding-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    
}

#productImg {
    display: flex;
    text-align: center;
}

#header {
    display:flex;
    flex-direction: column;
    text-align: center;
}

#footer {
    text-align: center;
}

.home_links
{
    border: 1.5px solid #DBBB76;
    padding: 0.3em;
    padding-left: 1.35vw;
    padding-right: 1.35vw;
    font-size: 1.35vw; /*1em;*/
    width: 20vw;
    text-transform: uppercase;
}
