html *
{
   font-family: Helvetica-Light !important;
}

h1 {
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    /* margin-top: 5.9vw; */
    font-family: Helvetica;
    font-size: 27px;

    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-family: Helvetica-Light;
    color: #DBBB76;
    font-size: 26px; /*20px;*/

    margin-bottom: 1.5vw;
}

h4 {
    font-family: Helvetica-Light;
    font-size: 20px;
}

h5 {
    font-family: Helvetica-Light;
    font-size: 15px;
}

textarea{
    margin: auto;
    background-color: #F6EEDD;
    border: none;
    width: 100%;
    outline: none;

    font-family: Helvetica-Light;
    font-size: 1.4vw;
}

i {
    outline: none;
}

input, select
{
    /* margin: auto; */
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 

    outline: none;
    border: hidden;

    background-color: transparent;

    font-family: Helvetica-Light;
    font-size: 1.4vw;
    width: 21vw;

    border: none;
    border-bottom: 1.5px solid black;

    margin-top: 1.5vw;
    padding-bottom: 0px;
}

button
{
    text-transform: uppercase;

    margin: auto;
    background-color: white;
    color: black;

    margin-top: 5.3em;
    margin-bottom: 4em;
    border: none;

    /*width: 20%;*/
}

ol {
    padding-inline-start: 0 !important;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}


#top-container {
    padding-top: var(--search-bar-height);
}

.gold {
    /* color: #DBBB76; */
    color: inherit;
}

.slide-image {
    max-width: 56.52vw;
    max-height: 37.43vw;
    object-fit: contain;
    text-align: center;
}

/* #carousel-item-image {
    display: flex !important;
    justify-content: center;
    width: 56.72vw;
    margin: auto;
}  */

.carousel-custom {
    display: flex !important;
    justify-content: center;
}

.carousel-inner .carousel-item {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.carousel-inner {
    margin: auto;
    width: 56.72vw;
    height: 37.43vw;
    /* border: .7px solid black; */
    text-align: center !important; 
}


.carousel-control-prev {
    justify-content: flex-end; 
}

.carousel-control-next {
    justify-content: flex-start;
}
 
.carousel-arrows {
    height: 2vw;
    width: 1vw;
}


.carousel-thumbnails {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.carousel-thumbnails li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    /* margin: 2px !important; */
    width: auto;
}

.carousel-thumbnails li img {
    display: block;
    margin: 0 2px !important;
    border: 1px solid #959595;
    width: 4.166vw;
    height: 4.166vw;
    object-fit: contain;
    text-align: center;
}

/* 
.carousel-thumbnails li.active img {
    opacity: 1;
}
.carousel-thumbnails li:hover img {
    opacity: 0.80;
} */

.pointer:hover {
    cursor: pointer;
}

#header {
    display:flex;
    flex-direction: column;
    text-align: center;
}

#footer {
    text-align: center;
}

#fav-download {
    margin: auto;
    margin-top: 3.2vw;
    width: 20.7vw;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#fav-download h3 {
    font-size: 15px;
}

#fav-download > div {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.nav-dimension {
    width: 49vw;
    margin: auto;
}

/* .home_links {
    border: 1.5px solid #DBBB76;
    padding: .15vw 1.59vw;
    font-size: 1vw;
    width: 20vw;
    text-transform: uppercase;
} */
 
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    font-size: 15px;
    margin-right: 1.5px !important;
    margin-left: 1.5px !important;
    height: 4vw !important; 
    border: none;  
}

.nav-item:hover {
    background-color: #f3f5f5;
}

.nav-tabs {
    border: none !important;
}

.nav-link {
    border-radius: 0px !important;
}

.nav-item.active {
    background-color: #f3f5f5;
}

.desc {
    width: 100vw;
}

.center {
    text-align: center;
}

.info_div {
    background-color: #e3d9c6;
    /* width: calc(100vw - 77px); */
    width: 100%;
    left: 0;
    text-align: center;
    /* margin-top: 7.5vw !important; */
    font-family: Helvetica-Light;
    font-size: 20px;
    /* padding-top: 3.7vw; */
}

.info_div > h2 {
    margin-top: 0;
}

.info_form {
    width: 44vw;
    margin: auto;
    margin-top: 4.8vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
}

.info_form:focus, input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

.info_form > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 44vw;
    margin: auto;
}

.info_form > div > div{
    width: 44vw;
    margin-top: 0px;

    display: flex;
    flex-direction: row;
}

.option-label {
    font-family: Helvetica-Light;
    font-size: 1.4vw;
}

.option-label:hover {
    cursor: default;
}

#checks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    margin-bottom: 5.1vw;
}

#checks > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#send {
    width: 16.5vw;
    margin-top: 4.3vw;

    font-family : Helvetica-Light;
    font-size : 1.4vw;
    letter-spacing : 1.28px;
    text-transform : uppercase;
}

#details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3.5vw;
}

.prod-desc {
    width: 100%;
    background-color: #f3f5f5;
}

@media only screen and (max-width: 800px){
    .info_div > p{
        font-size: 1em;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 9.7vw;
    }

    h2 {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        word-wrap: normal;
        font-size: 5.6vw !important;
    }

    h4 {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }

    button {
        margin-top: 0px;
    }

    input {
        margin-top: 20px;
    }

    .info_form {
        width: 100vw;
    }

    .info_form > div {
        flex-direction: column;
        width: 80vw;
    }

    .info_form > div > div {
        width: 80vw !important;
    }

    h2 {
        font-size: 5.6vw;
    }
    
    h4 {
        font-size: 4.2vw;
    }
   
    .info_div
    {
        font-size: 4.5vw;
        width: 100vw;
        
    }
   
    .info_div > div > p {
        font-size: 4.5vw;
    }

    .home_links {
        font-size: 3.88vw;
    }


    #fav-download {
        width: 70vw;
    }

    h3 {
        font-size: 4.11vw;
    }
    
    .carousel-thumbnails li img {
        width: 50px;
        height: 50px;
    }
   
}
