<div id="top-container">
  <div id="header" *ngIf="prodDesc">
    <h1>{{model}}</h1>
    <h4>{{brand}}</h4>
    <h5 class="gold">{{family | uppercase}}</h5>
  </div>


  <div id='carousel-custom' class='carousel slide carousel-fade' data-ride='carousel' data-pause="false">
    <div class="carousel-inner">
      <div class='carousel-item' *ngFor="let heroImage of heroImages; let i = index"
        [ngClass]="i === 0 ? 'item active' : 'item'">
        <div class="carousel-item-image" *ngIf="heroImages">
          <img [src]="heroImage.src" alt="{{heroImage.alt}}" class="slide-image">
        </div>
      </div>
    </div>

    <a class='carousel-control-prev' data-target="#carousel-custom" data-slide='prev' *ngIf="imgCount>1">
      <img alt="" src="assets\Images\Common\arrow_left.png" class="carousel-arrows">
      <span class="sr-only">Previous</span>
    </a>
    <a class='carousel-control-next' data-target="#carousel-custom" data-slide='next' *ngIf="imgCount>1">
      <img alt="" src="assets\Images\Common\arrow_right.png" class="carousel-arrows">
      <span class="sr-only">Next</span>
    </a>
  </div>

  <br>
  <br>
  <div>
    <ol class="carousel-thumbnails hidden-sm-block hidden-xs-block visible-md-block visible-lg-block"
      *ngIf="galleryThumbs.length>1">
      <li *ngFor="let image of galleryThumbs; let j = index">
        <img [src]="image.src" alt="{{image.alt}}" (click)="switchImageList(j)" class="img-responsive pointer">
      </li>
    </ol>
  </div>
  <br>
  <br>

  <div id="footer" *ngIf="stdText">
    <span class="home_links">{{stdText.priceListRequest}}</span><br>
  </div>

  <div id="fav-download">
    <div>
      <img alt="JNL Collection" src="/assets/Images/Common/add_fav_icon.png" height="16px">
      <h3 *ngIf="stdText">&nbsp;&nbsp;{{stdText.addToFavorites}}</h3>
    </div>

    <h3>&nbsp;&nbsp;&#8213;&nbsp;&nbsp;</h3>

    <div>
      <img alt="JNL Collection" src="/assets/Images/Common/download_icon.png" height="16px">
      <h3 *ngIf="stdText">&nbsp;&nbsp;{{stdText.print}}</h3>
    </div>
  </div>
  <br>
  <br>

  <div class="desc">
    <br>
    <nav class="nav-justified center">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-desc-tab" data-toggle="tab" href="#nav-desc" role="tab"
          aria-controls="nav-home" aria-selected="true">DESCRIPTION</a>
        <a class="nav-item nav-link" id="nav-matFin-tab" data-toggle="tab" href="#nav-matFin" role="tab"
          aria-controls="nav-matFin" aria-selected="false">MATERIALS AND FINISAGES</a>
        <a class="nav-item nav-link" id="nav-dim-tab" data-toggle="tab" href="#nav-dim" role="tab"
          aria-controls="nav-dim" aria-selected="false">DRAWINGS AND CAD</a>
        <a class="nav-item nav-link" id="nav-cat-tab" data-toggle="tab" href="#nav-cat" role="tab"
          aria-controls="nav-cat" aria-selected="false">DOWNLOADS</a>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
        <!-- PRODUCT DESCRIPTION-->
        <div class="prod-desc" *ngIf="product">
          <app-product-description *ngIf="detail==='description'" [product]="product"></app-product-description>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-matFin" role="tabpanel" aria-labelledby="nav-matFin-tab">
        <!-- PRODUCT MATERIALS AND FINISAGES -->
        <div class="prod-desc" *ngIf="category==='Assise'">
          <app-product-mat-fin [product]="product"></app-product-mat-fin>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-dim" role="tabpanel" aria-labelledby="nav-dim-tab">
        <!-- PRODUCT TECHNICAL DRAWINGS -->
        <div class="prod-desc">
          <app-product-dimensions></app-product-dimensions>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-cat" role="tabpanel" aria-labelledby="nav-cat-tab">
        <!-- PRODUCT DOWNLOADS -->
        <div class="prod-desc">
          <app-product-catalogues></app-product-catalogues>
        </div>
      </div>
    </div>
  </div>


  <!-- REQUEST FORM -->
  <div class="info_div" *ngIf="text">
    <h2>{{text.infoTitle}}</h2>
    <app-request-form [requestType]='4'></app-request-form>
  </div>

</div>