#top-container {
	padding-top: var(--search-bar-height);

  h1 {
    margin-bottom: 0;

    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
  }

  h2 {
    font-family: Helvetica;
    font-size: 3.5vw;
    text-align: center;
  }

	h3 {
		text-transform: uppercase;
		font-family: Helvetica-Light;
		color: #dbbb76;
		font-size: 1.1vw;
    margin-bottom: 1.5vw;
	}

	h4 {
		font-family: Helvetica-Light;
    font-size: 1.3vw;

    @media only screen and (max-width: 768px) {
      font-size: 13px;
      line-height: 16px;
		}
	}

	h5 {
		font-family: Helvetica-Light;
    font-size: 1.1vw;

    @media only screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 16px;;
		}
	}

	i {
		outline: none;
	}

	ol {
		padding-inline-start: 0 !important;
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: black;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: black;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: black;
	}

	.gold {
		/* color: #DBBB76; */
		color: inherit;
	}

	.print-image {
		width: 799px;
		height: auto;
		object-fit: contain;
		text-align: center;
	}

	.slide-image {
		max-width: 56.52vw;
		max-height: 37.43vw;
		object-fit: contain;
		text-align: center;
  }

  .carousel {
    margin-bottom: 4vw;

    @media only screen and (max-width: 768px) {
      margin-bottom: 6vw;
    }
  }

	.carousel-custom {
		display: flex !important;
		justify-content: center;
	}

	.carousel-inner .carousel-item {
		-webkit-transition-duration: 1s;
		-moz-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s;
	}

	.carousel-inner {
		margin: auto;
		width: 56.72vw;
		height: 37.43vw;
		/* border: .7px solid black; */
		text-align: center !important;
	}

	.carousel-control-prev {
		justify-content: flex-end;
	}

	.carousel-control-next {
		justify-content: flex-start;
	}

	.carousel-arrows {
		height: 2vw;
		width: 1vw;
	}

	.carousel-thumbnails {
    position: static;
    margin: 10px 0 0;
    width: 100%;
		text-align: center;
    white-space: nowrap;

    @media only screen and (max-width: 768px) {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
	}

	.carousel-thumbnails li {
		background-color: transparent;
		-webkit-border-radius: 0;
		border-radius: 0;
		display: inline-block;
		height: auto;
		/* margin: 2px !important; */
		width: auto;
	}

	.carousel-thumbnails li img {
		display: block;
		margin: 0 2px !important;
		border: 1px solid #959595;
		width: 4.166vw;
		height: 4.166vw;
		object-fit: contain;
		text-align: center;
  }

  .galery-thumbs {
    margin-bottom: 4vw;

    @media only screen and (max-width: 768px) {
      margin-bottom: 6vw;
    }
  }

	.fav-link {
		cursor: pointer;
	}

	.pointer:hover {
		cursor: pointer;
	}

	#header {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	#footer {
		text-align: center;
	}

	#fav-download {
		display: flex;
		flex-direction: row;
    justify-content: center;
    margin: 3.2vw auto 4.5vw auto;
    align-content: center;

    @media only screen and (max-width: 768px) {
      margin: 5vw auto 6vw;
			// width: 80vw;
    }

    @media only screen and (max-width: 576px) {
      margin: 5vw auto 8vw;
    }

		h3 {
      font-size: 1.1vw;

      @media only screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
      }
		}

		> div {
			display: flex;
			flex-direction: row;
		}
	}

	.nav-dimension {
		width: 47vw;
    margin: auto;

    @media only screen and (max-width: 768px) {
      width: 98%;
    }
	}

	.nav-item {
		display: flex;
		margin-right: 1.5px !important;
		margin-left: 1.5px !important;
    justify-content: center;
    height: 4vw !important;
		font-family: Helvetica;
    font-size: 1.1vw;
    align-items: center;
    border: none;

    @media only screen and (max-width: 768px) {
      height: 40px !important;
      font-size: 16px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 10px;
    }
	}

	.nav-item:hover {
		background-color: #f3f5f5;
	}

	.nav-tabs {
		border: none !important;
	}

	.nav-link {
    border-radius: 0 !important;

    @media only screen and (max-width: 768px) {
      padding: 0 3px;
    }
	}

	.nav-item.active {
		background-color: #f3f5f5;
	}

	.desc {
		width: 100vw;
	}

	.center {
		text-align: center;
	}

	.info_div {
		background-color: #e3d9c6;
		width: 100%;
		left: 0;
		text-align: center;
		font-family: Helvetica-Light;
		font-size: 20px;

		@media only screen and (max-width: 768px) {
			font-size: 4.5vw;
			width: 100vw;
		}

		> h2 {
			margin-top: 0;
		}

		> div > p {
			@media only screen and (max-width: 768px) {
				font-size: 4.5vw;
			}
		}

		> p{
			@media only screen and (max-width: 768px) {
				font-size: 1em;
				width: 80vw;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.info_form {
		width: 44vw;
		margin: auto;
		margin-top: 4.8vw;
		display: flex;
		flex-direction: column;
		align-content: center;
		text-align: left;
	}

	.info_form:focus,
	input:focus,
	textarea:focus,
	select:focus,
	button:focus {
		outline: none;
	}

	.info_form > div {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: space-between;
		width: 44vw;
		margin: auto;
	}

	.info_form > div > div {
		width: 44vw;
		margin-top: 0;

		display: flex;
		flex-direction: row;
	}

	.option-label {
		font-family: Helvetica-Light;
		font-size: 1.4vw;
	}

	.option-label:hover {
		cursor: default;
	}

	#checks {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;

		margin-bottom: 5.1vw;
	}

	#checks > div {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}

	#send {
		width: 16.5vw;
		margin-top: 4.3vw;

		font-family: Helvetica-Light;
		font-size: 1.4vw;
		letter-spacing: 1.28px;
		text-transform: uppercase;
	}

	#details {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 3.5vw;
	}

	.prod-desc {
		width: 100%;
		background-color: #f3f5f5;
	}

	@media print {
		width: auto;
		border: 0;
		margin: 0 5%;
		padding: 0;

		.break {
			break-after: page;
		}

		hr {
			width: 90vw;
		}
	}

	@media only screen and (max-width: 768px) {
		h2 {
			margin-left: auto;
			margin-right: auto;
			width: 80vw;
			word-wrap: normal;
			font-size: 5.6vw !important;
		}

		h4 {
			margin-left: auto;
			margin-right: auto;
			width: 80vw;
		}

		button {
			margin-top: 0;
		}

		input {
			margin-top: 20px;
		}

		.info_form {
			width: 100vw;
		}

		.info_form > div {
			flex-direction: column;
			width: 80vw;
		}

		.info_form > div > div {
			width: 80vw !important;
		}

		h3 {
			font-size: 4.11vw;
		}

		.carousel-thumbnails li img {
			width: 50px;
      height: 50px;

      @media only screen and (max-width: 576px) {
        width: 40px;
        height: 40px;
      }
		}
	}
}

.product_change_tab {
	padding: 10px;
	width: 100%;

	select {
		width: 100%;
		border: 1.5px solid #666;
		padding: 10px;
	}
}

@media only screen and (min-width: 1200px) {
	.d-large {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
  }

	#top-container {
		h4 {
			font-size: 15.6px;
		}

		h5 {
			font-size: 13.2px;
		}

		.slide-image {
			max-width: 679px;
			max-height: 450px;
		}

		.carousel-inner {
			width: 681px;
			height: 445px;
		}

		.carousel-arrows {
			height: 24px;
			width: 12px;
		}

		.carousel-thumbnails li img {
			width: 50px;
			height: 50px;
		}

		#fav-download {
			margin-top: 38.4px;

			h3 {
				font-size: 13.2px;
			}
		}

		.nav-dimension {
			width: 588px;
		}

		.nav-item {
			font-size: 13.2px;
			margin-right: 1.5px !important;
			margin-left: 1.5px !important;
			height: 48px !important;
		}

		.desc {
			width: 1200px;
		}

		.prod-desc {
			width: 1200px;
		}
	}
}
