<div id="container">
  <div id="header">
    <h1><b>{{prodDesc.model}}</b></h1>
    <h4>JNL Collection</h4>
    <!--<h3>{{prodDesc.brand  | uppercase}}</h3>-->
    <h4 class="gold">{{prodDesc.familyFr | uppercase}}</h4>
  </div>

  <div id="productImg">
    <img class="img-fluid" src="assets\Images\Products\JNL\{{family}}\{{prodName}}_01.jpg" alt="">
  </div>
  <div class="clear"></div>
  <div id="footer">
    <a class="home_links">PRICE LIST REQUEST</a><br>
  </div>

  <!-- PRODUCT DESCRIPTION-->
  <div>
    <app-product-description *ngIf="detail==='description'" [prodCode]="product_id"></app-product-description>
  </div>

  <!-- PRODUCT MATERIALS AND FINISAGES-->
  <div>
    <app-product-mat-fin></app-product-mat-fin>
  </div>

  <div>
    <app-product-dimensions></app-product-dimensions>
  </div>
  
  <div>
    <app-product-catalogues></app-product-catalogues>
  </div>

</div>