.fav-sel-list {

  h1 {
    margin-bottom: 3vw;
  }

	table {
    width: 100%;
		font-family: Helvetica-Light;
  }

  .list-header {
    padding-bottom: 1vw;
    width: 100%;
    font-family: Helvetica;
    font-size: 1.8vw;
    color: #dbbb76;
  }

	input {
    height: 2.5vw;
    font-size: 1.6vw;

    &:focus {
      outline: none;
    }
	}

	.fav-list {
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.link {
    cursor: pointer;

    &:hover {
      color: rgb(97, 97, 255);
    }
	}

	label {
		cursor: pointer;
		margin-bottom: 0;
    font-size: 1.5vw;

    &:hover {
      font-weight: bold;
    }
	}

	.label-red {
    color: rgb(255, 97, 97);

    &:hover {
      color: red;
      font-weight: bold;
    }
  }

  form {
    margin-top: .5vw;
  }

  thead, tbody {
    display: block;
  }

  .tbody-scroll {
    height: 22vw;
    overflow-y: scroll;
  }

  .table-row {
    line-height: 2.5vw;

    &:hover {
      background-color: #eee;
    }
  }

	.link-red {
    cursor: pointer;

    &:hover {
      color: rgb(255, 97, 97);
    }
	}

	.c-green {
		color: green;
	}

	.c-blue {
		color: blue;
	}

	.a-center {
		text-align: center;
  }

  .confirm {
    font-family: Helvetica-light;
  }

	.fade-input {
		border-style: none;
		border-width: 0;
		background-color: transparent;
		width: 100%;
	}

	.input-edit {
		color: rgb(97, 97, 255);
	}
}

@media only screen and (min-width: 1200px) {
  .fav-sel-list {

    h1 {
      margin-bottom: 36px;
    }
  
    .list-header {
      padding-bottom: 12px;
      font-size: 21.6px;
    }
  
    input {
      height: 30px;
      font-size: 19.2px;
    }
  
    label {
      font-size: 18px;
    }
  
    form {
      margin-top: 6px;
    }
  
    .tbody-scroll {
      height: 264px;
    }
  
    .table-row {
      line-height: 30px;
    }
  }
}
