
<div>
  <div class="les-marques-main">
    <div>
      <h1>{{text.title}}</h1>

      <div id="marques_list">
        <a routerLink="/marques" fragment="jnl">JNL COLLECTION</a>
        <a routerLink="/marques" fragment="vanhamme">VANHAMME</a>
        <a routerLink="/marques" fragment="ungaro">EMANUEL UNGARO HOME</a>
        <a routerLink="/marques" fragment="luz">LUZ INTERIORS</a>
      </div>

      <div id="jnl">
        <h2>JNL Collection</h2>
        <h3>Le Classicisme Reinvente</h3>
        <a class="home_links" (click)="navigateToMarque('jnl')">Decouvrir la Marque</a><br>
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Marques/MK_JNL.jpg">
      </div>

      <div id="vanhamme">
        <h2>Vanhamme</h2>
        <h3>L'Heritage</h3>
        <a class="home_links" (click)="navigateToMarque('vanhamme')">Decouvrir la Marque</a><br>
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Marques/MK_Vanhamme.jpg">
      </div>

      
      <div id="ungaro">
        <h2>Emanuel Ungaro Home</h2>
        <h3>Entre mode et mobilier</h3>
        <a class="home_links" (click)="navigateToMarque('ungaro')">Decouvrir la Marque</a><br>
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Marques/MK_Ungaro.jpg">
      </div>

      <div id="luz">
        <h2>Luz Interiors</h2>
        <h3>DOUCEUR MINIMALE</h3>
        <a class="home_links" (click)="navigateToMarque('luz')">Decouvrir la Marque</a><br>
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Marques/MK_Luz.jpg">
      </div>
    </div>
  </div>
</div>