.les-marques-main {
	display: flex;
	margin: auto;
  margin-bottom: 6vw;
  padding-top: 5.9vw;
  width: 100%;

  @media only screen and (min-width: 1200px) {
		margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding-top: 70.8px;
		width: 1200px !important;
  }

  .wrapper {
    scroll-snap-type: y mandatory;

    .scroll-child {
      scroll-snap-align: start;
    }
  }

  > div,
    section {
      left: 0;
	  	margin: auto;
      text-align: center;
    }

  .submenu {
    width: 57vw;

    @media only screen and (min-width: 1200px) {
      width: 685px;
    }
  }

  h1 {
    @media only screen and (min-width: 577px) and (max-width: 768px) {
      font-size: 30px;
    }
  }

	h3 {
    margin-top: 0.8vw;
    margin-bottom: 1.2vw;
		font-family: Helvetica-Light;
    font-size: 1.38vw;
    color: #666;
    text-transform: uppercase;

    @media only screen and (min-width: 1200px) {
			margin-top: 9.6px;
      margin-bottom: 14.4px;
      font-size: 16.6px;
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 2vw;
      font-size: 16px;
      line-height: 18px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .marque {
    padding-top: 1.2vw;
    cursor: pointer;

    @media only screen and (min-width: 1200px) {
      padding-top: 14.4px;
    }

    > a {
      > img {
        width: 20vw;
        height: auto;
        opacity: 0.85;
        transition: all 0.3s ease;

        @media only screen and (min-width: 1200px) {
          width: 240px;
        }

        @media only screen and (max-width: 768px) {
          margin-bottom: 2vw;
          width: 22vw;
        }
      }
    }

    .marque > a > img:hover {
      opacity: 1;
      transition: all 0.3s ease;
    }
  }

	.marques-image {
    margin-bottom: 4vw;
    width: 76.17vw;

    @media only screen and (min-width: 1200px) {
      margin-bottom: 48px;
      width: 914px;
    }
  }
}
