h1 {
    font-family: PlacardMT-Condensed;
    font-size: 5.03vw; /*4em;*/
    margin-bottom: 3vh;
    text-transform: uppercase;
}

h2 {
    font-family: Atak-Regular;
    font-size: 3.46vw;
    margin-bottom: 0;
}

h3 {
    text-transform: uppercase;
    font-family: Atak-Regular;
    color: #DBBB76;
    font-size: 1.38vw; /*20px;*/
    margin-bottom: 1.2vw;
}

.location {
    font-family: Atak-Regular;
    font-size: 1.1vw;
    margin-bottom: 5.5vw;
}

.marques_selected {
    text-decoration: underline !important;
}

.home_links {
    border: 1.5px solid #DBBB76;
    padding: .27vw 1.59vw;
    font-size: 1.11vw;
    text-transform: uppercase;
    letter-spacing : 1.28px;
}

.marques-image {
    width: 76.17vw;
    margin-top: 1.5vw;
}

.les-marques-main {
    width: calc(100vw - var(--left-strip-width));
    display: flex;
    padding-top: var(--search-bar-height);
    margin: auto;
    margin-bottom: 10.13vw;
}

.les-marques-main > div {
    margin: auto;
    left: 0;
    text-align: center;
}

.location {
    text-align: center;
    font-family: Atak-Regular;
    font-size: 1.1vw;
}

#marques_list {
    margin: auto;
    font-family: Atak-Light;
    width: 76.17vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0px;
    justify-content: center;
    margin-bottom: 2.74vw;
    text-align: center;
}

#marques_list > a {
    margin: auto;
    font-size: 1.8vw;
    line-height: 2vw;
    left: 0;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
}

#marques_list > a:hover {
    color: black;
    border-bottom: 1px solid black;
    transition: all .5s ease;
}

#jnl, #vanhamme, #ungaro, #luz {
    padding-top: 2.74vw;
}


@media only screen and (max-width: 768px)
{
    /*h2 {
        font-size: 3.5vw;7.9vw;
    }*/

    #marques_list {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    #marques_list > a{
        margin: auto;
        font-size: 1.5em;
        left: 0;
    }

    .location {
        font-size: 4.7vw;
    }
}


