
<div>
  <div class="location">Home &#62; Les Marques</div>

  <div class="les-marques-main">
    <div>
      <h1>LES MARQUES</h1>

      <div id="marques_list">
        <a class="marques-gold">JNL COLLECTION</a>
        <a class="marques_selected">VANHAMME</a>
        <a>EMMANUEL UNGARO HOME</a>
        <a>LUZ INTERIORS</a>
      </div>

      <div>
        <h2>JNL Collection</h2>
        <h3>Le Classicisme Reinvente</h3>
        <a class="home_links">Decouvrir la Marque</a><br>
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Marques/MK_picJNL.jpg">
      </div>

      <div>
        <h2>Vanhamme</h2>
        <h3>L'Heritage</h3>
        <a class="home_links">Decouvrir la Marque</a><br>
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Marques/MK_picVanhamme.jpg">
      </div>

      
      <div>
        <h2>Emanuel Ungaro Home</h2>
        <h3>Entre mode et mobilier</h3>
        <a class="home_links">Decouvrir la Marque</a><br>
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Marques/MK_picUngaro.jpg">
      </div>

      <div>
        <h2>Luz Interiors</h2>
        <h3>DOUCEUR MINIMALE</h3>
        <a class="home_links">Decouvrir la Marque</a><br>
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Marques/MK_picLuz.jpg">
      </div>
    </div>
  </div>
</div>