h1 {
    font-family: PlacardMT-Condensed;
    font-size: 5.03vw; /*4em;*/
    margin-bottom: 3vh;
    text-transform: uppercase;
}

h2 {
    font-family: Atak-Regular;
    font-size: 3.5vw;
}

h3 {
    text-transform: uppercase;
    font-family: Atak-Regular;
    color: #DBBB76;
    font-size: 1.6vw; /*20px;*/

    margin-bottom: 1.5vw;
}

.location {
    font-family: Atak-Regular;
    font-size: 1.1vw;

    margin-bottom: 5.5vw;
}

.marques_selected {
    text-decoration: underline !important;
}

.home_links
{
    border: 1.5px solid #DBBB76;
    padding: 0.3em;
    padding-left: 1.35vw;
    padding-right: 1.35vw;

    font-size: 1.35vw; /*1em;*/

    text-transform: uppercase;
}

.marques-image {
    width: 76vw;

    margin-top: 1.6vw;
    margin-bottom: 4.2vw;
}

.les-marques-main {
    text-align: center;
    display: flex;
    padding-top: 73px;
}

.les-marques-main > div {
    margin: auto;
}

.location {
    text-align: center;

    font-family: Atak-Regular;
    font-size: 1.1vw;
}



#marques_list {
    margin: auto;
    font-family: Atak-Light;
    font-size: 1em;
    width: 80vw;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0px;
    justify-content: center;

    margin-bottom: 4vw;
    text-align: center;
}

#marques_list > a {
    margin: auto;

    font-size: 2vw;
    left: 0;

    text-transform: uppercase;

    border-bottom: 1px solid transparent;
    transition: all .5s ease;
}

#marques_list > a:hover {
    border-color: #888;
    transition: all .5s ease;
}


@media only screen and (max-width: 800px)
{
    /*h2 {
        font-size: 3.5vw;7.9vw;
    }*/

    #marques_list {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    #marques_list > a{
        margin: auto;
    
        font-size: 1.5em;
        left: 0;
    }

    .location {
        font-size: 4.7vw;
    }
}

#jnl, #vanhamme, #ungaro, #luz {
    /* margin-top: -60px; */
    padding-top: 73px;
}
