.les-marques-main {
	width: 100%;
	display: flex;
	padding-top: 5.9vw;
	margin: auto;
	margin-bottom: 6vw;

	> div {
		margin: auto;
		left: 0;
		text-align: center;
  }

  .submenu {
    width: 57vw;
  }

	h2 {
		margin-bottom: 0;
	}

	h3 {
		text-transform: uppercase;
		font-family: Helvetica-Light;
		color: #666;
		font-size: 1.38vw;
		margin-top: 0.8vw;
    margin-bottom: 1.2vw;

    @media only screen and (max-width: 768px) {
      margin-bottom: 2vw;
      font-size: 12px;
      line-height: 16px;
    }
	}

	.marques-image {
		width: 76.17vw;
		margin-bottom: 4vw;
	}

	#jnl,
	#vanhamme,
	#ungaro,
	#studio {
		padding-top: 1.2vw;
		cursor: pointer;
	}

	#jnl > a > img,
	#vanhamme > a > img,
	#ungaro > a > img,
	#studio > a > img {
		width: 20vw;
		height: auto;
		opacity: 0.85;
    transition: all 0.3s ease;

    @media only screen and (max-width: 768px) {
      margin-bottom: 2vw;
      width: 22vw;
    }
	}

	.marque > a > img:hover {
		opacity: 1;
		transition: all 0.3s ease;
	}

	@media only screen and (max-width: 768px) {
		.location {
			font-size: 4.7vw;
		}
	}

	@media only screen and (min-width: 1200px) {
		h3 {
			font-size: 16.6px;
		}
	}
}
