h1 {
    font-family: Helvetica;
    font-size: 3vw;
    margin-bottom: 3vh;
    text-align: center;
}
h2 {
    /* margin-top: 5.9vw; */
    font-family: Helvetica;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0;
}

h3 {
    text-transform: uppercase;
    font-family: Helvetica-Light;
    color: #DBBB76;
    font-size: 1.4vw;
    margin-bottom: 1.5vw;
    text-align: center;
}

h4 {
    margin: auto;
    width: 54vw;
    font-size: 1.8vw;
    font-family: Helvetica-Light;
    margin-top: 3.3vw;
    text-align: center;
}

button {
    outline: none;
}

.group_selected {
    text-decoration: underline !important;
}

.group-image {
    width: 76.17vw;
    margin: auto;
    margin-top: 1.6vw;
    margin-bottom: 5.37vw;
}

.group-main {
    margin: auto;
    text-align: center;
    padding-top: var(--search-bar-height);
}

.location {
    text-align: center;
    font-family: Helvetica-Light;
    font-size: 1.2vw;
}

.full-image {
    margin-top: 8.98vw;
    margin-bottom: 4.16VW;
    left: 0;
    width: 100%;
    height: auto;
}

.quote-bar {
    margin-top: 7.12vw !important;
    margin-bottom: 4.93vw;
    /* width: 100vw  !important; */
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column  !important;
    background-color: #f3f5f5;
    position: relative;
    padding: 11.7vw;
    padding-top: 4.2vw;
    padding-bottom: 4.2vw;
}

.quote-bar > p {
    font-family: Helvetica-Light;
    font-size: 1.8vw;
}

.quote-bar > h4 {
    font-family: Helvetica-Light;
    font-size: 1vw;
    margin-top: 0px;
}

.image-parag {
    width: 76%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    margin-bottom: 0px;
    text-align: left;
}

.image-parag > div > p {
    margin-top: 0px;
    padding-right: 4vw;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    font-family: Helvetica-Light;
    font-size: 1.41vw;
    line-height: 1.2;
}

#impg2 {
    margin-top: 4.65vw;
    width: 77.22vw;
}

#impg2 > div > p {
    padding-right: 0px;
    padding-left: 7.14vw;
}

.image-parag > div > img, .respo_img {
    margin-top: 0;
    width: 0vw; 
    padding-left: 30vw;
    display: inline-block; 
    height: auto;
    background-image: url("/assets/Images/Groupe/GP_vertical.jpg");
    background-size: cover;
    object-fit: cover;
}

#img2 {
    background-image: url("/assets/Images/Groupe/GP_leaf.jpg");
}

.group-img {
    width: 28.7vw !important;
}

.proj-flex {
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-align: left;
    font-family: Helvetica-Light;
    font-size: 1.4vw;
    margin: auto;
    width: 80%;
}

#group_list {
    margin: auto;
    font-family: Helvetica-Light;
    font-size: 1em;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0px;
    justify-content: center;
    /* margin-bottom: 4vw; */
    text-align: center;
}

#group_list > a {
    margin: auto;
    font-size: 1.8vw;
    line-height: 2vw;
    left: 0;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
}

#group_list > a:hover {
    color: black;
    border-bottom: 1px solid black;
    transition: all .5s ease;
}

#equipe {
    width: 62.78vw;
    margin: auto;
    text-align: center;
}

#equipe > div {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    text-align: center;
}

#equipe > div > div {
    margin: 0px;
    margin-top: 0px;
    width: 28.79vw;
    font-family: Helvetica-Light;
    font-size: 1.1vw;
    text-align: center;
}

#equipe > div > div > p {
    margin: auto;
    font-family: Helvetica-Light;
    font-size: 1.1vw;
    text-align: justify;
}

#equipe > div > div > h4 {
    width: auto;
    margin: auto;
    margin-top: 2.2vw; 
    margin-bottom: 2.2vw;
}

#equipe > div > div > img {
    margin-top: 4vw;
    width: 28.9vw;
}

#engagement .image-parag > p {
    padding-right: 0px;
    padding-left: 7.8vw;
}

#engagement {
    height: auto;
    margin-bottom: 10.41vw;
}



.gallery-flex {
    width: 62.78vw;
    display: flex;
    flex-direction: column !important;
    margin-top: 8.7vw;
}

.equipe-card {
    width: 62.78vw;
    height: 29vw;
    margin: 0px !important;

    display: flex;
    flex-direction: row;
}

.equipe-card > img {
    margin: auto;
    margin-top: 0px !important;
}

.equipe-card > div {
    margin: auto;
    margin-top: 0px  !important;
    width: 47%;
    padding: 3vw;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left !important;
}

.equipe-card > div > h4 {
    text-align: left !important;
    margin-top: 0px  !important;
}

.equipe-radio {
    margin: auto;
    width: 62.78vw !important;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.equipe-radio > input:hover {
    background-color: grey;
}

.equipe-radio > input:checked {
    background-color: rgb(46, 46, 46);
}

#les-projets {
    margin: auto;
    margin-top: 14.2vw;
    width: 76%;
}

#les-projets > p {
    text-align: center;
    font-family: Helvetica-Light;
    font-size: 1.4vw;
    margin: auto;
    width: 49.2%;
}

.gallery {
    margin-bottom: 14vw;
    width: 100%;
    text-align: center;
    display: flex;
}

.gallery > div {
    margin: auto;
}

.gallery > div > div > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gallery > div > div > div > img {
    margin: auto;
    height: 35vw;
}

.gallery > div > div > div > h2 {
    margin: auto;
    width: 55.5vw;
}

.gallery > div > div > div > h4 {
    margin-top: 20px;
}

.gallery_buttons {
    height: 100vh;
    width: 10vw;
    display: flex;
}
.gallery_buttons > div {
    margin: auto;
    font-size: 5em;
    font-family: Helvetica-Light;
}

.gallery_buttons > div > img {
    width: 2vw;
}

#archives {
    width: 77.28vw;;
    margin: auto;
    margin-bottom: 5vw;
    margin-top: 8.44vw;
}

#archives > div {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 77.28vw;
}

#archives > div > div {
    margin-top: 3%;
    /* margin-right: 3%; */
    height: 20.25vw; /*20.2vw;*/
    width: 23.34vw;
    background-color: #e3d9c6;
    display: flex;
}

#archives > div > div:nth-child(3n+0) {
    margin-right: 0;
}

#archives > div > div > span {
    margin: auto;
    font-family: Helvetica-Light;
    font-size: 5.06vw;
    font-style: italic;
}

#gallery-div {
    margin: auto;
}

#histoire, #equipe, #engagement, #projets, #archives {
    padding-top: 60px;
    margin-top: -60px;
}

#projets {
    margin-bottom: 8.44vw;
}

#histoire {
    margin-top: 1.38vw;
}

#histoire > h1 {
    margin-bottom: 0;
}

#histoire > h4 {
    margin-top: 2.74vw;
    width: 60.84vw;
}

#projets > p {
    font-family: Helvetica-Light;
    font-size: 1.4vw;
    width: 48.4%;
    margin: auto;
}

.modal {
    left: calc(var(--left-strip-width) / 2)
}

.modal-header {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.carousel-group {
    width: 100%;
    /* padding-top: 3.15vw; */
}

#carousel-custom {
    margin-top: 10vw;
}

.carousel-control-prev, .carousel-control-next {
    display: flex;
}

.carousel-control-prev > img , .carousel-control-next > img {
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-arrows {
    height: 2vw;
    width: 1vw;
    margin-top: auto;
}

.carousel-item-content {
    width: 80%;
}

.carousel-item-image {
    float: left;
    margin-right: 1vw;
}

.slide-image {
    width: 28.7vw;
    object-fit: contain;
}

.slide-image-archive {
    width: 55.5vw;
    object-fit: cover;
}

.slide-image-projects {
    width: 59vw;
    object-fit: contain;
}

.carousel-indicators {
    width: auto;
    margin: auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 1vw;
}

.carousel-indicators > li {
    height: .9vw;
    width: .9vw;
    margin-right: .6vw;
    text-transform: uppercase;
    text-indent: 0;
    font-size: 1.88vw;
    background-color: #666;
    border-radius: 100%;
}

.carousel-indicators li .active {
    background-color: black;
    opacity: 1;
}

/* .carousel-indicators li:not(:active) {
    background-color: black;
    opacity: .4;
} */

.carousel-indicators > span {
    color: #555;
}

/* .carousel-indicators .active > span{
    background-color: #555;
} */

/* .carousel-indicators .active {
    background-color: rgb(46, 46, 46);
} */

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 0.69vw;
    width: 0.69vw;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5em;
    /* margin-top: 2vw; */
    outline: none;
    background-color: #BFBFBF;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 62.78vw;
    font-family: Helvetica-Light;
    font-size: 1.1vw;
    padding: 0px;
}

.group-text {
    padding-top: 6vw;
    text-align: left;
    font-size: 1.4vw;
    margin-top: 0px  !important;
    width: 38.9vw;
    padding: 3vw;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left !important;
 }

.group-text > span {
    text-align: left !important;
    margin-top: 0px  !important;
    margin: auto;
    width: 54%;
    
    font-family: Helvetica-Light;
    margin-top: 3.3vw;
    text-align: center;
}

.projets-text > h4 {
    margin: auto;
    width: 60%;
    margin-top: 0.65vw;
    text-align: center;
}

.people-name {
    font-size: 1.8vw;
}

.people-title {
    text-transform: uppercase;
    font-size: 1vw;
}

.projets {
    width: 60%;
    padding: 0px;
}

#carousel-projets .container {
    flex-direction: column;
}

#carousel-projets > div > div > div > h2 {
    margin-top: 0px !important;
}

#carousel-projets > div > div > div > h4 {
    width: 60%;
    padding-bottom: 0px;
}

#carousel-projets > div > div > div > div > .slide-image {
    max-width: 60%;
}

#carousel-projets > .carousel-indicators {
    width: auto;
    margin: auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 5vw;
}

#carousel-projets > .carousel-indicators > input[type="radio"] {
    margin-top: 0vw !important;
}

.modal-backdrop {
    position: relative;
  }

.modal-body {
    padding: 0px !important;
}

.modal-dialog {
    width: 80%;
    max-width: 1440px;
    min-height: 0px;
    /* margin-top: 60px; */
}

.container2 {
    padding: 0px;
    font-family: Helvetica-Light;
    font-size: 16px;
    display: flex;
    height: 80vh;
}

.container3 {
    display: flex;
    flex-direction: column;
 }

 .container3 > h2 {
    font-size: 3.05vw;
}

 .container3 > h2:first-child {
     text-transform: uppercase;
     font-size: 1.1vw;
     margin-top: 1.5vw;
 }

 .container3 > .carousel-item-image > img {
     width: 59.3vw;
 }

.carousel-item-image2 {
    margin: auto;
    top: 0;
    width: 60vw;
    padding: 1.35vw;
    /* padding-top: 0; */
}

.carousel-item-image2 > .slide-image {
    max-width: 60vw;
    object-fit: contain;
    height: auto;
}

.close { 
    position: absolute; 
    right: 1vw;
    top: .79vw;
    z-index: 2000;
}

#archivesModal {
    background-color: rgba(127, 127, 127, 0.5);
}

#modalLabel {
    margin: 0 auto;
}

@media only screen and (max-width: 800px)
{
    h1 {
        font-size: 9.7vw;
    }

    h2 {
        font-size: 7.6vw;
    }

    h3 {
        font-size: 3.8vw;
    }

    h4 {
        font-size: 3.8vw;
        width: 80vw;
        margin-top: 10vw;

        text-align: center !important;
    }

    span {
        font-size: 4.2vw;
    }

    .quote-bar > h4 {
        font-size: 4.2vw;
    }

    .image-parag > div > p {
        font-size: 4.2vw !important;
        margin-bottom: 5vw;
        height: auto;
    }

    .group-main {
        font-size: 200% !important;
    }

    #group_list {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    #group_list > a{
        margin: auto;
        font-size: 4.5vw;
        left: 0;
    }

    #equipe > div > div {
        width: 70vw;
        margin: auto;
    }

    #equipe > div > div > p, .group-text, .quote-bar > p {
        font-size: 4.2vw;
    }

    #equipe > div {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        text-align: center;
    }

    #projets > p {
        font-family: Helvetica-Light;
        width: 90vw
    }

    .group-image {
        width: 100vw;
        height: auto;
    }


    .image-parag {
        width: 80vw;
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    
    .image-parag > div > p {
        width: 80vw;
        padding-right: 0px !important; 
        padding-top: 5vw; 
        padding-bottom: 5vw;
        font-family: Helvetica-Light;
    }

    .image-parag > div > img {
        width: 80vw;
        max-height: 100% !important;
    }

    .proj-flex {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        height: auto;
        width: 70vw;
        padding: 0px;
        text-align: center;
    }

    .carousel-group {
        height: auto;
    }

    .group-text {
        text-align: center !important;
        width: 70vw;
        padding: 0px;
    }

    .group-img {
        width: 70vw !important;
    }

    #equipe > div {
        width: 70vw;
    }

    .slide-image {
        max-width: 70vw;
        margin: auto;
        text-align: center;
    }

    .carousel-item-image {
        width: 70vw;
        margin-right: 0vw;
        padding-left: 0vw;
    }

    #engagement .image-parag > p {
        padding-right: 0px;
        padding-left: 0vw;
    }

    #impg2 > div > p{
        max-height: 100%;
        padding-left: 0px;
    }

    .proj-flex {
        font-size: 4.2vw;
    }

    .respo_img {
        padding-left: 80vw;
        padding-bottom: 100%;
        background-size: 80vw 100vw;
    }

    .group-text > span {
        font-size: 4.2vw;
    }
}

