<div class="les-marques-main">
    <div>
      <h1>{{text.title}}</h1>


      <div id="marques_list">
        <a routerLink="/jnlGroup" fragment="histoire" (click)="reScroll()">{{text.histoire}}</a>
        <a routerLink="/jnlGroup" fragment="equipe" (click)="reScroll()">{{text.equipe}}</a>
        <a routerLink="/jnlGroup" fragment="engagement" (click)="reScroll()">{{text.engagement}}</a>
        <a routerLink="/jnlGroup" fragment="projets" (click)="reScroll()">{{text.projets}}</a>
        <a routerLink="/jnlGroup" fragment="archives" (click)="reScroll()">{{text.archives}}</a>
      </div>

      <div id="histoire">
        <h2>{{text.histoireTitle}}</h2>
        <h3>{{text.histoireSub}}</h3>
        <h4>{{text.histoireText1}}</h4>
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Groupe/GP_bw.jpg">

        <div class="image-parag">
          <div>
            <p style="font-size: 1.69vw" [innerHTML]="text.histoireText2">
              
            </p>
          </div>
          <div class="respo_img" id="img1">&nbsp;
            <!-- <img alt="JNL Collection">
            <img alt="JNL Collection" src="assets/Images/Groupe/GP_vertical.jpg"> -->
          </div>
        </div>

        <img class="full-image" alt="JNL Collection" src="assets/Images/Groupe/GP_building.jpg">
      </div>

      <div id="equipe">
        <h2>{{text.todayTitle}}</h2>
        <h3>{{text.todaySub}}</h3>
        <div>
          <div>
            <img class="group-img" alt="JNL Collection" src="assets/Images/Groupe/GP_dominique.JPG">

            <h4>Dominique Waxmann</h4>
            <h4>{{text.dominiqueTitle}}</h4>

            <p>{{text.dominiqueText}}</p>

          </div>

          <div>
              <img class="group-img" alt="JNL Collection" src="assets/Images/Groupe/GP_alain.JPG">
  
              <h4>Alain Lahy</h4>
              <h4>{{text.alainTitle}}</h4>
  
              <p>{{text.alainText}}</p>
  
          </div>
        </div>

        <!--
        <div class="gallery-flex">
          <div class="equipe-card">
            <img alt="JNL Collection" src="assets/Images/Groupe/GP_gery.JPG">
           
            <div>
              
              <h4>Prenom Nom</h4>
              <h4>TITRE</h4>
              <br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam erat
                volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit.
            </div>

          </div>
          <div class="equipe-radio">
            <input type="radio" name="equipe-cr">
            <input type="radio" name="equipe-cr">
            <input type="radio" name="equipe-cr">
          </div>
        </div>-->
        
      </div>


        <!--CAROUSEL-->
        <div id='carousel-custom' class='carousel slide carousel-marques' data-ride='carousel'  data-interval="1800">
            <div class="carousel-inner">
                <div class='carousel-item active'>
                  <div class="container">
                    <div class="carousel-item-image">
                      <img src='/assets/Images/Groupe/GP_gery.JPG' alt='JNL Collection' class="slide-image">
                    </div>
                    <div class="group-text">
                                
                          <span>Prenom Nom</span><br>
                          <span>TITRE</span><br><br>
                          Lorem ipsum dolor sit amet, consectetuer adipiscing
                          elit, sed diam nonummy nibh euismod
                          tincidunt ut laoreet dolore magna aliquam erat
                          volutpat. Ut wisi enim ad minim veniam, quis
                          nostrud exerci tation ullamcorper suscipit.
                    </div>
                  </div>
                </div>

                <div class='carousel-item' active="setActiveSlide(1)">
                    <div class="container">
                        <div class="carousel-item-image">
                          <img src='/assets/Images/Groupe/GP_michele.JPG' alt='JNL Collection' class="slide-image">
                        </div>
                        <div class="group-text">
                              <span>Prenom Nom</span><br>
                              <span>TITRE</span><br><br>
                              Lorem ipsum dolor sit amet, consectetuer adipiscing
                              elit, sed diam nonummy nibh euismod
                              tincidunt ut laoreet dolore magna aliquam erat
                              volutpat. Ut wisi enim ad minim veniam, quis
                              nostrud exerci tation ullamcorper suscipit.
                        </div>
                      </div>
                </div>

                <div class='carousel-item'>
                    <div class="container">
                        <div class="carousel-item-image">
                          <img src='/assets/Images/Groupe/GP_daniel.JPG' alt='JNL Collection' class="slide-image">
                        </div>
                        <div class="group-text">
                              <span>Prenom Nom</span><br>
                              <span>TITRE</span><br><br>
                              Lorem ipsum dolor sit amet, consectetuer adipiscing
                              elit, sed diam nonummy nibh euismod
                              tincidunt ut laoreet dolore magna aliquam erat
                              volutpat. Ut wisi enim ad minim veniam, quis
                              nostrud exerci tation ullamcorper suscipit.
                        </div>
                      </div>
                </div>
            </div>
            
            <!-- Controls 
            <a class='carousel-control-prev' data-target="#carousel-custom" data-slide='prev'>
                <img alt="JNL Collection" src="assets\Images\Common\arrow_left.png" class="carousel-arrows">
                <span class="sr-only">Previous</span>
            </a>
            <a class='carousel-control-next' data-target="#carousel-custom" data-slide='next'>
                <img alt="JNL Collection" src="assets\Images\Common\arrow_right.png" class="carousel-arrows">
                <span class="sr-only">Next</span>
            </a>-->

          <div class='carousel-indicators'>
              <input type="radio" name="equipe-cr" data-target='#carousel-custom' data-slide-to='0' class='active'>
              <input type="radio" name="equipe-cr" data-target='#carousel-custom' data-slide-to='1'>
              <input type="radio" name="equipe-cr" data-target='#carousel-custom' data-slide-to='2'>
            </div>
          
          <!-- Indicators 
          <ol class='carousel-indicators'>
              <li data-target='#carousel-custom' data-slide-to='0' class='active'><span>JNL Collection</span></li>
              <li data-target='#carousel-custom' data-slide-to='1'><span>Vanhamme</span></li>
              <li data-target='#carousel-custom' data-slide-to='2'><span>Emanuel Ungaro Home</span></li>
              <li data-target='#carousel-custom' data-slide-to='3'><span>Luz-Interiors</span></li>
          </ol>-->
        </div>
        <!--CAROUSEL-->

        <div class="quote-bar">
          <p>{{text.quote}}</p>
            <h4>DOMINIQUE WAXMANN, CEO</h4>
        </div>

      
      <div id="engagement">
        <h2>{{text.engagementTitle}}</h2>
        <h3>{{text.engagementSub}}</h3>
        <div class='image-parag' id="impg2">
            <div class="respo_img" id="img2">&nbsp;
                <!-- <img alt="JNL Collection">
                <img alt="JNL Collection" src="assets/Images/Groupe/GP_leaf.jpg"> -->
              </div>
          <div>
            <p [innerHTML]="text.engagementText">
            </p>
          </div>
        </div>
      </div>

      <div id="projets">
        <h2>{{text.projets}}</h2>
        <h3>{{text.projetsSub}}</h3>
        <div class="proj-flex">
          <div [innerHTML]="text.projetsText">
            </div>
          </div>

      <div id='carousel-projets' class='carousel slide carousel-marques' data-ride='carousel'  data-interval="1200">
          <div class="carousel-inner">
              <div class='carousel-item active'>
                <div class="container3">
                  <h2>{{text.projetsCity1}}</h2>
                  <h2>{{text.projets1}}</h2>
                 <div class="carousel-item-image">
                   <img src='assets\Images\Projects\PJ_Paris.jpg' alt='JNL Collection' class="slide-image">
                 </div>
                   <div class="projets-text">
                      <h4>
                       {{text.projetsDescription1}}
                      </h4> 
                   </div>
                </div>
              </div>
  
              <div class='carousel-item' active="setActiveSlide(1)">
                  <div class="container3">
                    <h2>{{text.projetsCity2}}</h2>
                    <h2>{{text.projets2}}</h2>
                   <div class="carousel-item-image">
                     <img src='assets\Images\Projects\PJ_London.jpg' alt='JNL Collection' class="slide-image">
                   </div>
                     <div class="projets-text">
                        <h4>
                         {{text.projetsDescription2}}
                        </h4> 
                     </div>
                   </div>
              </div>
              <div class='carousel-item'>
                  <div class="container3">
                    <h2>{{text.projetsCity1}}</h2>
                    <h2>{{text.projets1}}</h2>
                   <div class="carousel-item-image">
                     <img src='assets\Images\Projects\PJ_Reims.jpg' alt='JNL Collection' class="slide-image">
                   </div>
                     <div class="projets-text">
                        <h4>
                         {{text.projetsDescription1}}
                        </h4> 
                     </div>
                   </div>
              </div>
          </div>
          
          <!-- Controls -->
          <a class='carousel-control-prev' data-target="#carousel-projets" data-slide='prev'>
              <img alt="JNL Collection" src="assets\Images\Common\arrow_left.png" class="carousel-arrows">
              <span class="sr-only">Previous</span>
          </a>
          <a class='carousel-control-next' data-target="#carousel-projets" data-slide='next'>
              <img alt="JNL Collection" src="assets\Images\Common\arrow_right.png" class="carousel-arrows">
              <span class="sr-only">Next</span>
          </a>

          <!-- 
        <div class='carousel-indicators'>
            <input type="radio" name="equipe-cr" data-target='#carousel-projets' data-slide-to='0' class='active'>
            <input type="radio" name="equipe-cr" data-target='#carousel-projets' data-slide-to='1'>
            <input type="radio" name="equipe-cr" data-target='#carousel-projets' data-slide-to='2'>
          </div>
        
        <ol class='carousel-indicators'>
            <li data-target='#carousel-custom' data-slide-to='0' class='active'><span>JNL Collection</span></li>
            <li data-target='#carousel-custom' data-slide-to='1'><span>Vanhamme</span></li>
            <li data-target='#carousel-custom' data-slide-to='2'><span>Emanuel Ungaro Home</span></li>
            <li data-target='#carousel-custom' data-slide-to='3'><span>Luz-Interiors</span></li>
        </ol>-->
      </div>
    </div>

    <div id="archives">
      <h2>Les Archives</h2>
      <h3>XXXXXX</h3>
      <div>
        <div *ngFor="let y of archives" data-toggle="modal" data-target="#archivesModal" (click)="yearClick(y)">
          <span>{{y}}</span>
        </div>
      </div>
    </div>

    <div class="modal fade" id="archivesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false" *ngIf="isOpen" (click)="closeModal()">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class='col-12 modal-title text-center' id="ModalLabel">Archive {{year}}</h5>
            <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close" (onclick)="modalClose()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div id='carousel-archives' class='carousel slide carousel-archives' data-ride='carousel'>
                <div class="carousel-inner">
                    <!-- <div class='carousel-item active'>
                      <div class="container2">
                        <div class="carousel-item-image2">
                          <img src={{archive.imgSrc[0]}} alt='JNL Collection' class="slide-image">
                        </div>
                      </div>
                    </div> -->
                    
                      <div class='carousel-item' *ngFor="let item of archive.imgSrc; let k = index" [ngClass]="k == 0 ? 'item active' : 'item'">
                          <div class="container2">
                            <div class="carousel-item-image2">
                              <img src={{item}} alt='JNL Collection1' class="slide-image">
                            </div>
                          </div>
                      </div>
                </div>
                
                <!-- Controls -->
                <a class='carousel-control-prev' data-target="#carousel-archives" data-slide='prev' (click)="unsetScroll()">
                    <img alt="JNL Collection" src="assets\Images\Common\arrow_left.png" class="carousel-arrows">
                    <span class="sr-only">Previous</span>
                </a>
                <a class='carousel-control-next' data-target="#carousel-archives" data-slide='next' (click)="unsetScroll()">
                    <img alt="JNL Collection" src="assets\Images\Common\arrow_right.png" class="carousel-arrows">
                    <span class="sr-only">Next</span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>

<!---->

      <!--
      <div id="gallery-div">
        <div class="gallery">
            <a class="gallery_buttons">
                <div><img alt="JNL Collection" src="assets\Images\Common\arrow_left.png"></div>
              </a>
            <div>
            <div>
                <div>
        
                  <img alt="JNL Collection" src="assets\Images\Groupe\GP_red.jpg">
                  </div>
              </div>
              
            <div class="equipe-radio">
                <input type="radio" name="gallery-bottom">
                <input type="radio" name="gallery-bottom">
                <input type="radio" name="gallery-bottom">
                <input type="radio" name="gallery-bottom">
                <input type="radio" name="gallery-bottom">
                <input type="radio" name="gallery-bottom">
              </div>
          </div>
          <a class="gallery_buttons">
            <div><img alt="JNL Collection" src="assets\Images\Common\arrow_right.png"></div>
          </a>
      </div>
    </div>
  -->

  </div>
</div>
