
<div>

  <div class="les-marques-main">
    <div>
      <h1>LE GROUPE</h1>


      <div id="marques_list">
        <a routerLink="/jnlGroup" fragment="histoire">L’HISTOIRE</a>
        <a routerLink="/jnlGroup" fragment="equipe">L’ÉQUIPE</a>
        <a routerLink="/jnlGroup" fragment="engagement">L’ENGAGEMENT</a>
        <a routerLink="/jnlGroup" fragment="projets">LES PROJETS</a>
        <a routerLink="/jnlGroup" fragment="archives">LES ARCHIVES</a>
      </div>

      <div id="histoire">
        <h2>L’histoire</h2>
        <h3>ARTISANS DE LA DÉCORATION DEPUIS 1992. </h3>
        <h4>Dans une perpétuelle quête d’excellence,
          le groupe JNL imagine un mobilier façonné pour sublimer le quotidien. </h4>
        <img class="marques-image" alt="JNL Collection" src="assets/Images/Groupe/GP_bw.jpg">

        <div class='image-parag'>
          <p>
            Christian Ji et Alain Lahy éditent en 1992 leur première
            collection en proposant un univers élégant sans
            ostentation. Si l’un est un concepteur technique en recherche de
            perfection et l’autre un grand entrepreneur visionnaire,
            c’est ensemble qu’ils concevront des pièces d’exception,
            expression d’un <strong>art de vivre</strong> mêlant l’expérience multi
            sensorielle dans un <strong>luxe confidentiel</strong>.<br><br>
            Au fil du temps, JNL est parvenu à fédérer une
            communauté d’artisans passionnés, tous guidés par une
            mission d’envergure; concevoir des pièces pérennes à la
            qualité irréprochable.<br><br>
            Cette synergie où enthousiasme, créativité et respect
            sont les valeurs essentielles s’enrichit rapidement de
            nouvelles compétences et expertises dans les domaines
            technique et commercial. Fort de cette alliance, le groupe
            peut ainsi assurer à la fois le design, la fabrication et la
            commercialisation de ses marques.
          </p>

          <img alt="JNL Collection" src="assets/Images/Groupe/GP_vertical.jpg">

        </div>

        <img class="full-image" alt="JNL Collection" src="assets/Images/Groupe/GP_building.jpg">
      </div>

      <div id="equipe">
        <h2>Aujourd’hui</h2>
        <h3>UNE NOUVELLE HISTOIRE</h3>
        <div>
          <div>
            <img class="group-img" alt="JNL Collection" src="assets/Images/Groupe/GP_dominique - Copy.JPG">

            <h4>Dominique Waxmann</h4>

            <p>
              A la direction générale de JNL depuis 6 ans,
              Dominique Waxmann insuffle un nouveau style
              afin de pérenniser jour après jour la qualité des
              collections. D’origine danoise et malaisienne,
              Dominique Waxmann conjugue avec brio l’art
              des mélanges de styles qui sont d’une richesse
              infinie, alliant à la fois la rigueur de l’Europe et
              la finesse de l’Asie. Ses expériences de
              consultante dans l’univers de la mode
              enrichissent l’univers des collection JNL en
              apportant un regard singulier en phase avec
              les tendances et l’air du temps. 
            </p>

          </div>

          <div>
              <img class="group-img" alt="JNL Collection" src="assets/Images/Groupe/GP_alain.JPG">
  
              <h4>Alain Lahy</h4>
  
              <p>
                  L’aventure JNL commence en 1992 au détour d’une rencontre 
                  entre Alain Lahy, grand entrepreneur visionnaire, et Christian 
                  Ji, talentueux ébéniste. Fort du succès des premières collections, 
                  Alain décide en 1994 de créer « L’ATELIER JNL » qui renferme tous 
                  les savoir-faire que l’on connait tels que l’ébénisterie, le 
                  laquage, le garnissage et le travail du métal. Cet outil merveilleux 
                  permet aux décorateurs du monde entier de choisir des pièces 
                  d’exception qu’ils pourront customiser à leur guise. Tout en développant 
                  la marque, Alain Lahy continue de croitre avec l’acquisition en 2007 de 
                  VANHAMME, une marque mythique de fabrication de canapé et de fauteuils, 
                  puis reprendra également la marque LUZ INTERIORS en 2010. En 2013, il est 
                  précurseur en signant un accord de licence avec la marque de prêt à porter 
                  de luxe, Emmanuel Ungaro et développe une ligne de mobilier pour la maison 
                  sous le nom d’UNGARO HOME. Aujourd’hui à la tête de ce portfolio de marques, 
                  Alain Lahy reste passionné par le développement des savoir-faire afin de 
                  proposer des pièces innovantes, à la qualité irréprochable.
              </p>
  
          </div>
        </div>

        <!--
        <div class="gallery-flex">
          <div class="equipe-card">
            <img alt="JNL Collection" src="assets/Images/Groupe/GP_gery.JPG">
           
            <div>
              
              <h4>Prenom Nom</h4>
              <h4>TITRE</h4>
              <br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam erat
                volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit.
            </div>

          </div>
          <div class="equipe-radio">
            <input type="radio" name="equipe-cr">
            <input type="radio" name="equipe-cr">
            <input type="radio" name="equipe-cr">
          </div>
        </div>-->
        
      </div>


        <!--CAROUSEL-->
        <div id='carousel-custom' class='carousel slide carousel-marques' data-ride='carousel'>
            <div class="carousel-inner">
                <div class='carousel-item active'>
                  <div class="container">
                    <div class="carousel-item-image">
                      <img src='/assets/Images/Groupe/GP_gery.JPG' alt='JNL Collection' class="slide-image">
                    </div>
                    <p class="group-text">
                                
                          <span>Prenom Nom</span><br>
                          <span>TITRE</span><br><br>

                          Lorem ipsum dolor sit amet, consectetuer adipiscing
                          elit, sed diam nonummy nibh euismod
                          tincidunt ut laoreet dolore magna aliquam erat
                          volutpat. Ut wisi enim ad minim veniam, quis
                          nostrud exerci tation ullamcorper suscipit.
                    </p>
                  </div>
                </div>
    
                <div class='carousel-item' active="setActiveSlide(1)">
                    <div class="container">
                        <div class="carousel-item-image">
                          <img src='/assets/Images/Groupe/GP_michele.JPG' alt='JNL Collection' class="slide-image">
                        </div>
                        <p class="group-text">
                                    
                              <span>Prenom Nom</span><br>
                              <span>TITRE</span><br><br>
    
                              Lorem ipsum dolor sit amet, consectetuer adipiscing
                              elit, sed diam nonummy nibh euismod
                              tincidunt ut laoreet dolore magna aliquam erat
                              volutpat. Ut wisi enim ad minim veniam, quis
                              nostrud exerci tation ullamcorper suscipit.
                        </p>
                      </div>
                </div>
                <div class='carousel-item'>
                    <div class="container">
                        <div class="carousel-item-image">
                          <img src='/assets/Images/Groupe/GP_daniel.JPG' alt='JNL Collection' class="slide-image">
                        </div>
                        <p class="group-text">
                                    
                              <span>Prenom Nom</span><br>
                              <span>TITRE</span><br><br>
    
                              Lorem ipsum dolor sit amet, consectetuer adipiscing
                              elit, sed diam nonummy nibh euismod
                              tincidunt ut laoreet dolore magna aliquam erat
                              volutpat. Ut wisi enim ad minim veniam, quis
                              nostrud exerci tation ullamcorper suscipit.
                        </p>
                      </div>
                </div>
            </div>
            
            <!-- Controls -->
            <a class='carousel-control-prev' data-target="#carousel-custom" data-slide='prev'>
                <img alt="JNL Collection" src="assets\Images\Common\arrow_left.png" class="carousel-arrows">
                <span class="sr-only">Previous</span>
            </a>
            <a class='carousel-control-next' data-target="#carousel-custom" data-slide='next'>
                <img alt="JNL Collection" src="assets\Images\Common\arrow_right.png" class="carousel-arrows">
                <span class="sr-only">Next</span>
            </a>

            
          <div class='carousel-indicators'>
              <input type="radio" name="equipe-cr" data-target='#carousel-custom' data-slide-to='0' class='active'>
              <input type="radio" name="equipe-cr" data-target='#carousel-custom' data-slide-to='1'>
              <input type="radio" name="equipe-cr" data-target='#carousel-custom' data-slide-to='2'>
            </div>
          
          <!-- Indicators 
          <ol class='carousel-indicators'>
              <li data-target='#carousel-custom' data-slide-to='0' class='active'><span>JNL Collection</span></li>
              <li data-target='#carousel-custom' data-slide-to='1'><span>Vanhamme</span></li>
              <li data-target='#carousel-custom' data-slide-to='2'><span>Emanuel Ungaro Home</span></li>
              <li data-target='#carousel-custom' data-slide-to='3'><span>Luz-Interiors</span></li>
          </ol>-->
        </div>
        <!--CAROUSEL-->

        <div class="quote-bar">
          <p>« Rendre nos clients heureux en sublimant les lieux qu’ils occupent
            est notre mission première mais aussi notre plus grande fierté.
            Nous sommes convaincus que le travail d’une boiserie ou la noblesse d’un matériau
            peuvent être, au quotidien, des vecteurs de rêve »
          </p>
            <h4>DOMINIQUE WAXMANN, CEO</h4>
        </div>

      
      <div id="engagement">
        <h2>L’engagement</h2>
        <h3>UN MOBILIER DURABLE ET RESPONSABLE</h3>
        <div class='image-parag'>
          <img class="marques-image" alt="JNL Collection" src="assets/Images/Groupe/GP_leaf.jpg">
          <p>
            JNL élabore ses collections dans le respect de
            l’environnement. Le groupe adhère ainsi depuis plusieurs
            années au <strong> Forest Stewardship Council*</strong> (FSC), une organisation
            non gouvernementale destinée à promouvoir une gestion
            responsable des forêts dans le monde entier.<br><br>
            Au sein de ses ateliers de production, le groupe fait également
            l’usage de <strong>techniques éco-responsables</strong> et de <strong>matériaux
            auto-renouvelables</strong>, à l’image du <strong>bambou</strong>, qui naît et grandit
            de façon autonome. Le <strong>latex naturel</strong> se veut quant à lui
            entièrement recyclé et ne comporte aucun élément chimique
            dangereux pour la nature.<br><br>
            Il en est de même pour les vernis appliqués par les artisans -
            <strong>élaborés à base d’eau</strong> et non de solvants aux composants
            volatiles – ou pour les ressorts hélicoïdaux des assises,
            fabriqués <strong>sans éléments pétrochimiques</strong>.<br><br>
            L’ensemble des unités de production de JNL bénéficie en outre
            du <strong>certificat ISO 9001**</strong>. Au-delà de son engagement
            écologique, ce dernier assure que le groupe belge poursuit
            une véritable recherche de qualité, qu’elle soit en termes de
            fabrication que de conditions de travail.
          </p>
        </div>
      </div>

      <div id="projets">
        <h2>Les Projets</h2>
        <h3>UN LUXE SANS FRONTIÈRE.</h3>
          <p>
            JNL Groupe diffuse désormais son Art de Vivre dans le monde entier. 
            Son approche artisanale et sa vision contemporaine du luxe ont 
            d’ores-et-déjà conquis les décorateurs du monde entier aussi bien 
            en Europe qu’aux États-Unis, au Moyen Orient en Russie et en Asie.<br><br>


            Ce rayonnement international a sans conteste attiré l’attention 
            de prestigieux acteurs de l’hôtellerie et du luxe avec lesquels 
            le groupe JNL a collaboré, à l’instar du <em>Peninsula de Paris</em>, du 
            Four Season’s Nile Cairo, des boutiques Louis Vuitton et Rolex 
            ou encore du <em>Manoir de Lébioles</em> à Spa. 
          </p>

          
      <div id='carousel-projets' class='carousel slide carousel-marques' data-ride='carousel'>
          <div class="carousel-inner">
              <div class='carousel-item active'>
                <div class="container">
                   <h2>PARIS</h2>
                   <h2>Le Peninsula Hotel</h2>
                  <div class="carousel-item-image">
                    <img src='assets\Images\Groupe\GP_green.jpg' alt='JNL Collection' class="slide-image">
                  </div>
                    <h4 class="group-text">
                        Ut wisi enim ad minim veniam, quis nostrud exerci ullamcorper
                          velit delenit augue duis dolore te feugait nulla facilisi.
                     </h4>
                </div>
              </div>
  
              <div class='carousel-item' active="setActiveSlide(1)">
                  <div class="container">
                      <h2>PARIS</h2>
                      <h2>Le Peninsula Hotel</h2>
                     <div class="carousel-item-image">
                       <img src='assets\Images\Groupe\GP_red.jpg' alt='JNL Collection' class="slide-image">
                     </div>
                       <h4 class="group-text">
                           Ut wisi enim ad minim veniam, quis nostrud exerci ullamcorper
                             velit delenit augue duis dolore te feugait nulla facilisi.
                        </h4>
                   </div>
              </div>
              <div class='carousel-item'>
                  <div class="container">
                      <h2>PARIS</h2>
                      <h2>Le Peninsula Hotel</h2>
                     <div class="carousel-item-image">
                       <img src='assets\Images\Groupe\GP_green.jpg' alt='JNL Collection' class="slide-image">
                     </div>
                       <h4 class="group-text">
                           Ut wisi enim ad minim veniam, quis nostrud exerci ullamcorper
                             velit delenit augue duis dolore te feugait nulla facilisi.
                        </h4>
                   </div>
              </div>
          </div>
          
          <!-- Controls -->
          <a class='carousel-control-prev' data-target="#carousel-projets" data-slide='prev'>
              <img alt="JNL Collection" src="assets\Images\Common\arrow_left.png" class="carousel-arrows">
              <span class="sr-only">Previous</span>
          </a>
          <a class='carousel-control-next' data-target="#carousel-projets" data-slide='next'>
              <img alt="JNL Collection" src="assets\Images\Common\arrow_right.png" class="carousel-arrows">
              <span class="sr-only">Next</span>
          </a>

          
        <div class='carousel-indicators'>
            <input type="radio" name="equipe-cr" data-target='#carousel-projets' data-slide-to='0' class='active'>
            <input type="radio" name="equipe-cr" data-target='#carousel-projets' data-slide-to='1'>
            <input type="radio" name="equipe-cr" data-target='#carousel-projets' data-slide-to='2'>
          </div>
        
        <!-- Indicators 
        <ol class='carousel-indicators'>
            <li data-target='#carousel-custom' data-slide-to='0' class='active'><span>JNL Collection</span></li>
            <li data-target='#carousel-custom' data-slide-to='1'><span>Vanhamme</span></li>
            <li data-target='#carousel-custom' data-slide-to='2'><span>Emanuel Ungaro Home</span></li>
            <li data-target='#carousel-custom' data-slide-to='3'><span>Luz-Interiors</span></li>
        </ol>-->
      </div>
    </div>

      
      <div id="archives">
        <h2>Les Archives</h2>
        <h3>XXXXXX</h3>
        <div>
          <div>
            <span>
              2017
            </span>
          </div>
          
          <div>
              <span>
                2016
              </span>
            </div>
            
          <div>
              <span>
                2015
              </span>
            </div>
            
          <div>
              <span>
                2014
              </span>
            </div>
            
          <div>
              <span>
                2013
              </span>
            </div>
            
          <div>
              <span>
                2012
              </span>
            </div>
            
        </div>
      </div>

      <div id="gallery-div">
        <div class="gallery">
            <a class="gallery_buttons">
                <div><img alt="JNL Collection" src="assets\Images\Common\arrow_left.png"></div>
              </a>
            <div>
            <div>
                <div>
        
                  <img alt="JNL Collection" src="assets\Images\Groupe\GP_red.jpg">
                  </div>
              </div>
              
            <div class="equipe-radio">
                <input type="radio" name="gallery-bottom">
                <input type="radio" name="gallery-bottom">
                <input type="radio" name="gallery-bottom">
                <input type="radio" name="gallery-bottom">
                <input type="radio" name="gallery-bottom">
                <input type="radio" name="gallery-bottom">
              </div>
          </div>
          <a class="gallery_buttons">
            <div><img alt="JNL Collection" src="assets\Images\Common\arrow_right.png"></div>
          </a>
      </div>
    </div>


    </div>
  </div>
</div>