.group-main {
	margin: auto;
	text-align: center;
	padding-top: 5.9vw;
  overflow: hidden;

  .submenu {
    width: 50vw;
  }

  h1 {
    @media only screen and (min-width: 577px) and (max-width: 768px) {
      font-size: 30px;
    }
  }

	h2 {
    font-size: 3.5vw;

    @media only screen and (max-width: 768px) {
			font-size: 26px;
    }

    @media only screen and (max-width: 576px) {
			font-size: 20px;
		}
	}

	h3 {
		text-transform: uppercase;
		font-family: Helvetica-Light;
		font-size: 1.4vw;
		margin-bottom: 1.5vw;
		text-align: center;
    margin-top: 0.6vw;

    @media only screen and (min-width: 577px) and (max-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }
	}

	h4 {
		margin: auto;
		width: 54vw;
		font-size: 1.4vw;
		font-family: Helvetica-Light;
		margin-top: 3.3vw;
		text-align: center;
	}

	button {
		outline: none;
  }

	.pointer {
		cursor: pointer;
  }

  .carousel-control-next, .carousel-control-prev {
    width: 10%;
  }

	.group_selected {
		text-decoration: underline !important;
	}

	.group-image {
		width: 76.17vw;
		margin: auto;
		margin-top: 1.6vw;
		margin-bottom: 5.37vw;
	}

	.location {
		text-align: center;
		font-family: Helvetica-Light;
		font-size: 15px;
	}

	.full-image {
		margin-top: 8.98vw;
		margin-bottom: 4.16vw;
		left: 0;
		width: 100%;
		height: auto;

		@media only screen and (max-width: 768px) {
			display: none;
		}
	}

	.quote-bar {
		margin-top: 7.12vw !important;
		margin-bottom: 4.93vw;
		/* width: 100vw  !important; */
		width: 100%;
		left: 0;
		display: flex;
		flex-direction: column !important;
		background-color: #f3f5f5;
		position: relative;
		padding: 11.7vw;
		padding-top: 4.2vw;
		padding-bottom: 4.2vw;
	}

	.quote-bar > p {
		font-family: Helvetica-Light;
		font-size: 1.4vw;
	}

	.quote-bar > h4 {
		font-family: Helvetica-Light;
		font-size: 1.4vw;
		margin-top: 0;
	}

	.image-parag {
		width: 76%;
		margin: auto auto 0;
		height: auto;
		display: flex;
		flex-direction: row;
		align-content: flex-start;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0;
		text-align: left;

		@media only screen and (max-width: 768px) {
			width: 80vw;
			flex-direction: column;
			height: auto;
			text-align: center;
		}

		> div {
			&.col-txt {
				@media only screen and (max-width: 768px) {
					order: 2;
				}
			}

			&.col-img {
				// width: 30vw;

				@media only screen and (max-width: 768px) {
					margin: 15px 0;
					order: 1;
				}
			}

			> p {
				margin-top: 0;
				padding-right: 4vw;
				padding-bottom: 0 !important;
				margin-bottom: 0 !important;
				font-family: Helvetica-Light;
				font-size: 1.6vw;
				line-height: 2.4vw;

				@media only screen and (max-width: 768px) {
					margin-bottom: 5vw;
					height: auto;
					width: 80vw;
					padding-right: 0 !important;
					padding-bottom: 5vw;
          font-size: 12px;
          line-height: 16px;
        }

        @media only screen and (max-width: 576px) {
          font-size: 11px;
				}
			}

			> img {
				width: 30vw;
				margin-top: 0;
				display: inline-block;
				height: auto;

				@media only screen and (max-width: 768px) {
					width: 80vw;
					max-height: 100% !important;
				}
			}
		}
	}

	#engagement .image-parag > p {
		padding-right: 0;
		padding-left: 7.8vw;

		@media only screen and (max-width: 768px) {
			padding-left: 0vw;
		}
	}

	#impg2 {
		margin-top: 4.65vw;
    width: 77.22vw;

    > div > p {
      padding-right: 0;
      padding-left: 7.14vw;
      font-size: 1.41vw;
      line-height: 2.05vw;

      @media only screen and (max-width: 768px) {
        padding-left: 0;
        font-size: 12px;
        line-height: 16px;
      }

      @media only screen and (max-width: 576px) {
        font-size: 11px;
        line-height: 16px;
      }
    }
	}

	.group-img {
		width: 28.7vw !important;
	}

	.proj-flex {
		display: flex;
		align-content: center;
		justify-content: space-between;
		text-align: left;
		font-family: Helvetica-Light;
		font-size: 1.4vw;
		margin: auto;
		width: 80%;
	}

	#equipe {
		width: 62.78vw;
		margin: auto;
		text-align: center;

		@media only screen and (max-width: 768px) {
			width: 83vw;
		}

		> div {
			margin: auto;
			display: flex;
			flex-direction: row;
			align-content: center;
			justify-content: space-between;
      text-align: center;

      @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        text-align: center;
        width: 70vw;
      }

			> div {
				margin: 0;
				margin-top: 0;
				width: 28.79vw;
				font-family: Helvetica-Light;
				font-size: 1.4vw;
        text-align: center;

        @media only screen and (max-width: 768px) {
          width: 70vw;
          margin: 15px auto;
        }

				> h3 {
					font-family: Helvetica;
					font-size: 10px;
					width: auto;
					margin: auto;
					margin-top: 0.8vw;
          margin-bottom: 2.2vw;

          @media only screen and (min-width: 577px) and (max-width: 768px) {
            font-size: 12px;
            line-height: 16px;
          }
				}

				> h4 {
					width: auto;
					margin: auto;
					margin-top: 2.2vw;
          margin-bottom: 1vw;
          font-family: Helvetica;
				}

				> p {
					margin: auto;
					font-family: Helvetica-Light;
					font-size: 1.1vw;
					line-height: 1.6vw;
          text-align: justify;

          @media only screen and (max-width: 768px) {
            font-size: 12px;
            line-height: 16px;
          }

          @media only screen and (max-width: 576px) {
            font-size: 10px;
            line-height: 16px;
          }
				}

				> img {
					margin-top: 4vw;
					width: 28.9vw;
				}
			}
		}
	}

	.staff {
		width: 62.78vw;
		margin: auto;
		margin-top: 5vw;
		text-align: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      width: 70vw;
    }

		> div {
			display: flex;
      flex-wrap: nowrap;

      @media only screen and (max-width: 768px) {
        width: auto;
      }

      > div {
        display: inline-block;
        margin-bottom: 2vw;

        @media only screen and (max-width: 768px) {
          margin-bottom: 5vw;
        }

        > p {
          font-family: Helvetica-light;
          font-size: 1.1vw;
          line-height: 1.3vw;
          padding-left: 1vw;
          padding-right: 1vw;
          margin-bottom: 0.5vw;
          width: 11vw;

          @media only screen and (max-width: 768px) {
            width: auto;
            font-size: 12px;
            line-height: 16px;
          }

          @media only screen and (max-width: 576px) {
            font-size: 11px;
            line-height: 14px;
          }
        }

        > img {
          max-width: 18vw;
          max-height: 18vw;
          object-fit: contain;

          @media only screen and (max-width: 768px) {
            max-height: 50vw;
            max-width: 50vw;
          }
        }
      }
		}
	}

	.left {
		flex-direction: row;
    text-align: right;

    @media only screen and (max-width: 768px) {
      padding-left: 55px;
    }

    @media only screen and (max-width: 576px) {
      padding-left: 25px;
    }
	}

	.right {
		flex-direction: row-reverse;
		text-align: left;
	}

	.p-left {
		text-align: left;
	}

	.p-right {
		text-align: right;
	}

	#engagement {
		height: auto;
	}

	.gallery-flex {
		width: 62.78vw;
		display: flex;
		flex-direction: column !important;
		margin-top: 8.7vw;
  }

  .modal-content {
    @media only screen and (max-width: 768px) {
      height: auto;
    }
  }

	.equipe-card {
		width: 62.78vw;
		height: 29vw;
		margin: 0 !important;

		display: flex;
		flex-direction: row;
	}

	.equipe-card > img {
		margin: auto;
		margin-top: 0 !important;
	}

	.equipe-card > div {
		margin: auto;
		margin-top: 0 !important;
		width: 47%;
		padding: 3vw;
		padding-right: 0;
		padding-top: 0;
		text-align: left !important;
	}

	.equipe-card > div > h4 {
		text-align: left !important;
		margin-top: 0 !important;
	}

	.equipe-radio {
		margin: auto;
		width: 62.78vw !important;
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
	}

	.equipe-radio > input:hover {
		background-color: grey;
	}

	.equipe-radio > input:checked {
		background-color: rgb(46, 46, 46);
	}

	#les-projets {
		margin: auto;
		margin-top: 14.2vw;
		width: 76%;
	}

	#les-projets > p {
		text-align: center;
		font-family: Helvetica-Light;
		font-size: 15px;
		margin: auto;
		width: 49.2%;
	}

	.gallery {
		margin-bottom: 14vw;
		width: 100%;
		text-align: center;
		display: flex;
	}

	.gallery > div {
		margin: auto;
	}

	.gallery > div > div > div {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.gallery > div > div > div > img {
		margin: auto;
		height: 35vw;
	}

	.gallery > div > div > div > h2 {
		margin: auto;
		width: 55.5vw;
	}

	.gallery > div > div > div > h4 {
		margin-top: 20;
	}

	.gallery_buttons {
		height: 100vh;
		width: 10vw;
		display: flex;
	}
	.gallery_buttons > div {
		margin: auto;
		font-size: 15px;
		font-family: Helvetica-Light;
	}

	.gallery_buttons > div > img {
		width: 2vw;
	}

	#archives {
		width: 77.28vw;
		margin: auto;
		margin-bottom: 5vw;
	}

	#archives > div {
		margin: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 77.28vw;
	}

	#archives > div > div {
		margin-top: 3%;
		height: 20.25vw;
		width: 23.34vw;
		background-color: #e3d9c6;
		display: flex;
	}

	#archives > div > div:nth-child(3n + 0) {
		margin-right: 0;
	}

	#archives > div > div > span {
    margin: auto;
    font-family: Helvetica;
		font-size: 3vw;
		font-style: italic;
	}

	#gallery-div {
		margin: auto;
	}

	#histoire,
	#equipe,
	#engagement,
	#projets,
	#archives {
		padding-top: 5.9vw;
	}

	#histoire h3,
	#equipe h3,
	#engagement h3,
	#projets h3,
	#archives h3 {
    font-size: 1.4vw;

    @media only screen and (max-width: 768px) {
      margin: 10px auto;
      width: 80vw;
      font-size: 16px;
      line-height: 22px;
    }

    @media only screen and (max-width: 576px) {

      font-size: 13px;
      line-height: 18px;
    }
	}

	#histoire h4,
	#equipe h4,
	#engagement h4,
	#projets h4,
	#archives h4 {
		font-size: 1.8vw;
    line-height: 2vw;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 18px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 12px;
      line-height: 16px;
    }
	}

	#projets {
		width: 100%;
    text-align: center;
	}

	#histoire {
		margin-top: 1.38vw;

    > h1 {
      margin-bottom: 0;
    }

    > h4 {
      margin-top: 2.74vw;
      margin-bottom: 4vw;
      width: 60.84vw;
      font-size: 1.4vw;

      @media only screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
      }

      @media only screen and (max-width: 576px) {
        font-size: 11px;
        line-height: 16px;
      }
    }
  }

	#projets > p {
		font-family: Helvetica-Light;
		font-size: 1.4vw;
		width: 48.4%;
		margin: auto;
	}

	.modal {
		left: 0;
	}

	.modal-header {
		border-bottom: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	#carousel-custom {
		margin-top: 10vw;
	}

	.carousel-control-prev,
	.carousel-control-next {
		display: flex;
	}

	.carousel-control-prev > img,
	.carousel-control-next > img {
		margin-top: auto;
		margin-bottom: auto;
	}

	.carousel-arrows {
		height: 2vw;
		width: 1vw;
		margin-top: auto;
	}

	.carousel-item-content {
		width: 80%;
	}

	.carousel-item-image {
		float: left;
		margin-right: 1vw;
	}

	.slide-image {
		width: 28.7vw;
		object-fit: contain;
	}

	.slide-image-archive {
		width: 55.5vw;
    object-fit: cover;

    @media only screen and (max-width: 768px) {
      width: 80%;
    }
	}

	.slide-image-projects {
		width: 59vw;
		object-fit: contain;
	}

	.carousel-jnlgroup-indicators {
		width: auto;
		margin: auto;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		position: relative;
		margin-top: 5vw;

		> li {
			height: 0.9vw;
			width: 0.9vw;
			margin-right: 0.6vw;
			text-transform: uppercase;
			text-indent: 0;
			font-size: 15px;
			background-color: #666;
			border-radius: 100%;

			.active {
				background-color: black;
				opacity: 1;
			}
		}

		> span {
			color: #555;
		}

		> input[type="radio"] {
			margin-top: 0vw !important;
		}
	}

	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		height: 0.69vw;
		width: 0.69vw;
		border: none;
		border-radius: 100%;
		cursor: pointer;
		display: inline-block;
		margin-right: 0.5em;
		/* margin-top: 2vw; */
		outline: none;
		background-color: #bfbfbf;
	}

	.container {
		margin: auto;
		display: flex;
		flex-direction: row;
		width: 62.78vw;
		font-family: Helvetica-Light;
		font-size: 15px;
		padding: 0;
	}

	.group-text {
		padding-top: 6vw;
		text-align: left;
		font-size: 15px;
		margin-top: 0 !important;
		width: 38.9vw;
		padding: 3vw;
		padding-right: 0;
		padding-top: 0;
		text-align: left !important;
	}

	.group-text > span {
		text-align: left !important;
		margin-top: 0 !important;
		margin: auto;
		width: 54%;

		font-family: Helvetica-Light;
		margin-top: 3.3vw;
		text-align: center;
	}

	.projets-text > h4 {
		margin: auto;
		width: 60%;
		margin-top: 0.65vw;
		text-align: center;
	}

	.people-name {
		font-size: 15px;
	}

	.people-title {
		text-transform: uppercase;
		font-size: 15px;
	}

	.projets {
		width: 60%;
		padding: 0;
	}

	#carousel-projets {
		width: 73.8vw;
		height: auto;
		margin: auto;
	}

	#carousel-projets > a {
		width: 3.1vw;
		min-width: 20px;
		// padding-top: 10%;
	}

	.modal-backdrop {
		position: relative;
	}

	.modal-body {
		padding: 0 !important;
	}

	.modal-dialog {
		width: 80%;
		max-width: 1440px;
		min-height: 0;
		/* margin-top: 60; */

		@media only screen and (max-width: 768px) {
			width: 100%;
			margin: 0;
		}
	}

	.container2 {
		padding: 0;
		font-family: Helvetica-Light;
		font-size: 16px;
		display: flex;
		height: 80vh;

		@media only screen and (max-width: 768px) {
			height: auto;
		}
	}

  .carousel-project {
		display: flex;
		flex-direction: column;
		text-align: center;
		height: auto;

		> h2 {
			font-family: Helvetica-Light;

			&.project-city {
				text-transform: uppercase;
				font-size: 1.1vw;
				margin-top: 0;

				@media only screen and (max-width: 768px) {
					font-size: 13px;
				}

				@media only screen and (min-width: 1200px) {
					font-size: 13.2px;
				}
			}

			&.project-name {
				font-size: 2vw;
				width: 59.3vw;
				margin: auto;
				margin-bottom: .54vw;

				@media only screen and (max-width: 768px) {
					font-size: 18px;
				}

				@media only screen and (min-width: 1200px) {
					font-size: 24px;
					margin-bottom: 6.48px;
				}
			}
		}

		.projets-text {
			font-family: Helvetica-light;
			font-size: 1.25vw;
			width: 59.3vw;
			margin: auto;
			margin-top: 1.09vw;
		}

		> div > img {
			width: 59.3vw;

			@media only screen and (max-width: 768px) {
				width: 90vw;
			}
		}
	}

	.carousel-item-image2 {
		margin: auto;
		top: 0;
		width: 60vw;
		padding: 1.35vw;
		/* padding-top: 0; */

		@media only screen and (max-width: 768px) {
			width: 100vw;
		}
	}

	.carousel-item-image2 > .slide-image {
		max-width: 60vw;
		object-fit: contain;
		height: auto;
	}

	.close {
		position: absolute;
		right: 1vw;
		top: 0.79vw;
		z-index: 2000;
	}

	#archivesModal {
		background-color: rgba(127, 127, 127, 0.5);
	}

	#modalLabel {
		margin: 0 auto;
	}

	@media only screen and (max-width: 768px) {
		h4 {
			width: 80vw;
			margin-top: 10vw;

			text-align: center !important;
		}

		#projets > p {
			font-family: Helvetica-Light;
			width: 90vw;
		}

		.group-image {
			width: 100vw;
			height: auto;
		}

		.proj-flex {
			flex-direction: column;
		}

		.container {
			flex-direction: column;
			height: auto;
			width: 70vw;
			padding: 0;
			text-align: center;
		}

		.group-text {
			text-align: center !important;
			width: 70vw;
			padding: 0;
		}

		.group-img {
			width: 70vw !important;
		}

		.slide-image {
			max-width: 70vw;
			margin: auto;
			text-align: center;
		}

		.carousel-item-image {
			margin-right: 0vw;
			padding-left: 0vw;
		}
	}

	@media only screen and (min-width: 1200px) {
		h2 {
			font-size: 36px;
		}

		#histoire,
		#equipe,
		#engagement,
		#projets,
		#archives {
			padding-top: 70.8px;
		}

		#histoire h3,
		#equipe h3,
		#engagement h3,
		#projets h3,
		#archives h3 {
			font-size: 16.8px;
		}

		#histoire h4,
		#equipe h4,
		#engagement h4,
		#projets h4,
		#archives h4 {
			font-size: 16.8px;
			line-height: 24px;
		}

		#histoire {
			h4 {
				margin-top: 32.9px;
				margin-bottom: 48px;
				width: 730px;
			}
		}

		.image-parag {
			width: 912px;
			div {
				p {
					padding-right: 48px;
					font-size: 19.2px;
					line-height: 28.8px;
				}

				img {
					width: 360px;
				}
			}
		}

		#equipe {
			width: 753.4px;
			margin-left: auto;
			margin-right: auto;
			div {
				div {
					width: 345.5px;
					font-size: 16.8px;
					h3 {
						margin-top: 9.6px;
						margin-bottom: 26.4px;
					  }
		
					h4 {
						margin-top: 26.4px;
						margin-bottom: 12px;
					}
		
					p {
						font-size: 13.2px;
						line-height: 19.2px;
					}
		
					img {
						margin-top: 48px;
						width: 346.8px;
					}

					.group-img {
						width: 344.4px !important;
					}
				}
			}
		}
	

		.staff {
			width: 753.4px;
			margin-top: 60px;
			div > div {
				margin-bottom: 24px;
				p {
				font-size: 13.2px;
				line-height: 15.6px;
				padding-left: 12px;
				padding-right: 12px;
				margin-bottom: 6px;
				width: 132px;
				}
				>img {
					max-width: 216px;
					max-height: 216px;
				}
			}
		}


		#impg2 {
			margin-top: 55.8px;
    		width: 927px;

			div > p {
			padding-left: 86px;
			font-size: 17px;
			line-height: 24.6px;
			}
		}

		.carousel-project {
			.projets-text {
				font-size: 15px;
				margin-top: 13.1px;
			}
		}

		#archives > div {
			width: 927px;
			div {
				height: 243px;
				width: 280px;
				span {
				font-size: 36px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.d-large {
		width: 1200px !important;
		margin-left: auto;
		margin-right: auto;
	}
}
