<nav id="side_nav" *ngIf="!isCollapsed">
    <div id="side_nav_links">
        <div>
            <span (click)="NavigateTo('products')">Les Produits</span>
            <a (click)="NavigateTo('products')">Chercher</a>
            <a (click)="NavigateTo('products')">Telecharger</a>
        </div>
        
        <div>
            <span (click)="NavigateTo('marques')">Les Marques</span>
            <a (click)="NavigateTo('marques', 'jnl')">JNL Collection</a>
            <a (click)="NavigateTo('marques', 'vanhamme')">Vanhamme</a>
            <a (click)="NavigateTo('marques', 'ungaro')">Emanuel Ungaro Home</a>
            <a (click)="NavigateTo('marques', 'luz')">Luz Interiors</a>
        </div>
        
        <div>
            <span (click)="NavigateTo('savoirFaire')">Le Savoir-Faire</span>
            <a (click)="NavigateTo('savoirFaire', 'atelier')">L'Atelier</a>
            <a (click)="NavigateTo('savoirFaire', 'fabrication')">La Fabrication</a>
        </div>

        <div>
            <span (click)="NavigateTo('services')">Les Services</span>
            <a (click)="NavigateTo('services', 'expertise')">L'Expertise</a>
            <a (click)="NavigateTo('services', 'surMesure')">Le Sur Mesure</a>
            <a (click)="NavigateTo('services', 'votreProjet')">Votre Projet</a>
        </div>

        <div>
            <span (click)="NavigateTo('jnlGroup')">Le Groupe</span>
            <a (click)="NavigateTo('jnlGroup', 'histoire')">L'Histoire</a>
            <a (click)="NavigateTo('jnlGroup', 'equipe')">L'Equipe</a>
            <a (click)="NavigateTo('jnlGroup', 'engagement')">L'Engagement</a>
            <a (click)="NavigateTo('jnlGroup', 'projets')">Les Projets</a>
            <a (click)="NavigateTo('jnlGroup', 'archives')">Les Archives</a>
            
        </div>
        
        <div>
            <span (click)="NavigateTo('press')">Presse</span>
            <a (click)="NavigateTo('press', 'banqueImages')">Banque Images</a>
            <a (click)="NavigateTo('press', 'catalogues')">Catalogues</a>
            <a (click)="NavigateTo('press', 'pressKit')">Press Kit</a>
            <a (click)="NavigateTo('press', 'parutions')">Parutions</a>
        </div>
        
        <div>
            <span (click)="NavigateTo('contact')">Contact</span>
        </div>
        <div>  
          <a href="https://www.instagram.com/jnl_design/" target="_blank"><img alt="JNL Collection Instagram" 
            src="assets/Images/Menu/MN_InstagramIcon_White.png" height="30vh"></a>&nbsp;&nbsp;
          <a href="https://www.facebook.com/JNLCollectionWorldwilde/" target="_blank"><img alt="JNL Collection Facebook" 
            src="assets/Images/Menu/MN_FacebookIcon_White.png" height="30vh"></a>
          <br>
        </div>
    

        <div id="side_bottom_line">
            <a (click)="NavigateTo('legal')">Mentions Legales</a>
            <a (click)="NavigateTo('gdpr')">Politique de Confidentialite</a><br>
            <a (click)="NavigateTo('credits')">Credits</a>
        </div>
    </div>

    <div id="menu-image-div">
        <img class="menu_image" alt="JNL Collection" src="assets/Images/Menu/MN_pic.jpg">
    </div>
</nav>