<nav id="side_nav">
    <div id="side_nav_links">
        <div>
            <span>Les Produits</span>
            <a>Chercher</a>
            <a>Telecharger</a>
        </div>
        
        <div>
            <span>Les Marques</span>
            <a>JNL Collection</a>
            <a>Vanhamme</a>
            <a>Emanuel Ungaro Home</a>
            <a>Luz Interiors</a>
        </div>
        
        <div>
            <span>Le Savoir-Faire</span>
            <a>L'Atelier</a>
            <a>La Fabrication</a>
        </div>

        <div>
             <span>Les Services</span>
            <a>L'Expertise</a>
            <a>Le Sur Mesure</a>
            <a>Votre Projet</a>
        </div>

        <div>
            <span>Le Groupe</span>
            <a>L'Histoire</a>
            <a>L'Equipe</a>
            <a>L'Engagement</a>
            <a>Les Archives</a>
            <a>Les references</a>
        </div>
        
        <div>
            <span>Presse</span>
            <a>Banque Images</a>
            <a>Catalogues</a>
            <a>Press Kit</a>
            <a>Parutions</a>
        </div>
        
        <div>
            <span>Contact</span>
        </div>
        <div>  
          <a href="https://www.facebook.com/JNLCollectionWorldwilde/"><img alt="JNL Collection Instagram" src="assets/Images/Common/InstagramIcon.png" height="30vh"></a>&nbsp;&nbsp;
          <a><img alt="JNL Collection Facebook" src="assets/Images/Common/FacebookIcon.png" height="30vh"></a>
            <br>
        </div>
    

        <div id="side_bottom_line">
            <a>Mentions Legales</a>
            <a>Politique de Confidentialite</a><br>
            <a>Credits</a>
        </div>
    </div>

    <div>
        <img alt="JNL Collection" width="40%">
    </div>
</nav>