<nav id="side_nav" [ngStyle]="{'margin-left': !isCollapsed ? '0vw' : '-43vw'}"
    (mouseleave)="hideMenu()">
    <div class="container-fluid">
        <img class="menu-close" src="/assets/Images/Menu/menuClose.png"
            (click)="hideMenu()" alt="menu close button">
    </div>
    <div id="side_nav_links" *ngIf="text">
        <div>
            <span (click)="NavigateTo('product/productSearch')">{{text.produits}}</span>
            <a (click)="NavigateTo('product/productSearch')">Product Finder</a>
            <!-- <a (click)="NavigateTo('product/productStore')">Ready To Sell</a> -->
        </div>

        <div>
            <span (click)="NavigateTo('marques')">{{text.marques}}</span>
            <a (click)="NavigateTo('marques', 'jnl')">JNL Collection</a>
            <a (click)="NavigateTo('marques', 'vanhamme')">Vanhamme</a>
            <a (click)="NavigateTo('marques', 'ungaro')">Emanuel Ungaro Home</a>
            <a (click)="NavigateTo('marques', 'studio')">JNL Studio</a>
            <!-- <span>{{text.marques}}</span>
            <a (click)="navigateToMarque('jnl')">JNL Collection</a>
            <a (click)="navigateToMarque('vanhamme')">Vanhamme</a>
            <a (click)="navigateToMarque('ungaro')">Emanuel Ungaro Home</a>
            <a (click)="navigateToMarque('studio')">JNL Studio</a> -->
        </div>

        <div>
            <span (click)="NavigateTo('savoirFaire')">{{text.savoir}}</span>
            <a (click)="NavigateTo('savoirFaire', 'atelier')">{{text.atelier}}</a>
            <a (click)="NavigateTo('savoirFaire', 'fabrication')">{{text.fabrication}}</a>
        </div>

        <div>
            <span (click)="NavigateTo('services')">{{text.services}}</span>
            <a (click)="NavigateTo('services', 'expertise')">{{text.expertise}}</a>
            <a (click)="NavigateTo('services', 'surMesure')">{{text.surmesure}}</a>
            <a (click)="NavigateTo('services', 'votreProjet')">{{text.votreprojet}}</a>
        </div>

        <div>
            <span (click)="NavigateTo('jnlGroup')">{{text.groupe}}</span>
            <a (click)="NavigateTo('jnlGroup', 'histoire')">{{text.histoire}}</a>
            <a (click)="NavigateTo('jnlGroup', 'equipe')">{{text.equipe}}</a>
            <a (click)="NavigateTo('jnlGroup', 'engagement')">{{text.engagement}}</a>
            <a (click)="NavigateTo('jnlGroup', 'projets')">{{text.projets}}</a>
            <a (click)="NavigateTo('jnlGroup', 'archives')">{{text.archives}}</a>

        </div>

        <div>
            <span (click)="NavigateTo('press')">{{text.presse}}</span>
            <a (click)="NavigateTo('press', 'catalogues')">{{text.catalogues}}</a>
            <a (click)="NavigateTo('press', 'banqueImages')">{{text.banque}}</a>
        </div>

        <div>
          <span (click)="NavigateTo('product/productStore')">{{text.buyNow}}</span>
          <a (click)="NavigateTo('product/productStore')">{{text.readyToShip}}</a>
        </div>

        <div *ngIf="isLoggedIn()">
          <span (click)="signOut()">Sign Out</span>
        </div>

        <div class="hide-mobile">
            <a href="https://www.instagram.com/jnl_design/" target="_blank" rel="noreferrer">
                <img alt="JNL Collection Instagram"
                src="assets/Images/Menu/MN_InstagramIcon_White.png"
                height="30vh" width="30vh">
            </a>&nbsp;&nbsp;
            <a href="https://www.facebook.com/JNLcollections/" target="_blank" rel="noreferrer">
                <img alt="JNL Collection Facebook"
                src="assets/Images/Menu/MN_FacebookIcon_White.png"
                height="30vh" width="30vh">
            </a>&nbsp;&nbsp;
            <a href="https://www.pinterest.com/jnl_design/" target="_blank" rel="noreferrer">
                <img alt="JNL Collection Pinterest"
                src="assets/Images/Menu/MN_PinterestIcon_White.png"
                height="30vh" width="30vh">
            </a>
            <br>
        </div>

        <div>
            <span (click)="NavigateTo('contact')">{{text.contact}}</span>
        </div>

        <!-- <div class="hide-mobile">
            <a (click)="NavigateTo('extras/legal')">{{text.mentions}}</a>
            <a (click)="NavigateTo('extras/gdpr')">{{text.politique}}</a><br>
            <a (click)="NavigateTo('extras/credits')">{{text.credits}}</a>
        </div> -->
    </div>
</nav>
