@keyframes slidein {
    0%   {margin-left:-100vw;}
    100% {margin-left:0vw;}
}

@-webkit-keyframes slidein {
    0%   {-webkit-margin-start:-100vw;}
    100% {-webkit-margin-start:0vw;}
}

@keyframes slideout {
    0%   {margin-left:0vw;}
    100% {margin-left:-100vw;}
}

@-webkit-keyframes slideout {
    0%   {-webkit-margin-start:0vw;}
    100% {-webkit-margin-start:-100vw;}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadein {
    0% {-webkit-opacity: 0;}
    100% {-webkit-opacity: 1;}
}

.menu_image {
    height: 40vw;
    margin: auto;
}

.menu-in {
    animation-name: slidein;
    -webkit-animation-name: slidein;
    transition: slidein .8s;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
}

.menu-out {
    animation-name: slideout;
    -webkit-animation-name: slideout;
    transition: slideout .8s;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
}

#side_nav {
    transition: .8s;
    width: 100%;
    height: 100%; /*calc(100% + 60px);*/
    margin-left: -100vw;

    /* margin-top: -60px; */
    padding-bottom: 1vw;
    position: fixed;

    background-color: #121A2D;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    font-family: Atak-Regular;

    overflow-y: scroll;

    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none; 
}
#side_nav::-webkit-scrollbar { 
    display: none; 
}

/* #side_nav:hover {
    margin-left: 0;
    transition: 0.5s;
} */

#side_nav_links {
    margin: auto;
    margin-left: 0px;
    margin-top: 100px;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 50vw;
}

#side_nav_links > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-bottom: 2.22vw;
}

#side_nav_links > div:nth-child(7) {
    margin-bottom: 5.55vw;
}

#side_nav_links > div > a {
    margin-right: 1.38vw;;
    transition: all .5s ease;
    font-size: 1.3vw;
}

#side_nav_links > div > span {
    flex: 0 0 100%;
    line-height: 1em;
    transition: all .5s ease;
}

#side_nav_links > div > span:hover {
    color: #DBBB76;
    transition: all .3s ease;
}

#side_nav_links > div > a:hover {
    color: #DBBB76;
    transition: all .3s ease;
}

#side_nav_links > div > span, #side_bottom_line > a {
    text-transform: uppercase;
    font-family: PlacardMT-Condensed;
    color: #C1C1C1;
    font-size: 3.5vw;
}

#side_bottom_line > a {
    font-family: Atak-Regular;
    font-size: 1.1vw;
}

#menu-image-div {
    display: flex;
    width: 50vw;
}

#side_nav > span {
    text-align: left;
}

a:focus, img:focus {
    outline: none;
}

@media only screen and (max-width: 768px)
{
    #menu-image-div {
        display: none;
    }

    #side_nav_links > div {
        flex-direction: column;
    }

    #side_nav_links > div > span {
        font-size: 7.2vw;
    }

    #side_nav_links {
        width: 100vw;
    }

    #side_nav_links > div > a {
        margin: 0px;
        font-size: 3.5vw;
    }
}