@keyframes slidein {
  0%   {margin-left:-100vw;}
  1%   {margin-left:-34vw;}
  100% {margin-left:0vw;}
}

@-webkit-keyframes slidein {
  0%   {-webkit-margin-start:-100vw;}
  1%   {-webkit-margin-start:-34vw;}
  100% {-webkit-margin-start:0vw;}
}

@keyframes slideout {
  0%   {margin-left:0vw;}
  99% {margin-left:-34vw;}
  100% {margin-left:-100vw;}
}

@-webkit-keyframes slideout {
  0%   {-webkit-margin-start:0vw;}
  99% {-webkit-margin-start:-34vw;}
  100% {-webkit-margin-start:-100vw;}
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadein {
  0% {-webkit-opacity: 0;}
  100% {-webkit-opacity: 1;}
}

.menu-close {
	float: right;
	padding-top: 1.3vw;
	width: 2vw;
	height: auto;
  object-fit: contain;
  @media only screen and (max-width: 768px) {
    padding-top: 9.4px;
    width: 22px;
  }
}

.menu_image {
	height: 40vw;
	margin: auto;
}

.menu-in {
	animation-name: slidein;
	-webkit-animation-name: slidein;
	transition: slidein 0.8s;
	animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;

  @media only screen and (max-width: 768px) {
    transition: slidein 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
  }
}

.menu-out {
	animation-name: slideout;
	-webkit-animation-name: slideout;
	transition: slideout 1.8s;
	animation-duration: 1.8s;
	-webkit-animation-duration: 1.8s;
}

#side_nav {
  position: fixed;
  margin-left: -34vw;
	padding-bottom: 1vw;
  display: flex;
  flex-direction: column;
	justify-content: flex-start;
  width: 34vw;
  max-width: 450px;
	height: 100%;
  font-family: Helvetica;
	text-align: center;
	align-content: center;
	overflow-y: scroll;
  -ms-overflow-style: none;
  color: #c1c1c1;
  background-color: #121a2d;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  transition: 1.4s;

  @media only screen and (max-width: 768px) {
    display: block;
    margin-left: 0;
    width:43vw;
    text-align: left;
    transition: .5s;
  }

	&::-webkit-scrollbar {
		display: none;
  }

  > span {
    text-align: left;
  }
}

#side_nav_links {
  display: flex;
  flex-direction: column;
	margin: 50px auto auto 0;
	width: 100%;
	cursor: pointer;

  @media only screen and (max-width:768px) {
    margin: 100px auto auto 0;
		display: flex;
		justify-content: left;
    height: 80vh;
  }

	> div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		margin: auto;
    margin-bottom: 2.22vw;

    @media only screen and (max-width:768px) {
      margin: 0 2vw 0 2vw;
      padding: 3vh 0 3vh 1vw;
      vertical-align: middle;
      border-bottom: .5px solid #33497e;
    }

		&:nth-child(7) {
			margin-bottom: 5.55vw;
		}

		> a {
			font-family: Helvetica-light;
			margin-right: 1.38vw;
			transition: all 0.5s ease;
      font-size: 1.15vw;

      @media only screen and (max-width: 768px) {
        display: none;
      }

			&:hover {
				color: #dbbb76;
				transition: all 0.3s ease;
			}

			&:last-child{
				margin-right: 0;
			}
		}

		> span {
      flex: 0 0 100%;
			font-family: Helvetica;
      font-size: 1.6vw;
      line-height: 1.94vw;
      font-family: Helvetica;
      text-transform: uppercase;
      color: #c1c1c1;

      transition: all 0.5s ease;

      @media only screen and (max-width: 768px) {
        font-size: 18px;
      }

			&:hover {
				color: #dbbb76;
				transition: all 0.3s ease;
			}
		}
	}
}

a:focus,
img:focus {
	outline: none;
}

@media only screen and (min-width: 1200px) {
	#side_nav_links > div {
    > span {
      font-size: 19.2px;
    }

    > a {
      margin-right: 16.6px;
      font-size: 13.8px;
    }
  }
}
