<div id="first_picture" class="main_divs">
  <!--<div>
    
    <img alt="JNL Collection" src="assets\Images\Common\JNLLogo_white.png">
    <p><a>&#709;</a></p>
  </div>-->
</div>

<div id="une_histoire"  class="main_divs">
  <div>
    <h1>UNE HISTOIRE DE CRÉATION</h1>
    <p>Au cœur de ses propres ateliers européens, le groupe JNL a insufflé
          un vent d’exclusivité sur son processus de fabrication grâce à son talent
          pour le sur-mesure. Qu’ils soient garnisseurs, ébénistes, sculpteurs,
          ferronniers ou techniciens, ses artisans perpétuent un art ancestral qui
          confère un cachet unique à chacune des créations.<br><br>
    <a class="home_links">DÉCOUVRIR LE GROUPE </a></p>
  </div>
</div>

<div id="les_marques" class="main_divs">
  <a class="gallery_buttons">
    <div><img alt="JNL Collection" src="assets\Images\Common\arrow_left.png"></div>
  </a>

  <div id="marques_main">
      <h1>LES MARQUES</h1>

      <div id="marques_list">
        <a>JNL COLLECTION</a>
        <a>VANHAMME</a>
        <a>EMMANUEL UNGARO HOME</a>
        <a>LUZ INTERIORS</a>
      </div>

      <div id="marques_show">
        <p><img class="marques_img" src="/assets/Images/Home/HM_chaise.png"></p>
        <p>
            Jeux de motifs, matières précieuses,
            finitions délicates…<br>
            Ungaro Home dévoile sans détours
            les codes d’une opulence
            contemporaine au chic imparable.<br><br>
          <a class="home_links">DÉCOUVRIR L’UNIVERS </a>
        </p>
      </div>
  </div>

  <a class="gallery_buttons">
    <div><img alt="JNL Collection" src="assets\Images\Common\arrow_right.png"></div>
  </a>
</div>

<div id="actualites"  class="main_divs">
  <h1>ACTUALITÉS</h1>
  <hr>
  <div>
    <p>
      <span>Maison&Objet 2019</span><br>

      <img alt="JNL Collection" class="actualites_img" src="/assets/Images/Home/HM_pic1.png"><br><br>

      Lorem ipsum dolor sit amet, consectetuer
      adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut
      laoreet dolore magna aliquam erat
      volutpat. Ut wisi enim ad minim
      veniam, quis nostrud exerci tation
      ullamcorper suscipit.<br><br>
      
      <a class="more_links">+ LIRE LA SUITE</a>
    </p>

    <p>
        <span>Lampe Sylvie</span><br>
  
      <img alt="JNL Collection" class="actualites_img" src="/assets/Images/Home/HM_pic2.png"><br><br>
      Dolore magna aliquam erat volutpat.
      Ut wisi enim ad minim veniam, quis
      nostrud exerci tation ullamcorper
      suscipit lobortis nisl ut aliquip ex ea
      commodo conse.
    </p>

    <p>
        <span>Partenariat</span><br>
  
      <img alt="JNL Collection" class="actualites_img" src="/assets/Images/Home/HM_pic3.png"><br><br>
      Aliquam ipsum dolor sit amet,
      consectetuer adipiscing elit, sed
      diam nonummy nibh euismod tincidunt
      ut laoreet dolore magna aliquam
      erat volutpat. Ullamcorper
      suscipit lobortis nisl ut aliquip ex ea
      com Ut wisi enim ad minim veniam,
      quis nostrud exerci tation .<br><br>
      <a class="more_links">+ LIRE LA SUITE</a>
    </p>

    <p>
        <span>Hôtel Panache</span><br>
  
      <img alt="JNL Collection" class="actualites_img" src="/assets/Images/Home/HM_pic4.png"><br><br>
      Dolore magna aliquam erat volutpat.
      Ut wisi enim ad minim veniam, quis
      nostrud exerci tation ullamcorper
      suscipit lobortis nisl ut aliquip ex ea
      commodo conse.<br><br>
       <a class="more_links">+ LIRE LA SUITE</a>
     </p>
  </div>
  
  <hr>

  <div id="actualites_arrows">
    <a>
      <img alt="JNL Collection" src="assets\Images\Common\arrow_left.png"></a>
    <a>
      <img alt="JNL Collection" src="assets\Images\Common\arrow_right.png"></a>
  </div>
</div>

<div id="savoir">
  <div>
   <h1>LE SAVOIR FAIRE</h1>
   <a class="home_links">DÉCOUVRIR LES ATELIERS</a>
  </div>
</div>

<div id="projets">
    <a class="gallery_buttons">
        <div><img alt="JNL Collection" src="assets\Images\Common\arrow_left.png"></div>
      </a>
    <div>
     <h1>LES PROJETS</h1>
     <h2>PARIS</h2>
     <div>
        <div>
          <h2>Le Peninsula Hotel</h2>

          <img alt="JNL Collection" src="assets\Images\Home\HM_projet.jpg"><br>
          
          <h3>Ut wisi enim ad minim veniam, quis nostrud exerci ullamcorper
              velit delenit augue duis dolore te feugait nulla facilisi.</h3>
          </div>
      </div>
  </div>
  <a class="gallery_buttons">
      <div><img alt="JNL Collection" src="assets\Images\Common\arrow_right.png"></div>
    </a>
</div>