h1
{
    font-family: PlacardMT-Condensed;
    font-size: 4em;

}
.home_links
{
    border: 1.5px solid #DBBB76;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;

    font-size: 1em;
    
}
.gallery_buttons
{
    height: 100vh;
    width: 10vw;
    display: flex;
}
.gallery_buttons > div
{
    margin: auto;

    font-size: 5em;
    font-family: Atak-Regular;
}
.gallery_buttons > div > img
{
    width: 2vw;
}
.main_divs
{
    text-align: center;

    font-family: Atak-Light;

}
.marques_selected
{
    text-decoration: underline !important;
}
hr
{
    border: 0.5px solid #DBBB76;
}



#first_picture
{
    width: 100vw;
    height: 100vh;

    background-image: url("/assets/Images/Home/HM_main.png");
    background-size: cover;

    display: flex;
}
#first_picture > div
{
    margin: auto;
}
#first_picture > div > img
{

    height: 20vh;
}
#first_picture > div > p
{
    text-align: center;
    font-size: 5em;

    color: white;
}


#une_histoire
{
    width: 100vw;
    height: 558px;

    background-color: white;

    display: flex;
}
#une_histoire > div
{
    margin: auto;
    padding-left: 245px;
    padding-right: 245px;

    text-align: center;
}
#une_histoire > div > p
{
    font-size: 1.6em;
    line-height: 1.24em;
}
#une_histoire > div > p > a
{
    font-size: 0.6em;
}


#les_marques
{
    width: 100vw;
    height: 724px;

    background-color: #D3D3D3;
    color: black;

    display: flex;
    flex-direction: row;
}
#marques_main
{
    display: flex;
    flex-direction: column;
}
#marques_main > h1
{
    margin: auto;
}
#marques_list
{
    margin: auto;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
#marques_list > a
{
    margin: auto;

    font-size: 1.5em;
}
#marques_list > a:hover
{
    text-decoration: underline;
}
#marques_show
{
    margin: auto;

    display: flex;
    flex-direction: row;

    padding-left: 245px;
    padding-right: 245px;
}
#marques_show > p
{
    width: 60%;
    margin: auto;

    text-align: left;
    font-size: 1.2em;
}
.marques_img
{
    height: 60vh;

    float: left;
}

#actualites
{
    padding-top: 120px; 
    padding-left: 50px; 
    padding-right: 50px; 
}
#actualites > div
{
    display: flex;
    flex-direction: row;
}
#actualites > div > p
{
    width: 20vw;

    margin: auto;
    margin-top: 0px;

    text-align: left;
    text-justify: justify;

    font-family: Atak-Regular;
}
.actualites_img
{
    width: 100%;
}
.more_links
{
    font-family: Atak-Bold;
}
#actualites > div > p >span {
    font-size: 1.5em;
}
#actualites_arrows
{
    display: flex;
    justify-content: space-between;
}
#actualites_arrows > a
{
    margin: auto;
    font-size: 5em;
    line-height: 1em;
    font-family: Atak-Regular;
}
#actualites_arrows > a:nth-child(1)
{   
    margin-left: 0px;
}
#actualites_arrows > a:nth-child(2)
{   
    margin-right: 0px;
}
#actualites_arrows > a > img
{
    width: 2vw;
}

#savoir
{
    margin: 55px;

    height: 805px;
    display: flex;
}
#savoir > div
{
    margin: auto;
    width: 1255px;
    height: 100%;
    background-image: url("/assets/Images/Home/HM_video.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
}
#savoir > div > h1
{
    margin: auto;
    margin-bottom: 0px;
    color: white;
}
#savoir > div > a
{
    margin: auto;
    margin-top: 40px;
    color: white;
}

#projets
{
    margin-bottom: 200px;
    width: 100%;

    text-align: center;

    display: flex;
}
#projets > div
{
    margin: auto;
}
#projets > div > div > div
{
    display: flex;
    flex-direction: column;

    text-align: center;
}
#projets > div > div > div > img
{
    margin: auto;
    width: 855px;
}
#projets > div > div > div > h2
{
    margin: auto;
    width: 855px;
}
 h3
{
    margin: auto;
    width: 780px;
    font-size: 26px;

    font-family: Atak-Medium;
}
#projets > .gallery_buttons
{
    text-align: right;
}