@keyframes zoomIn {
	from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}

.home-first-picture {
	max-width: 100%;
	width: auto;
	height: 100vh;
	background-image: url("/assets/Images/Home/HM_main.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	opacity: 0;

	.wrapper-img {
		margin: auto;
		margin-top: 43.5vh;

		img {
			max-width: 56vw;
			height: auto;
			width: 13vw;
			// mix-blend-mode: multiply;
			margin-right: 1.9vw;

			@media only screen and (max-width: 768px) {
        width: 25vw;
        margin-top: 5vw;
			}

			&.animated {
				animation-duration: 3s;
				animation-fill-mode: both;
				animation-delay: 0.4s;
			}

			&.zoomIn {
				-webkit-animation-name: zoomIn;
				animation-name: zoomIn;
			}
		}
	}

	a.go_down {
		> img {
			object-fit: contain;
			bottom: 0;
			margin-top: auto;
			padding-bottom: 1vw;
			text-align: center;
			max-width: 15vw;
			height: auto;
			min-width: 30px;
			width: 3.2vw;

			@media only screen and (max-width: 768px) {
				margin-bottom: 10px;
			}
		}
  }

  @media only screen and (max-width: 768px) {
    height: calc(100vh - 40px);
  }
}

.main-divs {
	text-align: center;
	font-family: Helvetica;
}


.home-wrapper {
	hr {
		border: 0.5px solid #dbbb76;
		margin: auto;
		margin-top: 1.11vw;
		margin-bottom: 1.11vw;
		width: 87.13vw;
	}

	.carousel-arrows {
		height: 2vw;
		width: 1vw;
    	margin-top: 3vw;

    @media only screen and (max-width: 768px) {
      margin-top: 0;
      margin-bottom: 15vw;
    }
	}

	.carousel-arrows-projets {
		height: 2vw;
		width: 1vw;
		margin-top: -11vw;
	}

	.carousel-marques {
		width: 100%;
		height: 40vw;
		padding-top: 1.15vw;

		.carousel-item {
			transition-duration: 1.5s, 1.5s;
		}

		.carousel-item-content {
			width: 80%;
		}

		.carousel-item-image {
			float: left;
		}

		.slide-image {
			width: 34vw;
			height: auto;
			max-height: 31vw;
			object-fit: contain;
		}

		.slide-image-projects {
			width: 59vw;
			height: auto;
			object-fit: contain;
		}

		.carousel-indicators {
			margin: auto;
			width: 72.2vw;
			min-height: 5vw;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;

			@media only screen and (max-width: 768px) {
				display: none;
			}

			> li {
				color: black !important;
				height: 0;
				width: auto;
				text-indent: 0;
				margin-left: 0;
				margin-right: 0;

				> img {
					margin: auto;
					height: auto;
					width: 13vw;
					left: 0;
					transition: all 0.5s ease;

					&:hover {
						transition: all 0.5s ease;
						color: black;
					}
				}

				> span {
					color: black !important;
					margin: auto;
					font-size: 1.8vw;
					line-height: 2vw;
					left: 0;
					text-transform: uppercase;
					transition: all 0.5s ease;

					&:hover {
						transition: all 0.5s ease;
						color: black;
					}
				}
			}

			.active > span {
				color: black;
				border-bottom: 1px solid black;
			}
		}
	}

	.marque-text {
		padding-top: 6vw;
		margin: auto;
		text-align: left;
		font-size: 1.5vw;
		// line-height: 24px;

		@media only screen and (max-width: 768px) {
			padding-top: 0;
			width: 100% !important;
      text-align: center;
      font-size: 10px;
		}

		> p {
			font-family: Helvetica-Light;
		}
	}

	.carousel-project {
		display: flex;
		flex-direction: column;
		text-align: center;
		height: auto;

		> h2 {
			font-family: Helvetica-Light;

			&.project-city {
				text-transform: uppercase;
				font-size: 1.1vw;
				margin-top: 0;

				@media only screen and (max-width: 768px) {
					font-size: 13px;
				}
			}

			&.project-name {
				font-size: 2vw;
				width: 59.3vw;
				margin: auto;
				margin-bottom: .54vw;

				@media only screen and (max-width: 768px) {
					font-size: 18px;
				}
			}
		}

		.projets-text {
			font-family: Helvetica-light;
			font-size: 1.25vw;
			width: 59.3vw;
			margin: auto;
      margin-top: 1.09vw;

      @media only screen and (max-width: 768px) {
        font-size: 11px;
        line-height: 16px;
			}
		}

		> div > img {
			width: 59.3vw;

			@media only screen and (max-width: 768px) {
				width: 90vw;
			}
		}
	}

	#une_histoire {
		width: 100%;
		height: auto;
		min-height: 39vw;
		background-color: white;
    	display: flex;

    > div {
      margin: auto;
      margin-top: 9.12vw;
      margin-bottom: 8.12vw;
      width: 60.8vw;
      text-align: center;

      > p {
        font-size: 1.6vw;
        line-height: 2vw;
        margin-bottom: 3.68vw;
        font-family: Helvetica-Light;

        @media only screen and (max-width: 768px) {
          font-size: 11px;
          line-height: 16px;
        }
      }
    }
	}

	#les_marques {
		width: 100%;
		height: auto;
		background-color: #f3f5f5;
		color: black;
		display: flex;
		flex-direction: row;
	}

	#marques_main {
		margin: auto;
		margin-top: 1.92vw;
		margin-bottom: 1.92vw;
		display: flex;
		flex-direction: column;
    width: 100%;

    > h1 {
      margin: auto;
      margin-top: 1.2vw;
    }
	}

	#marques_show {
		margin: auto;
		display: flex;
    flex-direction: row;

    > p {
      width: 60%;
      margin: auto;
      text-align: left;
      font-size: 1.5vw;
    }
	}

	.container > .carousel-item-image > .slide-image {
		margin-top: 3vw;
	}

	#actualites {
		padding-top: 8vw;
		padding-left: 3.88vw;
    padding-right: 3.88vw;

    > div {
      display: flex;
      flex-direction: row;

      p {
        width: 25.4vw;
        margin: auto;
        margin-bottom: 0;
        text-align: left;
        text-justify: justify;
        font-family: Helvetica-Light;

        > span {
          font-size: 1.66vw;
          margin-bottom: 0.98vw;
          display: block;
        }
      }
    }
  }

	.actualites_img {
		width: 25.4vw;
		height: 33.33vw;
		object-fit: cover;
	}

	.more-links {
		font-family: Helvetica-Light;
		font-style: italic;
		text-transform: uppercase;
		font-size: 1vw;
		margin-top: 1.45vw;
		margin-bottom: 0.25vw;
		display: block;
	}

	#savoir {
		margin: auto;
		margin-top: 10.08vw;
		width: 87vw;
		height: 49vw;
		display: flex;
		color: white;

		@media only screen and (max-width: 768px) {
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 30px;
			width: 100%;
			height: auto;
			min-height: 200px;
			display: flex;
		}

		> div {
			@media only screen and (max-width: 768px) {
				margin: auto;
				width: 100% !important;
			}

			> h1 {
				margin: auto;
				margin-bottom: 0;
				color: white;
			}

			> button {
				margin: auto;
				margin-top: 40px;
				// color: white;
				// border-color: white;
			}

			/*NO VIDEO*/
			&:first-child {
				margin: auto;
				width: 87vw;
				height: 49vw;
				/*
				background-image: url("/assets/Images/Home/HM_video.png");
				background-size: cover;
				background-position: center center;*/
				display: flex;
				flex-direction: column;
			}

			&:last-child {
				position: absolute;
				display: flex;
				flex-direction: column;
				width: 87vw;
				height: 49vw;
				margin: auto;

				@media only screen and (max-width: 768px) {
					margin-top: 5%;
					margin-bottom: 0;
				}

				> div {
					margin: auto;
				}
			}
		}

	}

	video {
		width: 87vw;
		height: 49vw;
		margin: auto;
	}

	#projets {
		width: 100%;
		text-align: center;
		margin-top: 7.12vw;
    margin-bottom: 8vw;

    > div {
      margin: auto;
      margin-bottom: 2.08vw;

      > div {
        > div {
          > img {
            margin: auto;
            height: 35vw;
          }

          > h2 {
		margin: auto;
		width: 55.5vw;
	}
        }
      }
    }
	}

	#carousel-projets {
		width: 73.8vw;
		height: auto;
		margin: auto;
    margin-bottom: 5vw;

    > a {
      width: 3.1vw;
      min-width: 20px;
      padding-top: 20%;
    }
	}

	.container {
		display: flex;
		align-content: space-around;
    max-width: 75vw;

    div {
      width: 50%;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
	}

	@media only screen and (max-width: 768px) {
		h4 {
			font-size: 3.2vw;
		}

		#une_histoire {
			height: 100% !important;
      padding: 0;

      > div {
        margin: auto;
        text-align: center;

        > p {
          > a {
            font-size: 3.3vw;
          }
        }
      }
		}

		#les_marques {
			width: 100vw;
			height: auto;
			padding: 10px;
			background-color: #d3d3d3;
			color: black;
			display: flex;
			flex-direction: row;
		}

		#marques_main {
			display: flex;
      flex-direction: column;

      > h1 {
        margin: 0;
        margin-top: 10px;
      }
		}

		#marques_show {
			margin: 0;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			padding-left: 0 !important;
      padding-right: 0 !important;

      > p {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 5.3vw;

        > a {
          width: fit-content;
          margin: auto;
        }
      }
		}

		.marques_img {
			margin: auto;
			height: 40vw;
		}

		#actualites {
      padding-top: 8.33vw;

      div {
        display: block;

        p {
          display: none;

          &:first-child {
            display: block;
            width: 100%;
            text-align: center;
          }

          > span {
            font-size: 11px;
          }
        }
      }
		}

		#actualites_arrows {
      display: none;

      > a {
        display: none;
      }
		}

		.actualites_img {
			width: 87.13vw;
		}

		.more-links {
			font-size: 12px;
		}

		#projets {
			margin-bottom: 4vw;
			width: 100vw;
			height: auto;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-content: space-between;
      padding-top: 30px;

      h3 {
        margin: 0;
        text-align: center;
        width: auto;
        font-size: 5.3vw;
        font-family: Helvetica-light;
      }

      > div {
        width: 100%;

        > div {
          > div {
            width: 100vw;

            > img {
              margin: auto;
              width: 100vw;
              height: auto;
              text-align: center;
            }

            > h2 {
              margin: auto;
              width: 100vw;
            }
          }
        }
      }
		}

		.container {
			width: 100%;
			display: flex;
      flex-direction: column;
		}

		.carousel-marques {
			height: auto;
		}

		#une_histoire {
			padding: 7.8vw;
			padding-top: 15.5vw;
      padding-bottom: 15.5vw;

      > div {
        padding: 0;
        width: 77.7vw;
      }
		}

		.slide-image {
			width: 58.9vw;
		}

		video {
			width: 100%;
			height: auto;
		}
	}

	@media only screen and (min-width: 1200px) {
		.d-large {
			width: 1200px !important;
			margin-left: auto;
			margin-right: auto;
		}

		hr {
			margin: 13.3px auto;
			width: 1045px;
		}

		#une_histoire {
			min-height: 468px;
		}

		#une_histoire > div {
			margin: auto;
			width: 730px;
		}

		#une_histoire > div > h1 {
			font-size: 36px;
			line-height: 49.2px;
			margin-bottom: 13.2px;
		}

		#une_histoire > div > p {
			font-size: 19px;
			line-height: 24px;
		}

		.marque-text {
			font-size: 18px;
		}

		#actualites {
			padding-top: 96px;
			padding-left: 46.6px;
      padding-right: 46.6px;

      > div {
        > p {
          width: 305px;

          > span {
            font-size: 20px;
            margin-bottom: 12px;
            display: block;
          }
        }
      }
		}

		.actualites_img {
			width: 305px;
			height: 400px;
		}

		.more-links {
			font-size: 12px;
		}

		#savoir {
			margin-top: 130px;
			width: 1044px;
			height: 588px;
			div {
				&:first-child {
					width: 1044px;
					height: 588px;
				}
				&:last-child {
					width: 1044px;
					height: 588px;
					margin: auto !important;
				}
			}
			video {
				width: 1044px;
				height: 588px;
			}
		}

		#projets {
			margin-top: 85.5px;
			margin-bottom: 96px;
		}

		#projets > div {
			margin-bottom: 25px;
		}

		#projets > div > div > div > img {
			height: 420px;
		}

		#projets > div > div > div > h2 {
			width: 666px;
		}

		#carousel-projets {
			width: 885.6px;
			margin-bottom: 60px;
		}

		#carousel-projets > a {
			width: 37.2px;
			min-width: 20px;
			padding-top: 20%;
		}

		.carousel-arrows-projets {
			height: 24px;
			width: 12px;
			margin-top: -132px;
		}

		.carousel-project {
			> div > img {
				width: 712px;
			}

			> h2 {
				&.project-city {
					font-size: 13.2px;
				}

				&.project-name {
					font-size: 24px;
					width: 712px;
					margin-bottom: 6.5px;
				}
			}

			.projets-text {
				font-size: 15px !important;
				margin-top: 13.1px;
				width: 712px;
			}
		}

		.slide-image-projects {
			width: 708px;
		}
	}
}
