h1 {
    font-family: PlacardMT-Condensed;
    font-size: 5.03vw; /* 4em; */
}

h3 {
    margin: auto;
    width: 54vw;
    font-size: 26px;

    font-family: Atak-Medium;
}

hr {
    border: 0.5px solid #DBBB76;
}

.home_links {
    border: 1.5px solid #DBBB76;
    padding: .38vw; /*0.3em;*/
    padding-left: 1.25vw; /*1em;*/
    padding-right: 1.25vw; /*1em;*/

    font-size: 1.25vw;
    text-transform: uppercase;
}

.gallery_buttons {
    height: 100%;
    width: 10vw;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.gallery_buttons > div {
    margin: auto;

    font-size: 5em;
    font-family: Atak-Regular;
}

.gallery_buttons > div > img {
    width: 2vw;
}

.main_divs {
    text-align: center;
    font-family: Atak-Light;
}

.marques_selected {
    text-decoration: underline !important;
}

.carousel-marques {
    width: 100%;
    height: 37.78vw; /*60vh;*/
    padding-top: 3.15vw; /*5vh;*/
}

.carousel-arrows {
    height: 4vw;
    width: 2vw;
    margin-top: -11vw;
}

.carousel-item-content {
    width: 80%;
}

.carousel-item-image {
    float: left;
    margin-right: 1vw;
    padding-left: 4vw;
}

.slide-image {
    width: 34vw;
    height: auto;
    /* border: solid 1px #000; */
}

/* .marques_img {
    height: 50vh;
    float: left;
} */

.carousel-indicators {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    flex-wrap: wrap;

    position: relative;
}

.carousel-indicators > li {
    height: 0;
    width: auto;
    text-transform: uppercase;
    text-indent: 0;
    font-size: 1.88vw;
}

.carousel-indicators > span {
    color: #555;
}

.carousel-indicators .active > span{
    text-decoration: underline;
    color: #555;
}

.marque-text
 {
     /* width: 80%; */
     padding-top: 6vw;
     margin: auto;
     text-align: left;
     font-size: 1.5vw;
 }
/* :host >>> .carousel-control-prev-icon {
    background-image: url("/assets/Images/Common/arrow_left.png");
    height: 4vw;
    width: 2vw;
    min-width: 20px;
} */

/* :host >>> .carousel-control-next-icon {
    background-image: url("/assets/Images/Common/arrow_right.png");
    height: 4vw;
    width: 2vw;
    min-width: 20px;
} */

/* :host >>> .carousel-indicators li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    margin: 1px;
  } */

#first_picture {
    max-width: 100vw;
    width: auto;
    height: 100vh;

    background-image: url("/assets/Images/Home/HM_main.jpg");
    background-size: cover;
    background-position: center center;

    display: flex;
}

#first_picture > div {
    margin: auto;
}

#first_picture > div > img {
    max-height: 13vh;
    max-width: 56vw;
    height: auto;
    width: auto;
}

#first_picture > div > p {
    text-align: center;
    font-size: 5em;
}

#first_picture > div > p > a> img {
    max-height: 13vh;
    max-width: 13vw;
    height: auto;
    width: auto;
}

#une_histoire
{
    width: 100vw;
    height: auto; /*39vw;*/
    /* min-height: 558px; */
    min-height: 39vw;

    background-color: white;

    display: flex;

    /* start after fixed navbar */
    margin-top: -60px;
    padding-top: 60px;
}

#une_histoire > div {
    margin: auto;
    padding-left: 17vw;
    padding-right: 17vw;

    text-align: center;
}

#une_histoire > div > p {
    font-size: 2.01vw; /* 1.6em;*/
    line-height: 1.24em;
}

#une_histoire > div > p > a {
    font-size: 1.25vw; /*0.6em;*/
}

#les_marques {
    width: 100vw;
    height: auto; /*50vw;*/
    /*min-height: 40vw; 724px;*/
    max-height: 50vw;

    background-color: #D3D3D3;
    color: black;

    display: flex;
    flex-direction: row;
}

#marques_main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#marques_main > h1 {
    margin: auto;
    margin-top: 1.2vw;
}

/* #marques_list {
    margin: auto;
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
} */

#marques_show {
    margin: auto;

    display: flex;
    flex-direction: row;

    /*padding-left: 245px;
    padding-right: 245px;*/
}

#marques_show > p {
    width: 60%;
    margin: auto;

    text-align: left;
    font-size: 1.5vw; /*1.2em;*/
}

#actualites {
    padding-top: 120px; 
    padding-left: 50px; 
    padding-right: 50px; 
}

#actualites > div {
    display: flex;
    flex-direction: row;
}

#actualites > div > p {
    width: 20vw;

    margin: auto;
    margin-top: 0px;

    text-align: left;
    text-justify: justify;

    font-family: Atak-Regular;
}

.actualites_img {
    width: 100%;
}

.more_links {
    font-family: Atak-Bold;
}

#actualites > div > p >span {
    font-size: 1.5em;
}

#actualites_arrows {
    display: flex;
    justify-content: space-between;
}

#actualites_arrows > a {
    margin: auto;
    font-size: 5em;
    line-height: 1em;
    font-family: Atak-Regular;
}

#actualites_arrows > a:nth-child(1){
    margin-left: 0px;
}

#actualites_arrows > a:nth-child(2) {
    margin-right: 0px;
}

#actualites_arrows > a > img {
    width: 2vw;
}

#savoir {
    margin: 55px;
    height: 55vw;
    min-height: 805px;
    display: flex;
}

#savoir > div {
    margin: auto;
    width: 87vw;
    /*width: 1255px;*/

    height: 48.5vw;
    background-image: url("/assets/Images/Home/HM_video.png");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
}

#savoir > div > h1 {
    margin: auto;
    margin-bottom: 0px;
    color: white;
}

#savoir > div > a {
    margin: auto;
    margin-top: 40px;
    color: white;
}

#projets {
    margin-bottom: 14vw;
    width: 100%;

    text-align: center;

    display: flex;
}

#projets > div {
    margin: auto;
}

#projets > div > div > div {
    display: flex;
    flex-direction: column;

    text-align: center;
}

#projets > div > div > div > img {
    margin: auto;
    height: 35vw;
}

#projets > div > div > div > h2 {
    margin: auto;
    width: 55.5vw;
}


#projets > .gallery_buttons
{
    text-align: right;
}


@media only screen and (max-width: 800px){

    .gallery_buttons > div {
        padding: 1vw;
    }

    .gallery_buttons > div > img {
        width: 2vw;
        min-width: 20px;
    }



    #une_histoire {
        height: 100% !important;
        padding: 0px;
    }

    #une_histoire > div {
        margin: auto;

        text-align: center;
    }

    #une_histoire > div > p {
        font-size: 1.2em;
        line-height: 1.24em;
    }

    #une_histoire > div > p > a {
        font-size: 0.8em;
    }

    #les_marques {
        width: 100vw;
        padding: 10px;
        height: auto;

        background-color: #D3D3D3;
        color: black;

        display: flex;
        flex-direction: row;
    }

    #marques_main {
        display: flex;
        flex-direction: column;
    }

    #marques_main > h1 {
        margin: 0;
        margin-top: 10px;
    }

    #marques_show {
        margin: 0px;

        flex-direction: column;
        align-content: center;
        justify-content: center;

        padding-left: 0px !important;
        padding-right: 0px  !important;
    }

    #marques_show > p {
        width: 100%;
        margin: auto;

        display: flex;
        flex-direction: column;

        text-align: center;
        font-size: 1.2em;
    }


    #marques_show > p > a{
        width: fit-content;
        margin: auto;
    }

    .marques_img {
        margin: auto;
        height: 40vw;
    }

    #actualites {
        padding-top: 8.33vw; /*120px; */
        padding-left: 3.47vw; /*50px; */
        padding-right: 50px; 
    }

    #actualites > div {
        display: block;
    }

    #actualites > div > p {
        display: none;
    }

    #actualites > div > p:first-child {
        display: block;
        width: 100%;

        text-align: center;
    }

    #actualites_arrows  {
        display: none;
    }

    #actualites_arrows > a {
        display: none;
    }

    #savoir {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        width: 100vw;
        height: auto;
        min-height: 200px;
        display: flex;
    }

    #savoir > div {
        margin: 0px;
        width: 100%;
        height: 200px;
    }

    #projets {
        margin-bottom: 14vw;
        width: 100vw;
        height: auto;

        text-align: center;

        display: flex;
        align-content: space-between;
    }

    #projets > div > div > div > img {
        margin: auto;
        width: 80vw;
        height: auto;
        text-align: center;
    }
    #projets > div > div > div > h2 {
        margin: auto;
        width: 80vw;
    }

    #projets h3 {
        margin: 0px;
        text-align: center;
        width: auto;
        font-size: 1.2em;
        font-family: Atak-Medium;
    }

    #projets > div > div > div {
        width: 80vw;
    }

    #projets > div {
        margin: 0px;
        width: 80vw;
    }
}