h1 {
    /* font-family: PlacardMT-Condensed */
    font-family: Helvetica;
    font-size: 3vw; /* 4em; */
    margin-bottom: 1.1vw;
    text-transform: uppercase;
}

h2 {
    font-size: 3.2vw;
    margin-bottom: .5vw;
}

h3 {
    margin: auto;
    width: 54vw;
    font-size: 26px;
    font-family: Atak-Medium;
}

h4 {
    font-family: Helvetica-Light;
    font-size: 1.2vw;
}

hr {
    border: 0.5px solid #DBBB76;
    margin: auto;
    margin-top: 1.11vw;
    margin-bottom: 1.11vw;
    width: 87.13vw;
}

.home_links {
    border: 1.5px solid #DBBB76;
    padding: .15vw; /*0.3em;*/
    padding-left: 1.59vw; /*1em;*/
    padding-right: 1.59vw; /*1em;*/
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing : 1.28px;
    font-family: Helvetica-light;
    font-style: italic;
}

.gallery_buttons {
    height: 100%;
    width: 10vw;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.gallery_buttons > div {
    margin: auto;

    font-size: 5em;
    font-family: Atak-Regular;
}

.gallery_buttons > div > img {
    width: 2vw;
}

.main_divs {
    text-align: center;
    font-family: Helvetica;
}

.marques_selected {
    text-decoration: underline !important;
}

.carousel-marques {
    width: 100%;
    height: 37.78vw; /*60vh;*/
    padding-top: 3.15vw; /*5vh;*/
}

.carousel-arrows {
    height: 2vw;
    width: 1vw;
    margin-top: 4vw;
}

.carousel-arrows-projets {
    height: 2vw;
    width: 1vw;
    margin-top: -11vw;
}

.carousel-item-content {
    width: 80%;
}

.carousel-item-image {
    float: left;
}

.slide-image {
    width: 34vw;
    height: auto;
    max-height: 31vw;
    object-fit: contain;
}

.slide-image-projects {
    width: 59vw;
    height: auto;
    /* max-height: 31vw; */
    object-fit: contain;
}

.carousel-indicators {
    margin: auto;
    width: 72.2vw;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.carousel-indicators > li {
    color: black !important;
    height: 0;
    width: auto;
    text-indent: 0;
}

.carousel-indicators > li > span {
    color: black !important;
    margin: auto;
    font-size: 1.8vw;
    line-height: 2vw;
    left: 0;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;
}

.carousel-indicators > li > span:hover {
    border-color: black;
    transition: all .5s ease;
    color: black;
}

.carousel-indicators .active > span{
    color: black;
    border-bottom: 1px solid black;
}

.marque-text
 {
     /* width: 80%; */
     padding-top: 6vw;
     margin: auto;
     text-align: left;
     font-size: 1.5vw;
 }

 .marque-text > p {
     font-family: Helvetica-Light;
 }

 .container2 {
    display: flex;
    flex-direction: column;
 }

 .container2 > h2 {
    font-family: Helvetica-Light;
    font-size: 2vw;
    margin-top: 0;
}

 .container2 > h2:first-child {
     text-transform: uppercase;
     font-size: 1.1vw;
     margin-top: 0;
 }

/* :host >>> .carousel-control-prev-icon {
    background-image: url("/assets/Images/Common/arrow_left.png");
    height: 4vw;
    width: 2vw;
    min-width: 20px;
} */

/* :host >>> .carousel-control-next-icon {
    background-image: url("/assets/Images/Common/arrow_right.png");
    height: 4vw;
    width: 2vw;
    min-width: 20px;
} */

/* :host >>> .carousel-indicators li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    margin: 1px;
  } */

#first_picture {
    max-width: 100%;
    width: auto;
    height: 100vh;
    background-image: url("/assets/Images/Home/HM_main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#first_picture > div {
    margin: auto;
    margin-top: 42.2vh;
}

#first_picture > div > img {
    max-width: 56vw;
    height: auto;
    width: 30vw;
}

#first_picture > div > p {
    text-align: center;
    font-size: 5.5vw;
}

#first_picture > div > p > a> img {
    /* max-height: 13vh; */
    vertical-align: bottom;
    /* padding-top: 20vw; */
    max-width: 15vw;
    height: auto;
    width: 3.2vw;
}

#first_picture > a > img {
    object-fit: contain;
    bottom: 0;
    margin-top: auto;
    padding-bottom: 1vw;
    text-align: center;
    max-width: 15vw;
    height: auto;
    min-width: 30px;
    width: 3.2vw;
}

#une_histoire
{
    width: 100%;
    height: auto; 
    min-height: 39vw;
    background-color: white;
    display: flex;
}

#une_histoire > div {
    margin: auto;
    margin-top: 9.12vw;
    margin-bottom: 8.12vw;
    width: 60.8vw;
    text-align: center;
}

#une_histoire > div > p {
    font-size: 1.6vw; /*2.01vw;  1.6em;*/
    line-height: 2vw;
    margin-bottom: 3.68vw;
    font-family: Helvetica-Light;
}

#une_histoire > div > p > a {
    font-size: 1.11vw; /*1.25vw; 0.6em;*/
}

#les_marques {
    width: 100%;
    /* height: 100vh;  */
    height: auto;
    background-color: #f3f5f5; /* RAL 1013: #e3d9c6; RAL 7047: #c8c8c7*/
    color: black;
    display: flex;
    flex-direction: row;
}

#marques_main {
    margin: auto;
    margin-top: 1.92vw;
    margin-bottom: 1.92vw;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#marques_main > h1 {
    margin: auto;
    margin-top: 1.2vw;
    font-family: Helvetica;
    font-size: 3vw;

}

/* #marques_list {
    margin: auto;
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
} */

#marques_show {
    margin: auto;

    display: flex;
    flex-direction: row;

    /*padding-left: 245px;
    padding-right: 245px;*/
}

#marques_show > p {
    width: 60%;
    margin: auto;

    text-align: left;
    font-size: 1.5vw; /*1.2em;*/
}

.container > .carousel-item-image > .slide-image {
    margin-top: 3vw;
}

#actualites {
    padding-top: 8vw; 
    padding-left: 3.88vw; 
    padding-right: 3.88vw; 
}

#actualites > div {
    display: flex;
    flex-direction: row;
}

#actualites > div > p {
    width: 25.4vw;

    margin: auto;
    margin-bottom: 0px;

    text-align: left;
    text-justify: justify;

    font-family: Helvetica-Light;
}

.actualites_img {
    width: 25.4vw;
    height: 33.33vw;
    object-fit: cover;
}

.more_links {
    font-family: Helvetica-Light;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: 1.45vw;
    margin-bottom: 0.25vw;
    display: block;
}

#actualites > div > p >span {
    font-size: 2.08vw;
    margin-bottom: .98vw;
    display: block;
}

#actualites_arrows {
    display: flex;
    justify-content: space-between;
}

#actualites_arrows > a {
    margin: auto;
    font-size: 1.7vw;
    line-height: 1em;
    font-family: Atak-Regular;
}

#actualites_arrows > a:nth-child(1){
    margin-left: 0px;
}

#actualites_arrows > a:nth-child(2) {
    margin-right: 0px;
}

#actualites_arrows > a > img {
    width: 2vw;
}

#savoir {
    margin: auto;
    margin-top: 10.08vw;
    width: 87vw; /*87.3vw;*/
    height: 49vw;
    display: flex;
    color: white;
}

/*NO VIDEO*/
#savoir > div:first-child {
    margin: auto;
    width: 87vw; /*87vw;*/
    /*width: 1255px;*/

    height: 49vw;
    /*
    background-image: url("/assets/Images/Home/HM_video.png");
    background-size: cover;
    background-position: center center;*/

    display: flex;
    flex-direction: column;
}

#savoir > div:last-child {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 87vw; /*87.3vw;*/
    height: 49vw;
    margin: auto;
}

#savoir > div:last-child > div{
    margin: auto;
}

video {
    width: 87vw; /*87.3vw;*/
    height: 49vw;
    margin: auto;
}

#savoir > div > h1 {
    margin: auto;
    margin-bottom: 0px;
    color: white;
}

#savoir > div > a {
    margin: auto;
    margin-top: 40px;
    color: white;
}

#projets {
    width: 100%;
    text-align: center;
    /* display: flex; */
    /* padding-top: 8vw; */
    margin-top: 7.12vw;
    margin-bottom: 8vw;
}

.projets-text > h4 {
    font-size: 1.8vw;
    margin-top: 1.09vw;
}

#projets > div {
    margin: auto;
    margin-bottom: 2.08vw;
}

/* #projets > div > div > div {
    display: flex;
    flex-direction: column;
    text-align: center;
} */

#projets > div > div > div > img {
    margin: auto;
    height: 35vw;
}

#projets > div > div > div > h2 {
    margin: auto;
    width: 55.5vw;
}


#projets > .gallery_buttons
{
    text-align: right;
}


#carousel-projets {
    width: 73.8vw;
    height: auto;
    margin: auto;
    margin-bottom: 5vw;
}

.container2 {
    text-align: center;
    height: auto;
}

.container2 > .projets-text {
    width: 59.3vw;
    margin: auto;
    font-family: Atak-Medium;
    font-size: 1.8vw;

}

.container2 > div > img {
    width: 59.3vw
}

.container2 > h2:nth-child(2) {
    width: 59.3vw;
    margin: auto;
    margin-bottom: .54vw;
}

#carousel-projets > a {
    width: 3.1vw;
    min-width: 20px;

    padding-top: 20%;
}

.container {
    display: flex;
    align-content: space-around;
    max-width: 75vw;
}

.container div {
    width: 50%;
}

@media only screen and (max-width: 768px){

    h1 {
        font-size: 4.5vw !important;
        margin: auto;
        margin-bottom: 2vw;
        text-align: center;
    }

    h4 {
        font-size: 3.2vw;
    }
    .gallery_buttons > div {
        padding: 1vw;
    }

    .gallery_buttons > div > img {
        width: 2vw;
        min-width: 20px;
    }



    #une_histoire {
        height: 100% !important;
        padding: 0px;
    }

    #une_histoire > div {
        margin: auto;
        text-align: center;
    }

    #une_histoire > div > p {
        font-size: 4.2vw;
        line-height: 1.24em;
    }

    #une_histoire > div > p > a {
        font-size: 3.3vw;
    }

    #les_marques {
        width: 100vw;
        padding: 10px;
        height: auto;

        background-color: #D3D3D3;
        color: black;

        display: flex;
        flex-direction: row;
    }

    #marques_main {
        display: flex;
        flex-direction: column;
    }

    #marques_main > h1 {
        margin: 0;
        margin-top: 10px;
    }

    #marques_show {
        margin: 0px;

        flex-direction: column;
        align-content: center;
        justify-content: center;

        padding-left: 0px !important;
        padding-right: 0px  !important;
    }

    #marques_show > p {
        width: 100%;
        margin: auto;

        display: flex;
        flex-direction: column;

        text-align: center;
        font-size: 5.3vw;
    }


    #marques_show > p > a{
        width: fit-content;
        margin: auto;
    }

    .marques_img {
        margin: auto;
        height: 40vw;
    }

    #actualites {
        padding-top: 8.33vw; /*120px; */
        /*padding-left: 3.47vw; /*50px; */
       /* padding-right: 50px; */
    }

    #actualites > div {
        display: block;
    }

    #actualites > div > p {
        display: none;
    }

    #actualites > div > p:first-child {
        display: block;
        width: 100%;

        text-align: center;
    }

    #actualites_arrows  {
        display: none;
    }

    #actualites_arrows > a {
        display: none;
    }

    #savoir {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        min-height: 200px;
        display: flex;
    }

    #savoir > div {
        margin: auto;
        width: 100%;
    }

    #savoir > div {
        margin: auto;
        width: 100% !important;
    }

    #projets {
        margin-bottom: 14vw;
        width: 100%;
        height: auto;

        text-align: center;

        display: flex;
        align-content: space-between;
    }

    #projets > div > div > div > img {
        margin: auto;
        width: 80vw;
        height: auto;
        text-align: center;
    }
    #projets > div > div > div > h2 {
        margin: auto;
        width: 80vw;
    }

    #projets h3 {
        margin: 0px;
        text-align: center;
        width: auto;
        font-size: 5.3vw;
        font-family: Atak-Medium;
    }

    #projets > div > div > div {
        width: 80vw;
    }

    #projets > div {
        width: 100%;
    }

    .container {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .marque-text {
        padding-top: 0px;
        width: 100% !important;
    }

    .carousel-marques {
        height: auto;
    }


    .marque-text{
        text-align: center;
    }

    #une_histoire {
        padding: 7.8vw;
        padding-top: 15.5vw;
        padding-bottom: 15.5vw;
    }

    #une_histoire > div {
        padding: 0px;
        width: 77.7vw;
    }

    .slide-image {
        width: 58.9vw;
    }

    video {
        width: 100%;
        height: auto;
    }

    .marque-text {
        font-size: 4.2vw;
    }

    .home_links {
        font-size: 3.9vw;
    }

    #actualites > div > p >span {
        font-size: 3.6vw;
    }
    #savoir > div:last-child {
        margin-top: 5%;
        margin-bottom: 0px;
    }
}