h2 {
    font-family: Helvetica;
    font-size: 2.4vw;
}

h5 {
    font-size: 1.68vw;
    font-weight: 100;
    font-family: Helvetica-Light;
}

h6 {
    font-family: Helvetica-Light;
    font-size: 0.9vw;
}

.hide-item, .show-item {
    display: block;
}

.arrow {
    display: none;
}

.center {
    text-align: center;
} 

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 54vw;
    margin: auto;
}

.img-container {
    padding: 0vw 2vw;
}

.img-button {
    /* max-height: 200px; */
    width: 14vw;
}


#staticText {
    width: 30.55vw;
}


/* workaround to fix bootstrap`s modal bug in Angular
   Without this fix the dark background will cover the modal. */
   .modal {
    background-color: rgba(127, 127, 127, 0.5); 
  }

.modal-backdrop {
    position: relative;
  }

/****************************************************************/

#modal-large {
    min-width: 1000px !important;
}

/* close button of modal */
.close {
    margin-left: 0 !important;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-content {
    background-color: #f3f5f5;
    text-align: center; 
    min-height: 600px; 
}

.modal-style {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.whiteSpace {
    width: 150px;
}

#td-img {
    object-fit: contain;
    max-height: 500px;
    text-align: center;
}

.modal-arrow {
    height: 2vw;
    width: 1vw;
    margin-top: 200%;
}

.cursor-pointer {
    cursor: pointer;
}

.card {
    background-color: #f3f5f5;
    border: 0 !important;
}




@media only screen and (max-width: 800px){

    .arrow {
        /* display: inline; */
        margin: auto;
        margin-left: 0px;
        display: block;
        width: 13px;
        height: 13px;
    }

    .hide-item {
        display: none !important;
    }

    #staticText {
        width: 88.3vw;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: baseline;
    }

    #staticText > h5 {
        font-size: 4.16vw;
        text-align: center;

        width: 75.22vw;
    }

    #container {
        flex-direction: column;
    }
}