<div id="container" class="d-print-none">
  <div class="image-list">
    <div *ngFor="let item of TDImages; let i=index" class="center">
      <img class="img-button" [src]="item.src" alt="">
      <div class="center">
        <h2>{{item.prodCode}}</h2>
      </div>
    </div>
  </div>
</div>

<!-- PRINT -->
<div class="d-none d-print-inline-block" *ngIf="TDImages.length>0">
  <div style="width:88%; margin-left: auto; margin-right: auto;">
    <span>DRAWINGS</span>
    <hr>
  </div>
  <div class="image-list">
      <div class="d-print-inline-block center break" *ngFor="let item of TDImages; let i=index">
        <img class="img-button" [src]="item.src">
      <div class="center">
        <h3>{{item.prodCode}}</h3>
      </div>
    </div>
  </div>
</div>
