h2 {
  font-family: Helvetica-Light;
  font-size: 1.5vw;

  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
  @media only screen and (max-width: 576px){
    font-size: 12px;
  }
}

h6 {
  font-family: Helvetica-Light;
  font-size: 0.9vw;
}

#container {
  padding-top: 5vw;
}

.center {
  text-align: center;
}

.image-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  > div {
    margin-bottom: 4vw;
  }
}

.img-button {
  width: 60vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.66vw;

  @media only screen and (max-width: 768px) {
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  #container {
    padding-top: 60px;
    h2 {
      font-size: 18px;
    }

    .image-list {
      > div {
        margin-bottom: 48px;
      }
    }

    .img-button {
      width: 720px;
      margin-bottom: 20px;
    }
  }
}

@media print {
  hr {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
    border-width: 2px;
    border-color: black;
  }
  
  h3 {
    font-family: Helvetica;
    font-size: 22px;
  }

  .break{
    break-after: all;
    break-inside: auto;
  }

  .avoid {
    break-inside: avoid;
  }

  .image-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-top: 50px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 2px solid #ddd;
      text-align: center;
      div {
        border: 0px !important;
      } 
    }
  }

  .img-button {
    margin-bottom: 2vw;
    width: 100%;
    object-fit: contain;
  }
}
