<div id="container">
  <br>
  <!-- <div id="staticText" (click)="toggleElement()">
    <h5>TECHNICAL<br>DRAWINGS</h5>
    <img alt="JNL Collection" src="\assets\Images\Common\mobile_arrow_down.png" class="arrow">
  </div>
   <div id="description" [ngClass]="(this.toggle === false) ? 'hide-item' :'show-item'"> -->
  <div>
    <br>
    <h5 class="center">Technical Drawings</h5>
    <br>
    <br>
    <div class="image-list">
      <div *ngFor="let item of TDImages; let i=index" class="img-container">
        <a>
          <img class="img-button" [src]="item.src" alt="" (click)="sendToModal(item)" data-toggle="modal"
            data-target="#TDModal">
        </a>
        <div class="center">
          <br>
          <h6>{{item.prodCode}}</h6>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <!-- </div> -->
</div>

<!-- MODAL -->
<div class="modal fade" id="TDModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  (click)="closeModal()" data-backdrop="false">
  <div id="modal-large" class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div style="width: 30px;"></div><!-- empty div for alignment purposes-->
        <div>
          <h2 class="modal-title" id="ModalLabel">{{family}} {{product.model}}</h2>
        </div>
        <button type="button" id="btClose" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-nav">
          <div class="whiteSpace">
            <img class="modal-arrow cursor-pointer" src="assets\Images\Common\arrow_left.png"
              (click)="navigate('previous')" *ngIf="TDImages.length>1">
          </div>
          <div>
            <img id="td-img" [src]=currentTDImage?.src alt="...">
          </div>
          <div class="whiteSpace">
            <img class="modal-arrow cursor-pointer" src="assets\Images\Common\arrow_right.png"
              (click)="navigate('next')" *ngIf="TDImages.length>1">
          </div>
        </div>
        <div class="prod-code">
          <h5>{{currentTDImage?.prodCode}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>