h2 {
    font-family: Helvetica;
    font-size: 2.4vw;
}

h5 {
    font-size: 1.68vw;
    font-weight: 100;
    font-family: Helvetica-Light;
}

.hide-item, .show-item {
    display: block;
}

.arrow {
    display: none;
}

#container {
    background-color: #f3f5f5;
}

.center {
    text-align: center;
} 

.image-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.img-container {
    margin-left: 10px;
    margin-right: 10px;
}

.img-button {
    max-height: 200px;
    max-width: 200px;
}


#staticText {
    width: 30.55vw;
}



@media only screen and (max-width: 800px){

    .arrow {
        /* display: inline; */
        margin: auto;
        margin-left: 0px;
        display: block;
        width: 13px;
        height: 13px;
    }

    .hide-item {
        display: none !important;
    }

    #staticText {
        width: 88.3vw;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: baseline;
    }

    #staticText > h5 {
        font-size: 4.16vw;
        text-align: center;

        width: 75.22vw;
    }

    #container {
        flex-direction: column;
    }
}