<div id="container">
  <br>
  <!-- <div id="staticText" (click)="toggleElement()">
    <h5>TECHNICAL<br>DRAWINGS</h5>
    <img alt="JNL Collection" src="\assets\Images\Common\mobile_arrow_down.png" class="arrow">
  </div>
   <div id="description" [ngClass]="(this.toggle === false) ? 'hide-item' :'show-item'"> -->
  <div>
    <h5 class="center">Technical Drawings</h5>
    <br>
    <div class="image-list">
      <div *ngFor="let item of imgThumbs" class="img-container">
        <a>
          <img class="img-button" [src]="item" alt="" (click)="sendToModal(item)">
        </a>
        <div class="center">
          <h6>{{product.model}}</h6>
        </div>
      </div>

    </div>
    <div class="clear"></div>

  </div>
  <!-- </div> -->
</div>