h1{
    font-family: Helvetica;
    font-size: 3vw;

    text-transform: uppercase;

    text-align: center !important;
}

h4
{
    font-size: 1.6em;
    line-height: 1.24em;

    margin: auto;

    font-family: Helvetica-light;
    font-size: 2.4vw;
    font-style: italic;

    text-align: center;

    margin-bottom: 5vw;
}

.first-picture {
    width: 76vw;
    margin: auto;
    margin-top: 0px;
    text-align: center;
}

.home_links {
    border: 1.5px solid #DBBB76;
    padding: .15vw 1.59vw;
    font-size: 1vw;
    text-transform: uppercase;
}

.parag {
    width: 76vw;
    margin: auto;

    font-family: Helvetica-light;
    font-size: 1.7vw;
    text-align: left;

    text-align: justify;
    
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.ac-img {
    width: 30vw;
    float: left;
    margin-left: 11.8vw;
    margin-right: 2vw;
}

.ac-img2 {
    width: 30vw;
    float: right;
    margin-left: 2vw;
    margin-right: 11.8vw;
}

#autres {
    width: 76vw;
    height: 6vw;
    margin: auto;
    margin-bottom: 3vw;

    justify-content: space-between;

    display: flex;
 }

 #autres > p {
     background-color: #D3D3D3 !important;
     width: 37.5vw;
     text-align: center;

     display: flex;

     margin: 0;
 }

 #autres > p > span {
    margin: auto;

    font-family: Helvetica-light;
    font-size: 1.8vw;
}

#links {
    width: 100vw;
    display: flex;

    
    margin-bottom: 5vw;
}

#links > a {
    margin: auto;
}

#actualites-div {
    padding-top: 5.9vw;
}

@media only screen and (max-width: 768px){
    .home_links {
        font-size: 3.9vw;
    }


}