  <div id="actualites-div">
    <h1>{{text.articleTitle}}</h1>
    <h4>{{text.articleSubtitle}}</h4>
    
    <!-- <div class="image-div">
      <img class="first-picture" alt="JNL Collection" src="assets/Images/Marque_V/MKV_pic1.jpg">
    </div> -->

    <div>
      <img alt="JNL Collection" src={{text.pic1}} class="ac-img">
      <p class="parag" [innerHTML] = "text.articleText1"></p>
      <img alt="JNL Collection" src={{text.pic2}} class="ac-img2">
      <p class="parag" [innerHTML] = "text.articleText2"></p>
    </div>

    <!-- <div id="autres">
      <p (click)="navigateToActualite(-1)"><span>ACTUALITÉ PRÉCÉDENTE</span></p>
      <p (click)="navigateToActualite(1)"><span>ACTUALITÉ SUIVANTE</span></p>
    </div> -->

    <div id="links">
      <a class="home_links" (click)="goBack()">Retour a home</a>
    </div>
</div>
  
